openapi: 3.0.2
info:
  title: Workday Strategic Sourcing attachments supplier_company_risks API
  version: '1.0'
  description: '<span id="section/Authentication/api_key" data-section-id="section/Authentication/api_key"></span>

    <span id="section/Authentication/user_token" data-section-id="section/Authentication/user_token"></span>

    <span id="section/Authentication/user_email" data-section-id="section/Authentication/user_email"></span>

    '
servers:
- url: https://api.us.workdayspend.com/services/attachments/v1
  description: Production Server
- url: https://api.sandbox.us.workdayspend.com/services/attachments/v1
  description: Sandbox Server
security:
- api_key: []
  user_token: []
  user_email: []
tags:
- name: supplier_company_risks
  x-displayName: Supplier Company Risks
  description: 'Use the supplier company risks API to create, update, and query the supplier company risks in Workday Strategic Sourcing.


    ## Supplier Company Risk Object


    <SchemaDefinition schemaRef="#/components/schemas/SupplierCompanyRisk" showReadOnly={true} showWriteOnly={true} />

    '
paths:
  /supplier_company_risks:
    get:
      tags:
      - supplier_company_risks
      description: Returns a list of supplier company risks.
      operationId: List Supplier Company Risks
      summary: List Supplier Company Risks
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SupplierCompanyRisk'
              examples:
                success:
                  $ref: '#/components/examples/index_response-6'
        '401':
          description: Unauthorized
      x-codeSamples:
      - label: Curl
        source: "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_company_risks\"\n"
    post:
      tags:
      - supplier_company_risks
      description: 'Create a supplier company risk with given parameters.

        '
      operationId: Create a Supplier Company Risk
      summary: Create a Supplier Company Risk
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/SupplierCompanyRiskCreate'
            examples:
              general:
                $ref: '#/components/examples/create_request-5'
      responses:
        '201':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SupplierCompanyRisk'
              examples:
                general:
                  $ref: '#/components/examples/create_response-6'
        '401':
          description: Unauthorized
        '409':
          description: Conflict
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
              examples:
                invalid_type:
                  summary: Missing or invalid 'type' specified, expected 'supplier_company_risks'
                  description: 'Returns error due to invalid `type` parameter.

                    '
                  value:
                    errors:
                    - detail: Missing or invalid 'type' specified, expected 'supplier_company_risks'
                duplicate_label:
                  summary: Duplicate `label` value provided
                  description: 'Returns error due to already taken `label` attribute.

                    '
                  value:
                    errors:
                    - source:
                        pointer: /data/attributes/label
                      title: Validation Error
                      detail: label has already been taken
      x-codeSamples:
      - label: Curl
        source: "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":{\"type\":\"supplier_company_risks\",\"attributes\":{\"label\":\"Super High!\",\"color\": \"red\",\"order\":4}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_company_risks\"\n"
  /supplier_company_risks/{id}:
    patch:
      tags:
      - supplier_company_risks
      description: 'Updates the details of an existing supplier company risk. You need to supply the unique

        identifier that was returned upon supplier company risk creation.


        Please note, that request body must include an `id` attribute with the value of your supplier company risk

        unique identifier (the same one you passed in the URL).

        '
      operationId: Update a Supplier Company Risk
      summary: Update a Supplier Company Risk
      parameters:
      - name: id
        in: path
        description: Unique supplier company risk identifier.
        required: true
        schema:
          type: integer
        example: 1
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/SupplierCompanyRiskUpdate'
            examples:
              success:
                $ref: '#/components/examples/update_request-6'
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SupplierCompanyRisk'
              examples:
                success:
                  $ref: '#/components/examples/update_response-6'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
              examples:
                invalid_type:
                  summary: Missing or invalid 'type' specified, expected 'supplier_company_risks'
                  description: 'Returns error due to invalid `type` parameter.

                    '
                  value:
                    errors:
                    - detail: Missing or invalid 'type' specified, expected 'supplier_company_risks'
                duplicate_label:
                  summary: Duplicate `label` value provided
                  description: 'Returns error due to already taken `label` attribute.

                    '
                  value:
                    errors:
                    - source:
                        pointer: /data/attributes/label
                      title: Validation Error
                      detail: label has already been taken
      x-codeSamples:
      - label: Curl
        source: "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"supplier_company_risks\",\"id\":\"2\",\"attributes\":{\"label\":\"Very High\",\"color\":\"red\",\"order\":1}}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_company_risks/2\"\n"
    delete:
      tags:
      - supplier_company_risks
      description: 'Deletes a supplier company risk. You need to supply the unique supplier company risk

        identifier that was returned upon supplier company risk creation.

        '
      operationId: Delete a Supplier Company Risk
      summary: Delete a Supplier Company Risk
      parameters:
      - name: id
        in: path
        description: Unique supplier company risk identifier.
        required: true
        schema:
          type: integer
        example: 1
      responses:
        '204':
          description: OK
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      x-codeSamples:
      - label: Curl
        source: "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_company_risks/1\"\n"
components:
  examples:
    create_request-5:
      value:
        data:
          type: supplier_company_risks
          attributes:
            label: Super High!
            color: red
            order: 4
    update_response-6:
      value:
        data:
          id: '4'
          type: supplier_company_risks
          attributes:
            label: Very High
            slug: super_high_25672734-8f8f-4735-9099-8a4f3c64505a
            color: red
            order: 1
    update_request-6:
      value:
        data:
          id: '4'
          type: supplier_company_risks
          attributes:
            label: Very High
            color: red
            order: 1
    create_response-6:
      value:
        data:
          id: '4'
          type: supplier_company_risks
          attributes:
            label: Super High!
            order: 4
            color: red
            slug: super_high_25672734-8f8f-4735-9099-8a4f3c64505a
    index_response-6:
      value:
        data:
        - id: '1'
          type: supplier_company_risks
          attributes:
            label: Green
            slug: low
            color: green
            order: 1
        - id: '2'
          type: supplier_company_risks
          attributes:
            label: Yellow
            slug: medium
            color: yellow
            order: 2
        - id: '3'
          type: supplier_company_risks
          attributes:
            label: Red
            slug: high
            color: red
            order: 3
        - id: '4'
          type: supplier_company_risks
          attributes:
            label: Super High!
            slug: super_high_25672734-8f8f-4735-9099-8a4f3c64505a
            color: red
            order: 4
        links:
          self: https://api.us.workdayspend.com/services/suppliers/v1/supplier_company_risks
  schemas:
    SupplierCompanyRiskCreate:
      type: object
      required:
      - type
      properties:
        type:
          $ref: '#/components/schemas/SupplierCompanyRiskType'
        attributes:
          allOf:
          - $ref: '#/components/schemas/SupplierCompanyRiskCreateAttributes'
          - type: object
            required:
            - label
            - color
    SupplierCompanyRiskId:
      type: integer
      description: Supplier company risk identifier string.
      example: 1
    Error:
      type: object
      properties:
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
    SupplierCompanyRiskAttributes:
      type: object
      description: Supplier company risk attributes.
      required:
      - label
      - color
      properties:
        label:
          type: string
          maxLength: 255
          description: Supplier company risk label.
          example: Low
        order:
          type: integer
          description: Supplier company risk order
          example: 1
        color:
          type: string
          description: Supplier company risk color
          enum:
          - gray
          - green
          - yellow
          - orange
          - red
    SupplierCompanyRiskCreateAttributes:
      type: object
      description: Supplier company risk attributes.
      required:
      - label
      - color
      properties:
        label:
          type: string
          maxLength: 255
          description: Supplier company risk label.
          example: Low
        order:
          type: integer
          description: Supplier company risk order
          example: 1
        color:
          type: string
          description: Supplier company risk color
          enum:
          - gray
          - green
          - yellow
          - orange
          - red
    SupplierCompanyRiskBase:
      title: Field
      type: object
      required:
      - type
      - id
      properties:
        type:
          $ref: '#/components/schemas/SupplierCompanyRiskType'
        id:
          $ref: '#/components/schemas/SupplierCompanyRiskId'
    SupplierCompanyRiskUpdate:
      type: object
      required:
      - type
      - id
      properties:
        type:
          $ref: '#/components/schemas/SupplierCompanyRiskType'
        id:
          $ref: '#/components/schemas/SupplierCompanyRiskId'
        attributes:
          $ref: '#/components/schemas/SupplierCompanyRiskAttributes'
    SupplierCompanyRisk:
      allOf:
      - $ref: '#/components/schemas/SupplierCompanyRiskBase'
      - type: object
        properties:
          attributes:
            $ref: '#/components/schemas/SupplierCompanyRiskCreateAttributes'
    Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    SupplierCompanyRiskType:
      type: string
      description: Object type, should always be `supplier_company_risks`.
      example: supplier_company_risks
  securitySchemes:
    api_key:
      type: apiKey
      name: X-Api-Key
      in: header
      description: Company API key.
    user_token:
      type: apiKey
      name: X-User-Token
      in: header
      description: User token.
    user_email:
      type: apiKey
      name: X-User-Email
      in: header
      description: User email.
x-tagGroups:
- name: Getting Started
  tags:
  - support
  - servers
  - api_specification
  - authentication
  - rate_limiting
- name: Attachments
  tags:
  - attachments
