openapi: 3.0.2
info:
  title: Workday Strategic Sourcing attachments supplier_categories API
  version: '1.0'
  description: '<span id="section/Authentication/api_key" data-section-id="section/Authentication/api_key"></span>

    <span id="section/Authentication/user_token" data-section-id="section/Authentication/user_token"></span>

    <span id="section/Authentication/user_email" data-section-id="section/Authentication/user_email"></span>

    '
servers:
- url: https://api.us.workdayspend.com/services/attachments/v1
  description: Production Server
- url: https://api.sandbox.us.workdayspend.com/services/attachments/v1
  description: Sandbox Server
security:
- api_key: []
  user_token: []
  user_email: []
tags:
- name: supplier_categories
  x-displayName: Supplier Categories
  description: 'Use the supplier categories API to create, update, and query the supplier categories in Workday Strategic Sourcing.


    ## Supplier Category Object


    <SchemaDefinition schemaRef="#/components/schemas/SupplierCategory" showReadOnly={true} showWriteOnly={true} />

    '
paths:
  /supplier_categories:
    get:
      tags:
      - supplier_categories
      description: Returns a list of supplier categories.
      operationId: List Supplier Categories
      summary: List Supplier Categories
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SupplierCategory'
              examples:
                success:
                  $ref: '#/components/examples/index_response-8'
                compound preview:
                  $ref: '#/components/examples/index_preview_response-4'
        '401':
          description: Unauthorized
      x-codeSamples:
      - label: Curl
        source: "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_categories\"\n"
    post:
      tags:
      - supplier_categories
      description: 'Create a supplier category with given parameters.

        '
      operationId: Create a Supplier Category
      summary: Create a Supplier Category
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/SupplierCategoryCreate'
            examples:
              success:
                $ref: '#/components/examples/create_request-7'
      responses:
        '201':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SupplierCategory'
              examples:
                success:
                  $ref: '#/components/examples/create_response-8'
                compound preview:
                  $ref: '#/components/examples/create_preview_response-4'
        '401':
          description: Unauthorized
      x-codeSamples:
      - label: Curl
        source: "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":{\"type\":\"supplier_categories\",\"attributes\":{\"name\":\"Supplier Category\"}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_categories\"\n"
  /supplier_categories/{id}:
    patch:
      tags:
      - supplier_categories
      description: 'Updates the details of an existing supplier category. You need to supply the unique

        identifier that was returned upon supplier category creation.


        Please note, that request body must include an `id` attribute with the value of your supplier category

        unique identifier (the same one you passed in the URL).

        '
      operationId: Update a Supplier Category
      summary: Update a Supplier Category
      parameters:
      - name: id
        in: path
        description: Unique supplier category identifier.
        required: true
        schema:
          type: integer
        example: 1
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/SupplierCategoryUpdate'
            examples:
              success:
                $ref: '#/components/examples/update_request-8'
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SupplierCategory'
              examples:
                success:
                  $ref: '#/components/examples/update_response-8'
                compound preview:
                  $ref: '#/components/examples/update_preview_response-4'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
              examples:
                invalid_type:
                  summary: Missing or invalid 'type' specified, expected 'supplier_categories'
                  description: 'Returns error due to invalid `type` parameter.

                    '
                  value:
                    errors:
                    - detail: Missing or invalid 'type' specified, expected 'supplier_categories'
      x-codeSamples:
      - label: Curl
        source: "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"supplier_categories\",\"id\":\"2\",\"attributes\":{\"name\":\"Updated Supplier Category\"}}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_categories/2\"\n"
    delete:
      tags:
      - supplier_categories
      description: 'Deletes a supplier category. You need to supply the unique supplier category

        identifier that was returned upon supplier category creation.

        '
      operationId: Delete a Supplier Category
      summary: Delete a Supplier Category
      parameters:
      - name: id
        in: path
        description: Unique supplier category identifier.
        required: true
        schema:
          type: integer
        example: 1
      responses:
        '204':
          description: OK
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      x-codeSamples:
      - label: Curl
        source: "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_categories/1\"\n"
  /supplier_categories/{external_id}/external_id:
    patch:
      tags:
      - supplier_categories
      description: 'Updates the details of an existing supplier category. You need to supply the unique

        external identifier assigned to the supplier category on creation.


        Please note, that request body must include an `id` attribute with the value of your supplier category

        unique identifier (the same one you passed in the URL).

        '
      operationId: Update a Supplier Category by External ID
      summary: Update a Supplier Category by External ID
      parameters:
      - name: external_id
        in: path
        description: Unique supplier category external identifier.
        required: true
        schema:
          type: string
        example: SUPCAT
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/SupplierCategoryUpdate'
            examples:
              success:
                $ref: '#/components/examples/external_update_request-5'
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SupplierCategory'
              examples:
                success:
                  $ref: '#/components/examples/external_update_response-5'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      x-codeSamples:
      - label: Curl
        source: "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"supplier_categories\",\"id\":\"SUPCAT\",\"attributes\":{\"name\":\"Updated Supplier Category\"}}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_categories/SUPCAT/external_id\"\n"
    delete:
      tags:
      - supplier_categories
      description: 'Deletes a supplier category. You need to supply the unique supplier category

        external identifier assigned to the supplier category on creation.

        '
      operationId: Delete a Supplier Category by External ID
      summary: Delete a Supplier Category by External ID
      parameters:
      - name: external_id
        in: path
        description: Unique supplier category external identifier.
        required: true
        schema:
          type: string
        example: SUPCAT
      responses:
        '204':
          description: OK
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      x-codeSamples:
      - label: Curl
        source: "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_categories/SUPCAT/external_id\"\n"
components:
  examples:
    index_response-8:
      value:
        data:
        - id: '1'
          type: supplier_categories
          attributes:
            name: 'Supplier Category #1'
            external_id: SUPCAT-1
          links:
            self: https://api.us.workdayspend.com/services/suppliers/v1/supplier_categories/1
        - id: '2'
          type: supplier_categories
          attributes:
            name: 'Supplier Category #2'
            external_id: SUPCAT-2
          links:
            self: https://api.us.workdayspend.com/services/suppliers/v1/supplier_categories/2
        links:
          self: https://api.us.workdayspend.com/services/suppliers/v1/supplier_categories
    update_response-8:
      value:
        data:
          id: '1'
          type: supplier_categories
          attributes:
            name: Supplier Category Updated
            external_id: SUPCAT-UPD
          links:
            self: https://api.us.workdayspend.com/services/suppliers/v1/supplier_categories/1
    create_response-8:
      value:
        data:
          id: '1'
          type: supplier_categories
          attributes:
            name: 'Supplier Category #1'
            external_id: SUPCAT-1
          links:
            self: https://api.us.workdayspend.com/services/suppliers/v1/supplier_categories/1
    index_preview_response-4:
      value:
        data:
        - id: '1'
          type: supplier_categories
          attributes:
            name: 'Supplier Category #1'
            external_id: SUPCAT-1
          relationships:
            wday_identifier:
              data:
                id: supplier_categories-1
                type: wday_identifiers
          links:
            self: https://api.us.workdayspend.com/services/suppliers/v1/supplier_categories/1
        - id: '2'
          type: supplier_categories
          attributes:
            name: 'Supplier Category #2'
            external_id: SUPCAT-2
          relationships:
            wday_identifier:
              data:
                id: supplier_categories-2
                type: wday_identifiers
          links:
            self: https://api.us.workdayspend.com/services/suppliers/v1/supplier_categories/2
        links:
          self: https://api.us.workdayspend.com/services/suppliers/v1/supplier_categories
        included:
        - id: supplier_categories-1
          type: wday_identifiers
          attributes:
            wid: SUPCAT-WID-1
        - id: supplier_categories-2
          type: wday_identifiers
          attributes:
            wid: SUPCAT-WID-2
    update_preview_response-4:
      value:
        data:
          id: '1'
          type: supplier_categories
          attributes:
            name: Supplier Category Updated
            external_id: SUPCAT-UPD
          relationships:
            wday_identifier:
              data:
                id: supplier_categories-1
                type: wday_identifiers
          links:
            self: https://api.us.workdayspend.com/services/suppliers/v1/supplier_categories/1
        included:
        - id: supplier_categories-1
          type: wday_identifiers
          attributes:
            wid: SUPCAT-WID-UPD
    external_update_request-5:
      value:
        data:
          type: supplier_categories
          id: SUPCAT
          attributes:
            name: Supplier Category Updated
    create_preview_response-4:
      value:
        data:
          id: '1'
          type: supplier_categories
          attributes:
            name: 'Supplier Category #1'
            external_id: SUPCAT-1
          relationships:
            wday_identifier:
              data:
                id: supplier_categories-1
                type: wday_identifiers
          links:
            self: https://api.us.workdayspend.com/services/suppliers/v1/supplier_categories/1
        included:
        - id: supplier_categories-1
          type: wday_identifiers
          attributes:
            wid: SUPCAT-WID-1
    external_update_response-5:
      value:
        data:
          id: '1'
          type: supplier_categories
          attributes:
            name: Supplier Category Updated
            external_id: SUPCAT
          links:
            self: https://api.us.workdayspend.com/services/suppliers/v1/supplier_categories/1
    update_request-8:
      value:
        data:
          type: supplier_categories
          id: '1'
          attributes:
            name: Supplier Category Updated
            external_id: SUPCAT-UPD
    create_request-7:
      value:
        data:
          type: supplier_categories
          attributes:
            name: 'Supplier Category #1'
            external_id: SUPCAT-1
  schemas:
    SupplierCategoryId:
      type: integer
      description: Supplier category identifier string.
      example: 1
    SupplierCategoryAttributes:
      type: object
      description: Supplier category attributes.
      required:
      - name
      properties:
        name:
          type: string
          maxLength: 255
          description: Supplier category name.
        external_id:
          type: string
          maxLength: 255
          description: Supplier category external identifier.
    SupplierCategoryUpdate:
      type: object
      required:
      - type
      - id
      properties:
        type:
          $ref: '#/components/schemas/SupplierCategoryType'
        id:
          $ref: '#/components/schemas/SupplierCategoryId'
        attributes:
          $ref: '#/components/schemas/SupplierCategoryAttributes'
    SupplierCategory:
      allOf:
      - $ref: '#/components/schemas/SupplierCategoryBase'
      - type: object
        properties:
          attributes:
            $ref: '#/components/schemas/SupplierCategoryAttributes'
    SupplierCategoryCreate:
      type: object
      required:
      - type
      properties:
        type:
          $ref: '#/components/schemas/SupplierCategoryType'
        attributes:
          $ref: '#/components/schemas/SupplierCategoryAttributes'
    Error:
      type: object
      properties:
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
    SupplierCategoryType:
      type: string
      description: Object type, should always be `supplier_categories`.
      example: supplier_categories
    Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    SupplierCategoryBase:
      title: Field
      type: object
      required:
      - type
      - id
      properties:
        type:
          $ref: '#/components/schemas/SupplierCategoryType'
        id:
          $ref: '#/components/schemas/SupplierCategoryId'
  securitySchemes:
    api_key:
      type: apiKey
      name: X-Api-Key
      in: header
      description: Company API key.
    user_token:
      type: apiKey
      name: X-User-Token
      in: header
      description: User token.
    user_email:
      type: apiKey
      name: X-User-Email
      in: header
      description: User email.
x-tagGroups:
- name: Getting Started
  tags:
  - support
  - servers
  - api_specification
  - authentication
  - rate_limiting
- name: Attachments
  tags:
  - attachments
