openapi: 3.2.0
info:
  title: Workday Strategic Sourcing Fields Field Groups API
  version: '1.0'
  description: ''
servers:
- url: https://api.us.workdayspend.com/services/fields/v1
  description: Production Server
- url: https://api.sandbox.us.workdayspend.com/services/fields/v1
  description: Sandbox Server
security:
- api_key: []
  user_token: []
  user_email: []
tags:
- name: Field groups
  x-displayName: Field Groups
  description: 'Use the fields API to create, update, and query the custom fields groups in Workday Strategic Sourcing.

    Custom field groups act as a collection of custom fields. Every newly made custom field

    with requires a custom field group (except for the fields with `target_object` set to `RFP`).


    ## Field Group Object'
paths:
  /field_groups:
    get:
      tags:
      - Field groups
      description: Returns a list of field groups.
      operationId: ListFieldGroups
      summary: List Field Groups
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FieldGroup'
              examples:
                success:
                  $ref: '#/components/examples/index_response-3'
        '401':
          description: Unauthorized
      x-codeSamples:
      - label: Curl
        source: "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/fields/v1/field_groups\"\n"
      x-operation-id-source: normalized
      x-operation-id-original: List Field Groups
    post:
      tags:
      - Field groups
      description: Create a field group with given parameters.
      operationId: CreateAFieldGroup
      summary: Create a Field Group
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/FieldGroupCreate'
            examples:
              success:
                $ref: '#/components/examples/create_request-3'
      responses:
        '201':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/FieldGroup'
              examples:
                success:
                  $ref: '#/components/examples/create_response-3'
        '401':
          description: Unauthorized
      x-codeSamples:
      - label: Curl
        source: "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":{\"type\":\"fields\",\"attributes\":{\"name\":\"custom_field\"}}' \\\n     \"https://api.us.workdayspend.com/services/fields/v1/field_groups\"\n"
      x-operation-id-source: normalized
      x-operation-id-original: Create a Field Group
  /field_groups/{id}:
    get:
      tags:
      - Field groups
      description: 'Retrieves the details of an existing field group. You need to supply the unique

        field group identifier that was returned upon group creation.'
      operationId: GetAFieldGroup
      summary: Get a Field Group
      parameters:
      - name: id
        in: path
        description: Unique Field identifier.
        required: true
        schema:
          type: integer
        example: 1
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/FieldGroup'
              examples:
                success:
                  $ref: '#/components/examples/show_response-2'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      x-codeSamples:
      - label: Curl
        source: "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/fields/v1/field_groups/1\"\n"
      x-operation-id-source: normalized
      x-operation-id-original: Get a Field Group
    patch:
      tags:
      - Field groups
      description: 'Updates the details of an existing field group. You need to supply the unique

        identifier that was returned upon field group creation.


        Please note, that request body must include an `id` attribute with the value of your field

        unique identifier (the same one you passed in the URL).'
      operationId: UpdateAFieldGroup
      summary: Update a Field Group
      parameters:
      - name: id
        in: path
        description: Unique Field Group identifier.
        required: true
        schema:
          type: integer
        example: 1
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/FieldGroupUpdate'
            examples:
              success:
                $ref: '#/components/examples/update_request-3'
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/FieldGroup'
              examples:
                success:
                  $ref: '#/components/examples/update_response-3'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
              examples:
                invalid_type:
                  summary: Missing or invalid 'type' specified, expected 'field_groups'
                  description: 'Returns error due to invalid `type` parameter.

                    '
                  value:
                    errors:
                    - detail: Missing or invalid 'type' specified, expected 'field_groups'
      x-codeSamples:
      - label: Curl
        source: "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"field_groups\",\"id\":\"2\",\"attributes\":{\"name\":\"Updated Field Group Name\"}}}' \\\n     \"https://api.us.workdayspend.com/services/fields/v1/field_groups/2\"\n"
      x-operation-id-source: normalized
      x-operation-id-original: Update a Field Group
    delete:
      tags:
      - Field groups
      description: 'Deletes a field group. You need to supply the unique field group

        identifier that was returned upon field group creation.'
      operationId: DeleteAFieldGroup
      summary: Delete a Field Group
      parameters:
      - name: id
        in: path
        description: Unique Field Group identifier.
        required: true
        schema:
          type: integer
        example: 1
      responses:
        '204':
          description: OK
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      x-codeSamples:
      - label: Curl
        source: "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/fields/v1/field_groups/1\"\n"
      x-operation-id-source: normalized
      x-operation-id-original: Delete a Field Group
components:
  examples:
    update_request-3:
      value:
        data:
          id: '1'
          type: field_groups
          attributes:
            name: Updated Field Group
    show_response-2:
      value:
        data:
          id: '1'
          type: field_groups
          attributes:
            target_object: PROJECT
            name: My Field Group
            position: null
          links:
            self: https://api.us.workdayspend.com/services/fields/v1/field_groups/1
    update_response-3:
      value:
        data:
          id: '1'
          type: field_groups
          attributes:
            target_object: PROJECT
            name: Updated Field Group
            position: null
          links:
            self: https://api.us.workdayspend.com/services/fields/v1/field_groups/1
    create_response-3:
      value:
        data:
          id: '1'
          type: field_groups
          attributes:
            target_object: PROJECT
            name: Custom Group
            position: null
          links:
            self: https://api.us.workdayspend.com/services/fields/v1/field_groups/1
    create_request-3:
      value:
        data:
          type: field_groups
          attributes:
            target_object: PROJECT
            name: Custom Group
    index_response-3:
      value:
        data:
        - id: '1'
          type: field_groups
          attributes:
            target_object: PROJECT
            name: Group One
            position: 1
          links:
            self: https://api.us.workdayspend.com/services/fields/v1/field_groups/1
        - id: '2'
          type: field_groups
          attributes:
            target_object: SUPPLIER_COMPANY
            name: Group Two
            position: 2
          links:
            self: https://api.us.workdayspend.com/services/fields/v1/field_groups/2
        links:
          self: https://api.us.workdayspend.com/services/fields/v1/field_groups
  schemas:
    FieldGroupUpdate:
      type: object
      required:
      - type
      - id
      properties:
        type:
          $ref: '#/components/schemas/FieldGroupType'
        id:
          $ref: '#/components/schemas/FieldGroupId'
        attributes:
          $ref: '#/components/schemas/FieldGroupAttributes'
    Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    FieldGroupType:
      type: string
      description: Object type, should always be `field_groups`.
      example: field_groups
    Error:
      type: object
      properties:
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
    FieldGroupAttributes:
      type: object
      description: Field group attributes.
      required:
      - name
      properties:
        target_object:
          type: string
          enum:
          - PROJECT
          - SUPPLIER_COMPANY
          - RFP
          description: Field group object type string.
        name:
          type: string
          maxLength: 255
          description: Field group name.
        position:
          type: integer
          description: Field group position on the UI.
          readOnly: true
    FieldGroupCreate:
      type: object
      required:
      - type
      properties:
        type:
          $ref: '#/components/schemas/FieldGroupType'
        attributes:
          $ref: '#/components/schemas/FieldGroupAttributes'
    FieldGroupBase:
      title: Field
      type: object
      required:
      - type
      - id
      properties:
        type:
          $ref: '#/components/schemas/FieldGroupType'
        id:
          $ref: '#/components/schemas/FieldGroupId'
    FieldGroupId:
      type: integer
      description: Field group identifier string.
      example: 1
    FieldGroup:
      allOf:
      - $ref: '#/components/schemas/FieldGroupBase'
      - type: object
        properties:
          attributes:
            $ref: '#/components/schemas/FieldGroupAttributes'
  securitySchemes:
    api_key:
      type: apiKey
      name: X-Api-Key
      in: header
      description: Company API key.
    user_token:
      type: apiKey
      name: X-User-Token
      in: header
      description: User token.
    user_email:
      type: apiKey
      name: X-User-Email
      in: header
      description: User email.
x-tagGroups:
- name: Getting Started
  tags:
  - support
  - servers
  - api_specification
  - date_and_time_fields
  - authentication
  - rate_limiting
  - external_ids
- name: Fields
  tags:
  - field_groups
  - fields
  - field_options
