openapi: 3.0.2
info:
  title: Workday Strategic Sourcing attachments event_reports API
  version: '1.0'
  description: '<span id="section/Authentication/api_key" data-section-id="section/Authentication/api_key"></span>

    <span id="section/Authentication/user_token" data-section-id="section/Authentication/user_token"></span>

    <span id="section/Authentication/user_email" data-section-id="section/Authentication/user_email"></span>

    '
servers:
- url: https://api.us.workdayspend.com/services/attachments/v1
  description: Production Server
- url: https://api.sandbox.us.workdayspend.com/services/attachments/v1
  description: Sandbox Server
security:
- api_key: []
  user_token: []
  user_email: []
tags:
- name: event_reports
  x-displayName: Event Reports
  description: 'This report returns a list of event report entries.

    '
paths:
  /event_reports/entries:
    get:
      tags:
      - event_reports
      description: Returns a list of event report entries.
      operationId: Event Report Entries
      summary: Event Report Entries
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                allOf:
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/EventReportEntry'
                - $ref: '#/components/schemas/Pagination'
              examples:
                Version 2018-04-01:
                  description: Requesting 2018-04-01 version.
                  $ref: '#/components/examples/index_response_20180401'
                Version 2019-01-01:
                  description: Requesting 2019-01-01 version.
                  $ref: '#/components/examples/index_response_20190101'
        '401':
          description: Unauthorized
      x-codeSamples:
      - label: Curl
        source: "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/event_reports/entries\"\n"
  /event_reports/{event_report_id}/entries:
    get:
      tags:
      - event_reports
      description: Returns a list of event report entries.
      operationId: Event Single Report Entries
      summary: Event Single Report Entries
      parameters:
      - name: event_report_id
        in: path
        description: Unique Event Report identifier.
        required: true
        schema:
          type: integer
        example: 1
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                allOf:
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/EventReportEntry'
                - $ref: '#/components/schemas/Pagination'
              examples:
                Version 2018-04-01:
                  description: Requesting 2018-04-01 version.
                  $ref: '#/components/examples/show_response_20190101'
                Version 2019-01-01:
                  description: Requesting 2019-01-01 version.
                  $ref: '#/components/examples/show_response_20190101'
        '401':
          description: Unauthorized
      x-codeSamples:
      - label: Curl
        source: "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/event_reports/{event_report_id}/entries\"\n"
  /event_reports:
    get:
      tags:
      - event_reports
      description: 'Returns a list of reports owned by the user.


        **This report endpoint is only valid in version 2018-04-01.**


        **It is deprecated and unavailable in subsequent versions.**

        '
      operationId: Event Report Entries (Deprecated)
      summary: Event Report Entries (Deprecated)
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                allOf:
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/EventReportEntry'
                - $ref: '#/components/schemas/Pagination'
              examples:
                Version 2018-04-01:
                  description: Requesting 2018-04-01 version.
                  $ref: '#/components/examples/all_reports_response_20180401'
        '401':
          description: Unauthorized
        '410':
          description: Deprecated (2019-01-01)
          content:
            application/vnd.api+json:
              examples:
                Version 2019-01-01:
                  description: Requesting 2019-01-01 version.
                  $ref: '#/components/examples/all_reports_response_20190101'
      x-codeSamples:
      - label: Curl
        source: "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2018-04-01\"\n     \"https://api.us.workdayspend.com/event_reports\"\n"
  /event_reports/schema:
    get:
      tags:
      - event_reports
      description: Returns the event report schema.
      operationId: Event Report Schema
      summary: Event Report Schema
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EventReportEntryFieldModel'
              examples:
                success:
                  $ref: '#/components/examples/schema_response-3'
        '401':
          description: Unauthorized
      x-codeSamples:
      - label: Curl
        source: "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/event_reports/schema\"\n"
components:
  examples:
    index_response_20180401:
      value:
        data:
        - id: 1-1
          type: event_report_entries
          attributes:
            Scout-Supplier Name: Carolina Fisher's General Store
            Scout-Response ID: 1
            Scout-Response Status: Unclaimed
            Scout-RSVP Response: null
            Scout-Intend to Respond Date: null
            Scout-Response Submitted Date: null
            Scout-Response Submitted Date FY: null
            Scout-Response Submitted Date FQ: null
            Scout-Response Re-submitted Date: null
            Scout-Response Re-submitted Date FY: null
            Scout-Response Re-submitted Date FQ: null
            Scout-Terms Accepted Date: null
            Scout-Event ID: 1
            Scout-Event Title: Event
            Scout-Event Type: RFP
            Scout-Event Status: Draft
            Scout-Categories: null
            Scout-Sourcing Owner: Ardella Ernser
            Scout-Savings: '100.0'
            Scout-Spend: '1000.0'
            Scout-Currency: USD $
            Scout-# of Stakeholders: 1
            Scout-Stakeholders List: Ardella Ernser
            Scout-Created Date: '2020-04-14'
            Scout-Created Date FY: 2020
            Scout-Created Date FQ: 2
            Scout-Publish Date: '2020-04-14'
            Scout-Publish Date FY: 2020
            Scout-Publish Date FQ: 2
            Scout-RSVP Deadline: null
            Scout-Message Center Due Date: null
            Scout-Submission Due Date: '2020-04-28'
            Scout-Closed Date: null
            Scout-Closed Date FY: null
            Scout-Closed Date FQ: null
            Scout-Construction Request: false
            Scout-Sealed Bids: false
            Scout-Public: false
            Scout-Days in Draft: '0.0'
            Scout-Days in Scheduled: '0.0'
            Scout-Days in Publish: '0.0'
            Scout-Days in Edit: '0.0'
            'Scout-ID #': 1
            Scout-Project Title: Project 1
            Scout-Project Type: 'Project Type #38'
            Scout-Project State & Status: Planned
            Scout-Estimated Start Date: '2020-04-28'
            Scout-Estimated End Date: '2020-06-14'
            Scout-Actual Start Date: null
            Scout-Actual End Date: null
            Scout-Last Updated Date: '2020-04-14'
            Scout-Has Attachments: false
            'Field #5': Some text
        - id: 2-1
          type: event_report_entries
          attributes:
            Scout-Supplier Name: Priscila Collins's General Store
            Scout-Response ID: 2
            Scout-Response Status: Unclaimed
            Scout-RSVP Response: null
            Scout-Intend to Respond Date: null
            Scout-Response Submitted Date: null
            Scout-Response Submitted Date FY: null
            Scout-Response Submitted Date FQ: null
            Scout-Response Re-submitted Date: null
            Scout-Response Re-submitted Date FY: null
            Scout-Response Re-submitted Date FQ: null
            Scout-Terms Accepted Date: null
            Scout-Event ID: 1
            Scout-Event Title: Event
            Scout-Event Type: RFP
            Scout-Event Status: Draft
            Scout-Categories: null
            Scout-Sourcing Owner: Ardella Ernser
            Scout-Savings: '100.0'
            Scout-Spend: '1000.0'
            Scout-Currency: USD $
            Scout-# of Stakeholders: 1
            Scout-Stakeholders List: Ardella Ernser
            Scout-Created Date: '2020-04-14'
            Scout-Created Date FY: 2020
            Scout-Created Date FQ: 2
            Scout-Publish Date: '2020-04-14'
            Scout-Publish Date FY: 2020
            Scout-Publish Date FQ: 2
            Scout-RSVP Deadline: null
            Scout-Message Center Due Date: null
            Scout-Submission Due Date: '2020-04-28'
            Scout-Closed Date: null
            Scout-Closed Date FY: null
            Scout-Closed Date FQ: null
            Scout-Construction Request: false
            Scout-Sealed Bids: false
            Scout-Public: false
            Scout-Days in Draft: '0.0'
            Scout-Days in Scheduled: '0.0'
            Scout-Days in Publish: '0.0'
            Scout-Days in Edit: '0.0'
            'Scout-ID #': 1
            Scout-Project Title: Project 1
            Scout-Project Type: 'Project Type #38'
            Scout-Project State & Status: Planned
            Scout-Estimated Start Date: '2020-04-28'
            Scout-Estimated End Date: '2020-06-14'
            Scout-Actual Start Date: null
            Scout-Actual End Date: null
            Scout-Last Updated Date: '2020-04-14'
            Scout-Has Attachments: false
            'Field #5': Some text
        links:
          prev: null
          next: null
    index_response_20190101:
      value:
        data:
        - id: 1-1
          type: event_report_entries
          attributes:
            Scout-Supplier Name: Agustina Jones's General Store
            Scout-Response ID: 1
            Scout-Response Status: Unclaimed
            Scout-RSVP Response: null
            Scout-Intend to Respond Date: null
            Scout-Response Submitted Date: null
            Scout-Response Submitted Date FY: null
            Scout-Response Submitted Date FQ: null
            Scout-Response Re-submitted Date: null
            Scout-Response Re-submitted Date FY: null
            Scout-Response Re-submitted Date FQ: null
            Scout-Terms Accepted Date: null
            Scout-Event ID: 1
            Scout-Event Title: Event
            Scout-Event Type: RFP
            Scout-Event Status: Draft
            Scout-Categories: null
            Scout-Sourcing Owner: Margarito Mante
            Scout-Savings: '100.0'
            Scout-Spend: '1000.0'
            Scout-Currency: USD $
            Scout-# of Stakeholders: 1
            Scout-Stakeholders List: Margarito Mante
            Scout-Created Date: '2020-04-14'
            Scout-Created Date FY: 2020
            Scout-Created Date FQ: 2
            Scout-Publish Date: '2020-04-14'
            Scout-Publish Date FY: 2020
            Scout-Publish Date FQ: 2
            Scout-RSVP Deadline: null
            Scout-Message Center Due Date: null
            Scout-Submission Due Date: '2020-04-28'
            Scout-Closed Date: null
            Scout-Closed Date FY: null
            Scout-Closed Date FQ: null
            Scout-Construction Request: false
            Scout-Sealed Bids: false
            Scout-Public: false
            Scout-Days in Draft: '0.0'
            Scout-Days in Scheduled: '0.0'
            Scout-Days in Publish: '0.0'
            Scout-Days in Edit: '0.0'
            'Scout-ID #': 1
            Scout-Project Title: Project 1
            Scout-Project Type: 'Project Type #41'
            Scout-Project State & Status: Planned
            Scout-Estimated Start Date: '2020-04-28'
            Scout-Estimated End Date: '2020-06-14'
            Scout-Actual Start Date: null
            Scout-Actual End Date: null
            Scout-Last Updated Date: '2020-04-14'
            Scout-Has Attachments: false
            'Field #6': Some text
        - id: 2-1
          type: event_report_entries
          attributes:
            Scout-Supplier Name: Tod Stark's General Store
            Scout-Response ID: 2
            Scout-Response Status: Unclaimed
            Scout-RSVP Response: null
            Scout-Intend to Respond Date: null
            Scout-Response Submitted Date: null
            Scout-Response Submitted Date FY: null
            Scout-Response Submitted Date FQ: null
            Scout-Response Re-submitted Date: null
            Scout-Response Re-submitted Date FY: null
            Scout-Response Re-submitted Date FQ: null
            Scout-Terms Accepted Date: null
            Scout-Event ID: 1
            Scout-Event Title: Event
            Scout-Event Type: RFP
            Scout-Event Status: Draft
            Scout-Categories: null
            Scout-Sourcing Owner: Margarito Mante
            Scout-Savings: '100.0'
            Scout-Spend: '1000.0'
            Scout-Currency: USD $
            Scout-# of Stakeholders: 1
            Scout-Stakeholders List: Margarito Mante
            Scout-Created Date: '2020-04-14'
            Scout-Created Date FY: 2020
            Scout-Created Date FQ: 2
            Scout-Publish Date: '2020-04-14'
            Scout-Publish Date FY: 2020
            Scout-Publish Date FQ: 2
            Scout-RSVP Deadline: null
            Scout-Message Center Due Date: null
            Scout-Submission Due Date: '2020-04-28'
            Scout-Closed Date: null
            Scout-Closed Date FY: null
            Scout-Closed Date FQ: null
            Scout-Construction Request: false
            Scout-Sealed Bids: false
            Scout-Public: false
            Scout-Days in Draft: '0.0'
            Scout-Days in Scheduled: '0.0'
            Scout-Days in Publish: '0.0'
            Scout-Days in Edit: '0.0'
            'Scout-ID #': 1
            Scout-Project Title: Project 1
            Scout-Project Type: 'Project Type #41'
            Scout-Project State & Status: Planned
            Scout-Estimated Start Date: '2020-04-28'
            Scout-Estimated End Date: '2020-06-14'
            Scout-Actual Start Date: null
            Scout-Actual End Date: null
            Scout-Last Updated Date: '2020-04-14'
            Scout-Has Attachments: false
            'Field #6': Some text
        links:
          prev: null
          next: null
    all_reports_response_20180401:
      value:
        data:
        - id: '1'
          type: event_reports
          attributes:
            title: Report 1
            description: Report 1 description
          links:
            entries: https://api.us.workdayspend.com/event_reports/1/entries
            schema: https://api.us.workdayspend.com/event_reports/1/schema
        - id: '2'
          type: event_reports
          attributes:
            title: Report 2
            description: Report 2 description
          links:
            entries: https://api.us.workdayspend.com/event_reports/2/entries
            schema: https://api.us.workdayspend.com/event_reports/2/schema
        - id: '3'
          type: event_reports
          attributes:
            title: Report 3
            description: Report 3 description
          links:
            entries: https://api.us.workdayspend.com/event_reports/3/entries
            schema: https://api.us.workdayspend.com/event_reports/3/schema
        links:
          prev: null
          next: null
    all_reports_response_20190101:
      value:
        errors:
        - detail: This endpoint has been deprecated
    show_response_20190101:
      value:
        data:
        - id: 1-1
          type: event_report_entries
          attributes:
            Scout-Supplier Name: Agustina Jones's General Store
            Scout-Response ID: 1
            Scout-Response Status: Unclaimed
            Scout-RSVP Response: null
            Scout-Intend to Respond Date: null
            Scout-Response Submitted Date: null
            Scout-Response Submitted Date FY: null
            Scout-Response Submitted Date FQ: null
            Scout-Response Re-submitted Date: null
            Scout-Response Re-submitted Date FY: null
            Scout-Response Re-submitted Date FQ: null
            Scout-Terms Accepted Date: null
            Scout-Event ID: 1
            Scout-Event Title: Event
            Scout-Event Type: RFP
            Scout-Event Status: Draft
            Scout-Categories: null
            Scout-Sourcing Owner: Margarito Mante
            Scout-Savings: '100.0'
            Scout-Spend: '1000.0'
            Scout-Currency: USD $
            Scout-# of Stakeholders: 1
            Scout-Stakeholders List: Margarito Mante
            Scout-Created Date: '2020-04-14'
            Scout-Created Date FY: 2020
            Scout-Created Date FQ: 2
            Scout-Publish Date: '2020-04-14'
            Scout-Publish Date FY: 2020
            Scout-Publish Date FQ: 2
            Scout-RSVP Deadline: null
            Scout-Message Center Due Date: null
            Scout-Submission Due Date: '2020-04-28'
            Scout-Closed Date: null
            Scout-Closed Date FY: null
            Scout-Closed Date FQ: null
            Scout-Construction Request: false
            Scout-Sealed Bids: false
            Scout-Public: false
            Scout-Days in Draft: '0.0'
            Scout-Days in Scheduled: '0.0'
            Scout-Days in Publish: '0.0'
            Scout-Days in Edit: '0.0'
            'Scout-ID #': 1
            Scout-Project Title: Project 1
            Scout-Project Type: 'Project Type #41'
            Scout-Project State & Status: Planned
            Scout-Estimated Start Date: '2020-04-28'
            Scout-Estimated End Date: '2020-06-14'
            Scout-Actual Start Date: null
            Scout-Actual End Date: null
            Scout-Last Updated Date: '2020-04-14'
            Scout-Has Attachments: false
            'Field #6': Some text
        - id: 2-1
          type: event_report_entries
          attributes:
            Scout-Supplier Name: Tod Stark's General Store
            Scout-Response ID: 2
            Scout-Response Status: Unclaimed
            Scout-RSVP Response: null
            Scout-Intend to Respond Date: null
            Scout-Response Submitted Date: null
            Scout-Response Submitted Date FY: null
            Scout-Response Submitted Date FQ: null
            Scout-Response Re-submitted Date: null
            Scout-Response Re-submitted Date FY: null
            Scout-Response Re-submitted Date FQ: null
            Scout-Terms Accepted Date: null
            Scout-Event ID: 1
            Scout-Event Title: Event
            Scout-Event Type: RFP
            Scout-Event Status: Draft
            Scout-Categories: null
            Scout-Sourcing Owner: Margarito Mante
            Scout-Savings: '100.0'
            Scout-Spend: '1000.0'
            Scout-Currency: USD $
            Scout-# of Stakeholders: 1
            Scout-Stakeholders List: Margarito Mante
            Scout-Created Date: '2020-04-14'
            Scout-Created Date FY: 2020
            Scout-Created Date FQ: 2
            Scout-Publish Date: '2020-04-14'
            Scout-Publish Date FY: 2020
            Scout-Publish Date FQ: 2
            Scout-RSVP Deadline: null
            Scout-Message Center Due Date: null
            Scout-Submission Due Date: '2020-04-28'
            Scout-Closed Date: null
            Scout-Closed Date FY: null
            Scout-Closed Date FQ: null
            Scout-Construction Request: false
            Scout-Sealed Bids: false
            Scout-Public: false
            Scout-Days in Draft: '0.0'
            Scout-Days in Scheduled: '0.0'
            Scout-Days in Publish: '0.0'
            Scout-Days in Edit: '0.0'
            'Scout-ID #': 1
            Scout-Project Title: Project 1
            Scout-Project Type: 'Project Type #41'
            Scout-Project State & Status: Planned
            Scout-Estimated Start Date: '2020-04-28'
            Scout-Estimated End Date: '2020-06-14'
            Scout-Actual Start Date: null
            Scout-Actual End Date: null
            Scout-Last Updated Date: '2020-04-14'
            Scout-Has Attachments: false
            'Field #6': Some text
        links:
          prev: null
          next: null
    schema_response-3:
      value:
        data:
          id: event_schemas
          type: event_schemas
          attributes:
            fields:
            - type: select
              name: Scout-Supplier Name
            - type: text
              name: Scout-Response ID
            - type: select
              name: Scout-Response Status
            - type: text
              name: Scout-RSVP Response
            - type: date
              name: Scout-Intend to Respond Date
            - type: date
              name: Scout-Response Submitted Date
            - type: integer
              name: Scout-Response Submitted Date FY
            - type: integer
              name: Scout-Response Submitted Date FQ
            - type: date
              name: Scout-Response Re-submitted Date
            - type: integer
              name: Scout-Response Re-submitted Date FY
            - type: integer
              name: Scout-Response Re-submitted Date FQ
            - type: date
              name: Scout-Terms Accepted Date
            - type: text
              name: Scout-Event ID
            - type: text
              name: Scout-Event Title
            - type: select
              name: Scout-Event Type
            - type: select
              name: Scout-Event Status
            - type: select
              name: Scout-Categories
            - type: select
              name: Scout-Sourcing Owner
            - type: currency
              name: Scout-Savings
            - type: currency
              name: Scout-Spend
            - type: text
              name: Scout-Currency
            - type: integer
              name: Scout-# of Stakeholders
            - type: text
              name: Scout-Stakeholders List
            - type: date
              name: Scout-Created Date
            - type: integer
              name: Scout-Created Date FY
            - type: integer
              name: Scout-Created Date FQ
            - type: date
              name: Scout-Publish Date
            - type: integer
              name: Scout-Publish Date FY
            - type: integer
              name: Scout-Publish Date FQ
            - type: date
              name: Scout-RSVP Deadline
            - type: date
              name: Scout-Message Center Due Date
            - type: date
              name: Scout-Submission Due Date
            - type: date
              name: Scout-Closed Date
            - type: integer
              name: Scout-Closed Date FY
            - type: integer
              name: Scout-Closed Date FQ
            - type: text
              name: Scout-Construction Request
            - type: text
              name: Scout-Sealed Bids
            - type: text
              name: Scout-Public
            - type: integer
              name: Scout-Days in Draft
            - type: integer
              name: Scout-Days in Scheduled
            - type: integer
              name: Scout-Days in Publish
            - type: integer
              name: Scout-Days in Edit
            - type: text
              name: 'Scout-ID #'
            - type: text
              name: Scout-Project Title
            - type: select
              name: Scout-Project Type
            - type: select
              name: Scout-Project State & Status
            - type: date
              name: Scout-Estimated Start Date
            - type: date
              name: Scout-Estimated End Date
            - type: date
              name: Scout-Actual Start Date
            - type: date
              name: Scout-Actual End Date
            - type: date
              name: Scout-Last Updated Date
            - type: text
              name: Scout-Has Attachments
            - type: string
              name: 'Field #11'
  schemas:
    EventReportEntryAttributes:
      description: Event Report Entry attributes. See example response and schema.
      properties: {}
    EventReportEntryFieldModel:
      type: object
      properties:
        id:
          type: string
          description: Object ID, should always be `event_schemas`.
        type:
          type: string
          description: Object type, should always be `event_schemas`.
        attributes:
          $ref: '#/components/schemas/ReportSchemaFieldModel'
    ReportSchemaFieldType:
      type: string
      enum:
      - text
      - date
      - integer
      - select
      - string
      description: Field type
      example: string
    NextPageLink:
      type: object
      properties:
        next:
          type: string
          format: url
          description: Link to the next results page.
          nullable: true
    EventReportEntryType:
      description: Object type, should always be `event_report_entries`.
      example: event_report_entries
    ReportSchemaField:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/ReportSchemaFieldType'
        name:
          type: string
          description: Field name
          example: Scout-System ID
    ReportSchemaFieldModel:
      type: object
      properties:
        fields:
          type: array
          items:
            $ref: '#/components/schemas/ReportSchemaField'
    EventReportEntryId:
      description: Event Report identifier string.
      example: 1
    Pagination:
      type: object
      properties:
        links:
          $ref: '#/components/schemas/PaginationLinks'
    EventReportEntry:
      type: object
      required:
      - name
      - id
      properties:
        type:
          $ref: '#/components/schemas/EventReportEntryType'
        id:
          $ref: '#/components/schemas/EventReportEntryId'
        attributes:
          $ref: '#/components/schemas/EventReportEntryAttributes'
    PaginationLinks:
      type: object
      description: List of pagination links.
      allOf:
      - $ref: '#/components/schemas/NextPageLink'
      - $ref: '#/components/schemas/PrevPageLink'
    PrevPageLink:
      type: object
      properties:
        prev:
          type: string
          format: url
          description: Link to the previous results page.
          nullable: true
  securitySchemes:
    api_key:
      type: apiKey
      name: X-Api-Key
      in: header
      description: Company API key.
    user_token:
      type: apiKey
      name: X-User-Token
      in: header
      description: User token.
    user_email:
      type: apiKey
      name: X-User-Email
      in: header
      description: User email.
x-tagGroups:
- name: Getting Started
  tags:
  - support
  - servers
  - api_specification
  - authentication
  - rate_limiting
- name: Attachments
  tags:
  - attachments
