openapi: 3.0.2
info:
  title: Workday Strategic Sourcing attachments contract_reports API
  version: '1.0'
  description: '<span id="section/Authentication/api_key" data-section-id="section/Authentication/api_key"></span>

    <span id="section/Authentication/user_token" data-section-id="section/Authentication/user_token"></span>

    <span id="section/Authentication/user_email" data-section-id="section/Authentication/user_email"></span>

    '
servers:
- url: https://api.us.workdayspend.com/services/attachments/v1
  description: Production Server
- url: https://api.sandbox.us.workdayspend.com/services/attachments/v1
  description: Sandbox Server
security:
- api_key: []
  user_token: []
  user_email: []
tags:
- name: contract_reports
  x-displayName: Contract Reports
  description: 'This report returns a list of contract report entries.

    '
paths:
  /contract_reports/entries:
    get:
      tags:
      - contract_reports
      description: Returns a list of contract report entries.
      operationId: Contract Report Entries
      summary: Contract Report Entries
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                allOf:
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/ContractReportEntry'
                - $ref: '#/components/schemas/Pagination'
              examples:
                success:
                  $ref: '#/components/examples/index_response-2'
        '401':
          description: Unauthorized
      x-codeSamples:
      - label: Curl
        source: "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/contract_reports/entries\"\n"
  /contract_reports/schema:
    get:
      tags:
      - contract_reports
      description: Returns the contract report schema.
      operationId: Contract Report Schema
      summary: Contract Report Schema
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ContractReportEntryFieldModel'
              examples:
                success:
                  $ref: '#/components/examples/schema_response-2'
        '401':
          description: Unauthorized
      x-codeSamples:
      - label: Curl
        source: "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/contract_reports/schema\"\n"
components:
  schemas:
    ReportSchemaFieldType:
      type: string
      enum:
      - text
      - date
      - integer
      - select
      - string
      description: Field type
      example: string
    ContractReportEntryType:
      description: Object type, should always be `contract_report_entries`.
      example: contract_report_entries
    ContractReportEntryId:
      description: Contract Report identifier string.
      example: 1
    ReportSchemaField:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/ReportSchemaFieldType'
        name:
          type: string
          description: Field name
          example: Scout-System ID
    NextPageLink:
      type: object
      properties:
        next:
          type: string
          format: url
          description: Link to the next results page.
          nullable: true
    PrevPageLink:
      type: object
      properties:
        prev:
          type: string
          format: url
          description: Link to the previous results page.
          nullable: true
    ReportSchemaFieldModel:
      type: object
      properties:
        fields:
          type: array
          items:
            $ref: '#/components/schemas/ReportSchemaField'
    PaginationLinks:
      type: object
      description: List of pagination links.
      allOf:
      - $ref: '#/components/schemas/NextPageLink'
      - $ref: '#/components/schemas/PrevPageLink'
    Pagination:
      type: object
      properties:
        links:
          $ref: '#/components/schemas/PaginationLinks'
    ContractReportEntryAttributes:
      description: Contract Report Entry attributes. See example response and schema.
      properties: {}
    ContractReportEntry:
      type: object
      required:
      - name
      - id
      properties:
        type:
          $ref: '#/components/schemas/ContractReportEntryType'
        id:
          $ref: '#/components/schemas/ContractReportEntryId'
        attributes:
          $ref: '#/components/schemas/ContractReportEntryAttributes'
    ContractReportEntryFieldModel:
      type: object
      properties:
        id:
          type: string
          description: Object ID, should always be `contract_schemas`.
        type:
          type: string
          description: Object type, should always be `contract_schemas`.
        attributes:
          $ref: '#/components/schemas/ReportSchemaFieldModel'
  examples:
    index_response-2:
      value:
        data:
        - id: '1'
          type: contract_report_entries
          attributes:
            Scout-Record ID: 100
            'Scout-ID #': 1
            Scout-Contract Type: 'Contract Type #22'
            Scout-Contract Type Short Code: 22JD
            Scout-Supplier: null
            Scout-Contract Title: New contract
            Scout-Contract State & Status: In Progress - Internal Review
            Scout-Auto Renewal: 'no'
            Scout-Start Date: null
            Scout-Start Date FY: null
            Scout-Start Date FQ: null
            Scout-End Date: null
            Scout-End Date FY: null
            Scout-End Date FQ: null
            Scout-Currency: USD
            Scout-Spend: null
            Scout-Sourcing Owner: Gabriel Keebler
            Scout-Category: null
            Scout-Contract Description: Facilis assumenda voluptatem magnam.
            Scout-Renewal Number of Times: null
            Scout-Renewal Term: null
            Scout-Renewal Termination Notice: null
            Scout-Renewal Termination Reminder: null
            Scout-Attachments: null
            'Scout-Related Contract ID #': null
            Scout-Related Projects: null
            'Scout-Related Project ID #': null
            Scout-Stakeholders: Gabriel Keebler
            Scout-Termination Reason: null
            Scout-Original Approval Request Date: null
            Scout-Original Approval Request Date FY: null
            Scout-Original Approval Request Date FQ: null
            Scout-Approved Date: null
            Scout-Approved FY: null
            Scout-Approved FQ: null
            Scout-Sent for Approval: null
            Scout-Sent for Approval FY: null
            Scout-Sent for Approval FQ: null
            Scout-Contract Requester: Gabriel Keebler
            Scout-Contract Request Submitted Date: '2021-11-04'
            Scout-Contract Request Submitted FY: 2021
            Scout-Contract Request Submitted FQ: 4
            Scout-Contract Request Opened Date: '2021-11-04'
            Scout-Contract Request Opened FY: 2021
            Scout-Contract Request Opened FQ: 4
            Scout-Record Type: Contract
            'Scout-Revised Contract ID #': null
            Scout-Creator: Gabriel Keebler
            Scout-Last Updated Date: '2021-11-04'
            Scout-Has Attachments: false
            Scout-Needs Attention Reason: null
            Scout-Canceled Reason: null
            Scout-First Milestone Assign Date: null
            Scout-ESign Platforms: null
            Scout-ESign States: null
            Scout-External ID: null
            Scout-Company: null
            Scout-Company Hierarchy: null
            Scout-Milestone Name: null
            Scout-Milestone Date: null
            Scout-Milestone Assignee: null
            Scout-Days Requested: '0.0'
            Scout-Days In Progress - Internal Review: '0.0'
            Scout-Days In Progress - External Review: '0.0'
            Scout-Days In Progress - Negotiating: '0.0'
            Scout-Days In Progress - Out for Signature: '0.0'
            Scout-Days Approved: '0.0'
            Scout-Days Active: '0.0'
            Custom field for contract!: null
        - id: '2'
          type: contract_report_entries
          attributes:
            Scout-Record ID: 200
            'Scout-ID #': 2
            Scout-Contract Type: 'Contract Type #22'
            Scout-Contract Type Short Code: 22JD
            Scout-Supplier: null
            Scout-Contract Title: New contract 2
            Scout-Contract State & Status: In Progress - Internal Review
            Scout-Auto Renewal: 'no'
            Scout-Start Date: null
            Scout-Start Date FY: null
            Scout-Start Date FQ: null
            Scout-End Date: null
            Scout-End Date FY: null
            Scout-End Date FQ: null
            Scout-Currency: USD
            Scout-Spend: null
            Scout-Sourcing Owner: Gabriel Keebler
            Scout-Category: null
            Scout-Contract Description: Distinctio vel iure voluptas.
            Scout-Renewal Number of Times: null
            Scout-Renewal Term: null
            Scout-Renewal Termination Notice: null
            Scout-Renewal Termination Reminder: null
            Scout-Attachments: null
            'Scout-Related Contract ID #': null
            Scout-Related Projects: null
            'Scout-Related Project ID #': null
            Scout-Stakeholders: Gabriel Keebler
            Scout-Termination Reason: null
            Scout-Original Approval Request Date: null
            Scout-Original Approval Request Date FY: null
            Scout-Original Approval Request Date FQ: null
            Scout-Approved Date: null
            Scout-Approved FY: null
            Scout-Approved FQ: null
            Scout-Sent for Approval: null
            Scout-Sent for Approval FY: null
            Scout-Sent for Approval FQ: null
            Scout-Contract Requester: Gabriel Keebler
            Scout-Contract Request Submitted Date: '2021-11-04'
            Scout-Contract Request Submitted FY: 2021
            Scout-Contract Request Submitted FQ: 4
            Scout-Contract Request Opened Date: '2021-11-04'
            Scout-Contract Request Opened FY: 2021
            Scout-Contract Request Opened FQ: 4
            Scout-Record Type: Contract
            'Scout-Revised Contract ID #': null
            Scout-Creator: Gabriel Keebler
            Scout-Last Updated Date: '2021-11-04'
            Scout-Has Attachments: false
            Scout-Needs Attention Reason: null
            Scout-Canceled Reason: null
            Scout-First Milestone Assign Date: null
            Scout-ESign Platforms: null
            Scout-ESign States: null
            Scout-External ID: null
            Scout-Company: null
            Scout-Company Hierarchy: null
            Scout-Milestone Name: null
            Scout-Milestone Date: null
            Scout-Milestone Assignee: null
            Scout-Days Requested: '0.0'
            Scout-Days In Progress - Internal Review: '0.0'
            Scout-Days In Progress - External Review: '0.0'
            Scout-Days In Progress - Negotiating: '0.0'
            Scout-Days In Progress - Out for Signature: '0.0'
            Scout-Days Approved: '0.0'
            Scout-Days Active: '0.0'
            Custom field for contract!: Custom field value
        - id: '3'
          type: contract_report_entries
          attributes:
            Scout-Record ID: 300
            'Scout-ID #': 3
            Scout-Contract Type: 'Contract Type #22'
            Scout-Contract Type Short Code: 22JD
            Scout-Supplier: null
            Scout-Contract Title: Old contract
            Scout-Contract State & Status: In Progress - Internal Review
            Scout-Auto Renewal: 'no'
            Scout-Start Date: null
            Scout-Start Date FY: null
            Scout-Start Date FQ: null
            Scout-End Date: null
            Scout-End Date FY: null
            Scout-End Date FQ: null
            Scout-Currency: USD
            Scout-Spend: null
            Scout-Sourcing Owner: Gabriel Keebler
            Scout-Category: null
            Scout-Contract Description: Ipsa voluptatem vel recusandae.
            Scout-Renewal Number of Times: null
            Scout-Renewal Term: null
            Scout-Renewal Termination Notice: null
            Scout-Renewal Termination Reminder: null
            Scout-Attachments: null
            'Scout-Related Contract ID #': null
            Scout-Related Projects: null
            'Scout-Related Project ID #': null
            Scout-Stakeholders: Gabriel Keebler
            Scout-Termination Reason: null
            Scout-Original Approval Request Date: null
            Scout-Original Approval Request Date FY: null
            Scout-Original Approval Request Date FQ: null
            Scout-Approved Date: null
            Scout-Approved FY: null
            Scout-Approved FQ: null
            Scout-Sent for Approval: null
            Scout-Sent for Approval FY: null
            Scout-Sent for Approval FQ: null
            Scout-Contract Requester: Gabriel Keebler
            Scout-Contract Request Submitted Date: '2021-11-04'
            Scout-Contract Request Submitted FY: 2021
            Scout-Contract Request Submitted FQ: 4
            Scout-Contract Request Opened Date: '2021-11-04'
            Scout-Contract Request Opened FY: 2021
            Scout-Contract Request Opened FQ: 4
            Scout-Record Type: Contract
            'Scout-Revised Contract ID #': null
            Scout-Creator: Gabriel Keebler
            Scout-Last Updated Date: '2021-11-04'
            Scout-Has Attachments: false
            Scout-Needs Attention Reason: null
            Scout-Canceled Reason: null
            Scout-First Milestone Assign Date: null
            Scout-ESign Platforms: Adobe Sign, Docusign
            Scout-ESign States: Creating, Waiting For Notarization
            Scout-External ID: null
            Scout-Company: null
            Scout-Company Hierarchy: null
            Scout-Milestone Name: null
            Scout-Milestone Date: null
            Scout-Milestone Assignee: null
            Scout-Days Requested: '0.0'
            Scout-Days In Progress - Internal Review: '0.0'
            Scout-Days In Progress - External Review: '0.0'
            Scout-Days In Progress - Negotiating: '0.0'
            Scout-Days In Progress - Out for Signature: '0.0'
            Scout-Days Approved: '0.0'
            Scout-Days Active: '0.0'
            Custom field for contract!: null
        links:
          prev: null
          next: null
    schema_response-2:
      value:
        data:
          id: contract_schemas
          type: contract_schemas
          attributes:
            fields:
            - type: text
              name: Scout-Record ID
            - type: text
              name: 'Scout-ID #'
            - type: select
              name: Scout-Contract Type
            - type: select
              name: Scout-Contract Type Short Code
            - type: select
              name: Scout-Supplier
            - type: text
              name: Scout-Contract Title
            - type: select
              name: Scout-Contract State & Status
            - type: select
              name: Scout-Auto Renewal
            - type: date
              name: Scout-Start Date
            - type: integer
              name: Scout-Start Date FY
            - type: integer
              name: Scout-Start Date FQ
            - type: date
              name: Scout-End Date
            - type: integer
              name: Scout-End Date FY
            - type: integer
              name: Scout-End Date FQ
            - type: select
              name: Scout-Currency
            - type: currency
              name: Scout-Spend
            - type: select
              name: Scout-Sourcing Owner
            - type: select
              name: Scout-Category
            - type: text
              name: Scout-Contract Description
            - type: integer
              name: Scout-Renewal Number of Times
            - type: text
              name: Scout-Renewal Term
            - type: date
              name: Scout-Renewal Termination Notice
            - type: date
              name: Scout-Renewal Termination Reminder
            - type: text
              name: Scout-Attachments
            - type: text
              name: 'Scout-Related Contract ID #'
            - type: text
              name: Scout-Related Projects
            - type: text
              name: 'Scout-Related Project ID #'
            - type: select
              name: Scout-Stakeholders
            - type: text
              name: Scout-Termination Reason
            - type: date
              name: Scout-Original Approval Request Date
            - type: integer
              name: Scout-Original Approval Request Date FY
            - type: integer
              name: Scout-Original Approval Request Date FQ
            - type: date
              name: Scout-Approved Date
            - type: integer
              name: Scout-Approved FY
            - type: integer
              name: Scout-Approved FQ
            - type: date
              name: Scout-Sent for Approval
            - type: integer
              name: Scout-Sent for Approval FY
            - type: integer
              name: Scout-Sent for Approval FQ
            - type: select
              name: Scout-Contract Requester
            - type: date
              name: Scout-Contract Request Submitted Date
            - type: integer
              name: Scout-Contract Request Submitted FY
            - type: integer
              name: Scout-Contract Request Submitted FQ
            - type: date
              name: Scout-Contract Request Opened Date
            - type: integer
              name: Scout-Contract Request Opened FY
            - type: integer
              name: Scout-Contract Request Opened FQ
            - type: select
              name: Scout-Record Type
            - type: text
              name: 'Scout-Revised Contract ID #'
            - type: select
              name: Scout-Creator
            - type: date
              name: Scout-Last Updated Date
            - type: text
              name: Scout-Has Attachments
            - type: select
              name: Scout-Needs Attention Reason
            - type: text
              name: Scout-Canceled Reason
            - type: date
              name: Scout-First Milestone Assign Date
            - type: select
              name: Scout-ESign Platforms
            - type: select
              name: Scout-ESign States
            - type: text
              name: Scout-External ID
            - type: select
              name: Scout-Company
            - type: select
              name: Scout-Company Hierarchy
            - type: integer
              name: Scout-Days Requested
            - type: integer
              name: Scout-Days In Progress - Internal Review
            - type: integer
              name: Scout-Days In Progress - External Review
            - type: integer
              name: Scout-Days In Progress - Negotiating
            - type: integer
              name: Scout-Days In Progress - Out for Signature
            - type: integer
              name: Scout-Days Out For Approval
            - type: integer
              name: Scout-Days Approved
            - type: integer
              name: Scout-Days Active
            - type: text
              name: Scout-Milestone Name
            - type: date
              name: Scout-Milestone Date
            - type: select
              name: Scout-Milestone Assignee
            - type: string
              name: Custom field for contract
  securitySchemes:
    api_key:
      type: apiKey
      name: X-Api-Key
      in: header
      description: Company API key.
    user_token:
      type: apiKey
      name: X-User-Token
      in: header
      description: User token.
    user_email:
      type: apiKey
      name: X-User-Email
      in: header
      description: User email.
x-tagGroups:
- name: Getting Started
  tags:
  - support
  - servers
  - api_specification
  - authentication
  - rate_limiting
- name: Attachments
  tags:
  - attachments
