openapi: 3.2.0
info:
  title: Workday Strategic Sourcing Events Event Templates API
  version: '1.2'
  description: ''
servers:
- url: https://api.us.workdayspend.com/services/events/v1
  description: Production Server
- url: https://api.sandbox.us.workdayspend.com/services/events/v1
  description: Sandbox Server
security:
- api_key: []
  user_token: []
  user_email: []
tags:
- name: Event Templates
  x-displayName: Event Templates
  description: 'Use the contract types API to query the event templates in Workday Strategic Sourcing.


    Event Templates are used as a blueprint for newly created events.


    ## Event Template Object'
paths:
  /event_templates:
    get:
      tags:
      - Event Templates
      description: Returns a list of all event templates.
      operationId: List Event Templates
      summary: List Event Templates
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/EventTemplateModel'
                    meta:
                      type: object
                      description: Result set metadata.
                      properties:
                        count:
                          type: integer
                          description: Number of pages in the result set.
                    links:
                      $ref: '#/components/schemas/SelfLink'
              examples:
                success:
                  $ref: '#/components/examples/index_response'
        '401':
          description: Unauthorized
      x-codeSamples:
      - label: Curl
        source: "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/events/v1/event_templates\"\n"
  /event_templates/{id}:
    get:
      tags:
      - Event Templates
      description: Retrieves the details of an existing event template.
      operationId: Get an Event Template
      summary: Get an Event Template
      parameters:
      - name: id
        in: path
        description: Unique event template identifier.
        required: true
        schema:
          type: integer
        example: 1
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EventTemplateModel'
              examples:
                success:
                  $ref: '#/components/examples/show_response'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      x-codeSamples:
      - label: Curl
        source: "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/events/v1/event_templates/1\"\n"
components:
  schemas:
    EventTemplateBase:
      title: EventTemplate
      type: object
      required:
      - type
      - id
      properties:
        type:
          $ref: '#/components/schemas/EventTemplateType'
        id:
          $ref: '#/components/schemas/EventTemplateId'
    EventTemplateModel:
      allOf:
      - $ref: '#/components/schemas/EventTemplateBase'
      - type: object
        properties:
          attributes:
            $ref: '#/components/schemas/EventTemplateAttributes'
          links:
            $ref: '#/components/schemas/ResourceLinks'
    SelfLink:
      type: object
      properties:
        self:
          type: string
          format: url
          description: Normalized link to the resource.
    ResourceLinks:
      type: object
      description: List of related links.
      allOf:
      - $ref: '#/components/schemas/SelfLink'
    EventTypeEnum:
      type: string
      enum:
      - RFP
      - AUCTION
      - AUCTION_WITH_LOTS
      - AUCTION_LOT
      - PERFORMANCE_REVIEW_EVENT
      - PERFORMANCE_REVIEW_SCORE_CARD_ONLY_EVENT
      - SUPPLIER_REVIEW_EVENT
      - SUPPLIER_REVIEW_MASTER_EVENT
      description: Event type.
      example: RFP
    EventTemplateType:
      type: string
      description: Object type, should always be `event_templates`.
      example: event_templates
    EventTemplateId:
      type: integer
      description: Event template identifier string.
      example: 1
    EventTemplateAttributes:
      type: object
      description: Event template attributes.
      required:
      - name
      - shortcode
      properties:
        title:
          type: string
          maxLength: 255
          description: Event template title.
          example: My Event Template
        event_type:
          $ref: '#/components/schemas/EventTypeEnum'
  examples:
    index_response:
      value:
        meta:
          count: 2
        data:
        - type: event_templates
          id: '1'
          attributes:
            title: 'Event Template #1'
            event_type: RFP
          links:
            self: https://api.us.workdayspend.com/services/events/v1/event_templates/1
        - type: event_templates
          id: '2'
          attributes:
            title: 'Event Template #2'
            event_type: PERFORMANCE_REVIEW_EVENT
          links:
            self: https://api.us.workdayspend.com/services/events/v1/event_templates/2
        links:
          self: https://api.us.workdayspend.com/services/events/v1/event_templates
    show_response:
      value:
        data:
          type: event_templates
          id: '1'
          attributes:
            title: The Event Template
            event_type: RFP
          links:
            self: https://api.us.workdayspend.com/services/events/v1/event_templates/1
  securitySchemes:
    api_key:
      type: apiKey
      name: X-Api-Key
      in: header
      description: Company API key.
    user_token:
      type: apiKey
      name: X-User-Token
      in: header
      description: User token.
    user_email:
      type: apiKey
      name: X-User-Email
      in: header
      description: User email.
x-tagGroups:
- name: Getting Started
  tags:
  - support
  - servers
  - api_specification
  - date_and_time_fields
  - authentication
  - rate_limiting
  - external_ids
  - pagination
  - filters
- name: Events
  tags:
  - events
  - event_supplier_companies
  - event_supplier_contacts
  - event_templates
- name: Worksheets
  tags:
  - worksheets
  - line_items
- name: Bids
  tags:
  - bids
  - bid_line_items
