openapi: 3.0.2
info:
  title: Workday Strategic Sourcing attachments savings_reports API
  version: '1.0'
  description: '<span id="section/Authentication/api_key" data-section-id="section/Authentication/api_key"></span>

    <span id="section/Authentication/user_token" data-section-id="section/Authentication/user_token"></span>

    <span id="section/Authentication/user_email" data-section-id="section/Authentication/user_email"></span>

    '
servers:
- url: https://api.us.workdayspend.com/services/attachments/v1
  description: Production Server
- url: https://api.sandbox.us.workdayspend.com/services/attachments/v1
  description: Sandbox Server
security:
- api_key: []
  user_token: []
  user_email: []
tags:
- name: savings_reports
  x-displayName: Savings Reports
  description: 'This report returns a list of Savings report entries.

    '
paths:
  /savings_reports/entries:
    get:
      tags:
      - savings_reports
      description: Returns a list of savings entries.
      operationId: Savings Report Entries
      summary: Savings Report Entries
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                allOf:
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/SavingsReportEntry'
                - $ref: '#/components/schemas/Pagination'
              examples:
                success:
                  $ref: '#/components/examples/index_response-7'
        '401':
          description: Unauthorized
      x-codeSamples:
      - label: Curl
        source: "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/savings_reports/entries\"\n"
  /savings_reports/schema:
    get:
      tags:
      - savings_reports
      description: Returns the savings report schema.
      operationId: Savings Report Schema
      summary: Savings Report Schema
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SavingsReportEntryFieldModel'
              examples:
                success:
                  $ref: '#/components/examples/schema_response-8'
        '401':
          description: Unauthorized
      x-codeSamples:
      - label: Curl
        source: "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/savings_reports/schema\"\n"
components:
  schemas:
    SavingsReportEntryId:
      description: Savings Report identifier string.
      example: 1
    ReportSchemaFieldType:
      type: string
      enum:
      - text
      - date
      - integer
      - select
      - string
      description: Field type
      example: string
    SavingsReportEntry:
      type: object
      required:
      - name
      - id
      properties:
        type:
          $ref: '#/components/schemas/SavingsReportEntryType'
        id:
          $ref: '#/components/schemas/SavingsReportEntryId'
        attributes:
          $ref: '#/components/schemas/SavingsReportEntryAttributes'
    NextPageLink:
      type: object
      properties:
        next:
          type: string
          format: url
          description: Link to the next results page.
          nullable: true
    ReportSchemaField:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/ReportSchemaFieldType'
        name:
          type: string
          description: Field name
          example: Scout-System ID
    SavingsReportEntryAttributes:
      description: Savings Report Entry attributes. See example response and schema.
      properties: {}
    SavingsReportEntryFieldModel:
      type: object
      properties:
        id:
          type: string
          description: Object ID, should always be `savings_schemas`.
        type:
          type: string
          description: Object type, should always be `savings_schemas`.
        attributes:
          $ref: '#/components/schemas/ReportSchemaFieldModel'
    ReportSchemaFieldModel:
      type: object
      properties:
        fields:
          type: array
          items:
            $ref: '#/components/schemas/ReportSchemaField'
    PaginationLinks:
      type: object
      description: List of pagination links.
      allOf:
      - $ref: '#/components/schemas/NextPageLink'
      - $ref: '#/components/schemas/PrevPageLink'
    Pagination:
      type: object
      properties:
        links:
          $ref: '#/components/schemas/PaginationLinks'
    PrevPageLink:
      type: object
      properties:
        prev:
          type: string
          format: url
          description: Link to the previous results page.
          nullable: true
    SavingsReportEntryType:
      description: Object type, should always be `savings_report_entries`.
      example: savings_report_entries
  examples:
    index_response-7:
      value:
        data:
        - id: 1-2018-04-01
          type: savings_report_entries
          attributes:
            Scout-ID: 1
            Scout-Savings Type: 'Savings Type #0'
            Scout-Realized Date: '2018-04-01'
            Scout-Realized Date FY: 2018
            Scout-Realized Date FQ: 2
            Scout-Savings Start Date: '2018-04-20'
            Scout-Savings Start Date FY: 2018
            Scout-Savings Start Date FQ: 2
            Scout-Savings End Date: '2018-04-25'
            Scout-Savings End Date FY: 2018
            Scout-Savings End Date FQ: 2
            Scout-Frequency: Calculated
            Scout-Realized Savings: '100.0'
            Scout-Projected Savings: '0.0'
            Scout-Monthly Total: '100.0'
            Scout-Total: '100.0'
            Scout-Savings Notes: Some notes
            Scout-Last Updated Date: '2018-04-25'
            'Scout-ID #': 1
            Scout-Project Title: Project 1
            Scout-Project Type: 'Project Type #183'
            Scout-Project Type Short Code: '1833'
            Scout-Project State & Status: Planned
            Scout-Sourcing Owner: Cammy Ankunding
            Scout-Category: null
            Scout-Suppliers on Project: null
            Scout-Actual Start Date: '2018-04-20'
            Scout-Actual End Date: '2018-04-25'
            Scout-Estimated Savings: '20000.0'
            Scout-ID-Unique: 1-2018-04-01
            Custom field for project!: null
            Custom date field: null
        - id: 2-2018-04-01
          type: savings_report_entries
          attributes:
            Scout-ID: 2
            Scout-Savings Type: 'Savings Type #0'
            Scout-Realized Date: '2018-04-01'
            Scout-Realized Date FY: 2018
            Scout-Realized Date FQ: 2
            Scout-Savings Start Date: '2018-04-19'
            Scout-Savings Start Date FY: 2018
            Scout-Savings Start Date FQ: 2
            Scout-Savings End Date: '2018-05-24'
            Scout-Savings End Date FY: 2018
            Scout-Savings End Date FQ: 2
            Scout-Frequency: Calculated
            Scout-Realized Savings: '33.3333333333333333'
            Scout-Projected Savings: '0.0'
            Scout-Monthly Total: '33.3333333333333333'
            Scout-Total: '100.0'
            Scout-Savings Notes: Some notes
            Scout-Last Updated Date: '2018-04-25'
            'Scout-ID #': 2
            Scout-Project Title: Project 2
            Scout-Project Type: 'Project Type #185'
            Scout-Project Type Short Code: '1859'
            Scout-Project State & Status: Planned
            Scout-Sourcing Owner: Cammy Ankunding
            Scout-Category: null
            Scout-Suppliers on Project: null
            Scout-Actual Start Date: '2018-04-20'
            Scout-Actual End Date: '2018-04-25'
            Scout-Estimated Savings: '20000.0'
            Scout-ID-Unique: 2-2018-04-01
            Custom field for project!: Custom string field value
            Custom date field: '2018-01-01'
        - id: 2-2018-05-01
          type: savings_report_entries
          attributes:
            Scout-ID: 2
            Scout-Savings Type: 'Savings Type #0'
            Scout-Realized Date: '2018-05-01'
            Scout-Realized Date FY: 2018
            Scout-Realized Date FQ: 2
            Scout-Savings Start Date: '2018-04-19'
            Scout-Savings Start Date FY: 2018
            Scout-Savings Start Date FQ: 2
            Scout-Savings End Date: '2018-05-24'
            Scout-Savings End Date FY: 2018
            Scout-Savings End Date FQ: 2
            Scout-Frequency: Calculated
            Scout-Realized Savings: '66.6666666666666667'
            Scout-Projected Savings: '0.0'
            Scout-Monthly Total: '66.6666666666666667'
            Scout-Total: '100.0'
            Scout-Savings Notes: Some notes
            Scout-Last Updated Date: '2018-04-25'
            'Scout-ID #': 2
            Scout-Project Title: Project 2
            Scout-Project Type: 'Project Type #185'
            Scout-Project Type Short Code: '1859'
            Scout-Project State & Status: Planned
            Scout-Sourcing Owner: Cammy Ankunding
            Scout-Category: null
            Scout-Suppliers on Project: null
            Scout-Actual Start Date: '2018-04-20'
            Scout-Actual End Date: '2018-04-25'
            Scout-Estimated Savings: '20000.0'
            Scout-ID-Unique: 2-2018-05-01
            Custom field for project!: Custom string field value
            Custom date field: '2018-01-01'
        links:
          prev: null
          next: null
    schema_response-8:
      value:
        data:
          id: savings_schemas
          type: savings_schemas
          attributes:
            fields:
            - type: text
              name: Scout-ID
            - type: select
              name: Scout-Savings Type
            - type: date
              name: Scout-Realized Date
            - type: integer
              name: Scout-Realized Date FY
            - type: integer
              name: Scout-Realized Date FQ
            - type: date
              name: Scout-Savings Start Date
            - type: integer
              name: Scout-Savings Start Date FY
            - type: integer
              name: Scout-Savings Start Date FQ
            - type: date
              name: Scout-Savings End Date
            - type: integer
              name: Scout-Savings End Date FY
            - type: integer
              name: Scout-Savings End Date FQ
            - type: select
              name: Scout-Frequency
            - type: currency
              name: Scout-Realized Savings
            - type: currency
              name: Scout-Projected Savings
            - type: currency
              name: Scout-Monthly Total
            - type: currency
              name: Scout-Total
            - type: text
              name: Scout-Savings Notes
            - type: date
              name: Scout-Last Updated Date
            - type: text
              name: 'Scout-ID #'
            - type: text
              name: Scout-Project Title
            - type: select
              name: Scout-Project Type
            - type: select
              name: Scout-Project Type Short Code
            - type: select
              name: Scout-Project State & Status
            - type: select
              name: Scout-Sourcing Owner
            - type: select
              name: Scout-Category
            - type: select
              name: Scout-Suppliers on Project
            - type: date
              name: Scout-Actual Start Date
            - type: date
              name: Scout-Actual End Date
            - type: currency
              name: Scout-Estimated Savings
            - type: string
              name: 'Field #23'
  securitySchemes:
    api_key:
      type: apiKey
      name: X-Api-Key
      in: header
      description: Company API key.
    user_token:
      type: apiKey
      name: X-User-Token
      in: header
      description: User token.
    user_email:
      type: apiKey
      name: X-User-Email
      in: header
      description: User email.
x-tagGroups:
- name: Getting Started
  tags:
  - support
  - servers
  - api_specification
  - authentication
  - rate_limiting
- name: Attachments
  tags:
  - attachments
