openapi: 3.0.2
info:
  title: Workday Strategic Sourcing attachments supplier_company_segmentation_statuses API
  version: '1.0'
  description: '<span id="section/Authentication/api_key" data-section-id="section/Authentication/api_key"></span>

    <span id="section/Authentication/user_token" data-section-id="section/Authentication/user_token"></span>

    <span id="section/Authentication/user_email" data-section-id="section/Authentication/user_email"></span>

    '
servers:
- url: https://api.us.workdayspend.com/services/attachments/v1
  description: Production Server
- url: https://api.sandbox.us.workdayspend.com/services/attachments/v1
  description: Sandbox Server
security:
- api_key: []
  user_token: []
  user_email: []
tags:
- name: supplier_company_segmentation_statuses
  x-displayName: Supplier Company Segmentation Statuses
  description: 'Use the supplier company segmentation statuses API to create, update, and query the supplier company segmentation statuses in Workday Strategic Sourcing.


    ## Supplier Company Segmentation Status Object


    <SchemaDefinition schemaRef="#/components/schemas/SupplierCompanySegmentationStatus" showReadOnly={true} showWriteOnly={true} />

    '
paths:
  /supplier_company_segmentation_statuses:
    get:
      tags:
      - supplier_company_segmentation_statuses
      description: Returns a list of supplier company segmentation_statuses.
      operationId: List Supplier Company segmentation_statuses
      summary: List Supplier Company segmentation_statuses
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SupplierCompanySegmentationStatus'
              examples:
                success:
                  $ref: '#/components/examples/index_response-7'
        '401':
          description: Unauthorized
      x-codeSamples:
      - label: Curl
        source: "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_company_segmentation_statuses\"\n"
    post:
      tags:
      - supplier_company_segmentation_statuses
      description: 'Create a supplier company segmentation status with given parameters.

        '
      operationId: Create a Supplier Company Segmentation Status
      summary: Create a Supplier Company Segmentation Status
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/SupplierCompanySegmentationStatusCreate'
            examples:
              general:
                $ref: '#/components/examples/create_request-6'
      responses:
        '201':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SupplierCompanySegmentationStatus'
              examples:
                general:
                  $ref: '#/components/examples/create_response-7'
        '401':
          description: Unauthorized
        '409':
          description: Conflict
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
              examples:
                invalid_type:
                  summary: Missing or invalid 'type' specified, expected 'supplier_company_segmentation_statuses'
                  description: 'Returns error due to invalid `type` parameter.

                    '
                  value:
                    errors:
                    - detail: Missing or invalid 'type' specified, expected 'supplier_company_segmentation_statuses'
                duplicate_label:
                  summary: Duplicate `label` value provided
                  description: 'Returns error due to already taken `label` attribute.

                    '
                  value:
                    errors:
                    - source:
                        pointer: /data/attributes/label
                      title: Validation Error
                      detail: label has already been taken
      x-codeSamples:
      - label: Curl
        source: "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":{\"type\":\"supplier_company_segmentation_statuses\",\"attributes\":{\"label\":\"Super Approved!\",\"icon\": \"approved\",\"order\":4}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_company_segmentation_statuses\"\n"
  /supplier_company_segmentation_statuses/{id}:
    patch:
      tags:
      - supplier_company_segmentation_statuses
      description: 'Updates the details of an existing supplier company segmentation status. You need to supply the unique

        identifier that was returned upon supplier company segmentation status creation.


        Please note, that request body must include an `id` attribute with the value of your supplier company segmentation status

        unique identifier (the same one you passed in the URL).

        '
      operationId: Update a Supplier Company Segmentation Status
      summary: Update a Supplier Company Segmentation Status
      parameters:
      - name: id
        in: path
        description: Unique supplier company segmentation status identifier.
        required: true
        schema:
          type: integer
        example: 1
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/SupplierCompanySegmentationStatusUpdate'
            examples:
              success:
                $ref: '#/components/examples/update_request-7'
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SupplierCompanySegmentationStatus'
              examples:
                success:
                  $ref: '#/components/examples/update_response-7'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '409':
          description: Conflict
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Errors'
              examples:
                invalid_type:
                  summary: Missing or invalid 'type' specified, expected 'supplier_company_segmentation_statuses'
                  description: 'Returns error due to invalid `type` parameter.

                    '
                  value:
                    errors:
                    - detail: Missing or invalid 'type' specified, expected 'supplier_company_segmentation_statuses'
                duplicate_label:
                  summary: Duplicate `label` value provided
                  description: 'Returns error due to already taken `label` attribute.

                    '
                  value:
                    errors:
                    - source:
                        pointer: /data/attributes/label
                      title: Validation Error
                      detail: label has already been taken
      x-codeSamples:
      - label: Curl
        source: "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"supplier_company_segmentation_statuses\",\"id\":\"2\",\"attributes\":{\"label\":\"Very Approved\",\"icon\":\"red\",\"order\":1}}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_company_segmentation_statuses/2\"\n"
    delete:
      tags:
      - supplier_company_segmentation_statuses
      description: 'Deletes a supplier company segmentation status. You need to supply the unique supplier company segmentation status

        identifier that was returned upon supplier company segmentation status creation.

        '
      operationId: Delete a Supplier Company Segmentation Status
      summary: Delete a Supplier Company Segmentation Status
      parameters:
      - name: id
        in: path
        description: Unique supplier company segmentation status identifier.
        required: true
        schema:
          type: integer
        example: 1
      responses:
        '204':
          description: OK
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      x-codeSamples:
      - label: Curl
        source: "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_company_segmentation_statuses/1\"\n"
components:
  schemas:
    SupplierCompanySegmentationStatusCreate:
      type: object
      required:
      - type
      properties:
        type:
          $ref: '#/components/schemas/SupplierCompanySegmentationStatusType'
        attributes:
          allOf:
          - $ref: '#/components/schemas/SupplierCompanySegmentationStatusCreateAttributes'
          - type: object
            required:
            - label
            - icon
    SupplierCompanySegmentationStatus:
      allOf:
      - $ref: '#/components/schemas/SupplierCompanySegmentationStatusBase'
      - type: object
        properties:
          attributes:
            $ref: '#/components/schemas/SupplierCompanySegmentationStatusCreateAttributes'
    SupplierCompanySegmentationStatusType:
      type: string
      description: Object type, should always be `supplier_company_segmentation_statuses`.
      example: supplier_company_segmentation_statuses
    SupplierCompanySegmentationStatusBase:
      title: Field
      type: object
      required:
      - type
      - id
      properties:
        type:
          $ref: '#/components/schemas/SupplierCompanySegmentationStatusType'
        id:
          $ref: '#/components/schemas/SupplierCompanySegmentationStatusId'
    SupplierCompanySegmentationStatusAttributes:
      type: object
      description: Supplier company segmentation status attributes.
      required:
      - label
      - icon
      properties:
        label:
          type: string
          maxLength: 255
          description: Supplier company segmentation status label.
          example: Approved
        order:
          type: integer
          description: Supplier company segmentation status order
          example: 1
        color:
          type: string
          description: Supplier company segmentation status color
          enum:
          - approved
          - reviewing
          - out_of_complience
          - denied
          - not_approved
    SupplierCompanySegmentationStatusUpdate:
      type: object
      required:
      - type
      - id
      properties:
        type:
          $ref: '#/components/schemas/SupplierCompanySegmentationStatusType'
        id:
          $ref: '#/components/schemas/SupplierCompanySegmentationStatusId'
        attributes:
          $ref: '#/components/schemas/SupplierCompanySegmentationStatusAttributes'
    SupplierCompanySegmentationStatusId:
      type: integer
      description: Supplier company segmentation status identifier string.
      example: 1
    SupplierCompanySegmentationStatusCreateAttributes:
      type: object
      description: Supplier company segmentation status attributes.
      required:
      - label
      - icon
      properties:
        label:
          type: string
          maxLength: 255
          description: Supplier company segmentation status label.
          example: Approved
        order:
          type: integer
          description: Supplier company segmentation status order
          example: 1
        color:
          type: string
          description: Supplier company segmentation status icon
          enum:
          - approved
          - reviewing
          - out_of_complience
          - denied
          - not_approved
    Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    Error:
      type: object
      properties:
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
  examples:
    update_response-7:
      value:
        data:
          type: supplier_company_segmentation_statuses
          attributes:
            label: Kinda Approved!
            icon: reviewing
            order: 1
            slug: kinda_approved_25672734-8f8f-4735-9099-8a4f3c64505a
    update_request-7:
      value:
        data:
          type: supplier_company_segmentation_statuses
          id: '4'
          attributes:
            label: Kinda Approved!
            icon: reviewing
            order: 1
    create_response-7:
      value:
        data:
          type: supplier_company_segmentation_statuses
          attributes:
            label: Super Approved!
            icon: approved
            order: 6
            slug: super_approved_25672734-8f8f-4735-9099-8a4f3c64505a
    index_response-7:
      value:
        data:
        - id: '1'
          type: supplier_company_segmentation_statuses
          attributes:
            label: Not Approved
            slug: approved
            icon: not_approved
            order: 1
        - id: '2'
          type: supplier_company_segmentation_statuses
          attributes:
            label: Reviewing
            slug: reviewing
            icon: reviewing
            order: 2
        - id: '3'
          type: supplier_company_segmentation_statuses
          attributes:
            label: Approved
            slug: approved
            icon: approved
            order: 3
        - id: '4'
          type: supplier_company_segmentation_statuses
          attributes:
            label: Out of Compliance
            slug: out_of_compliance
            icon: out_of_compliance
            order: 4
        - id: '5'
          type: supplier_company_segmentation_statuses
          attributes:
            label: Denied
            slug: denied
            icon: denied
            order: 5
        - id: '6'
          type: supplier_company_segmentation_statuses
          attributes:
            label: Super Approved!
            slug: super_high_25672734-8f8f-4735-9099-8a4f3c64505a
            icon: approved
            order: 6
        links:
          self: https://api.us.workdayspend.com/services/suppliers/v1/supplier_company_segmentation_statuses
    create_request-6:
      value:
        data:
          type: supplier_company_segmentation_statuses
          attributes:
            label: Super Approved!
            icon: approved
            order: 6
  securitySchemes:
    api_key:
      type: apiKey
      name: X-Api-Key
      in: header
      description: Company API key.
    user_token:
      type: apiKey
      name: X-User-Token
      in: header
      description: User token.
    user_email:
      type: apiKey
      name: X-User-Email
      in: header
      description: User email.
x-tagGroups:
- name: Getting Started
  tags:
  - support
  - servers
  - api_specification
  - authentication
  - rate_limiting
- name: Attachments
  tags:
  - attachments
