{
  "openapi": "3.0.2",
  "info": {
    "title": "Workday Strategic Sourcing Reports API",
    "version": "1.0",
    "description": "<span id=\"section/Authentication/api_key\" data-section-id=\"section/Authentication/api_key\"></span>\n<span id=\"section/Authentication/user_token\" data-section-id=\"section/Authentication/user_token\"></span>\n<span id=\"section/Authentication/user_email\" data-section-id=\"section/Authentication/user_email\"></span>\n"
  },
  "servers": [
    {
      "url": "https://api.us.workdayspend.com",
      "description": "US Region"
    },
    {
      "url": "https://api.ca.workdayspend.com",
      "description": "Canada Region"
    },
    {
      "url": "https://api.eu.workdayspend.com",
      "description": "Europe/EU Region"
    }
  ],
  "security": [
    {
      "api_key": [],
      "user_token": [],
      "user_email": []
    }
  ],
  "tags": [
    {
      "name": "support",
      "x-displayName": "Customer Support",
      "description": "We've provided detailed documentation below to guide you. However, if you need additional assistance, here's how you can get the support you need:\n\n* __Community Discussions:__ Join the conversation on our Workday Community Discussion Boards (found under the \"Collaborate\" section in community). Connect with other users, share best practices, and get answers to your configuration questions.\n* __Expert Configuration Assistance (Professional Services):__ For tailored, hands-on support with your specific project, our Professional Services team is available.\n  * Looking for personalized guidance? Workday Success Plan customers can submit an \"Ask\" for expert insights on configuration and best practices.\n  * Need custom solutions? Consider Expert Assist, our consulting service for detailed changes and project support.\n* __Reporting System Issues:__ If you suspect a problem with the Workday system itself, please connect with our dedicated support team. Your company's Named Support Contact (NSC) can log a Product Support Defect case. We'll review the issue based on its impact and Workday's service level agreement (SLA).\n"
    },
    {
      "name": "servers",
      "x-displayName": "Servers",
      "description": "A corresponding \"region domain\" should be used on every request. Please contact customer support if you are not sure which one to use.\n\n**Note, our original domain `api.scoutrfp.com` is currently deprecated. Please switch to a new US region domain on or before April-2025.**\n\n\n| Region             | Domain                            |\n|--------------------|-----------------------------------|\n| **US (Default)**   | https://api.us.workdayspend.com   |\n| **Canada**         | https://api.ca.workdayspend.com   |\n| **Europe/EU**      | https://api.eu.workdayspend.com   |\n"
    },
    {
      "name": "api_specification",
      "x-displayName": "API Specification",
      "description": "The API conforms to the [JSON API Specification](https://jsonapi.org).\n"
    },
    {
      "name": "authentication",
      "x-displayName": "Authentication",
      "description": "The Workday Strategic Sourcing API uses API keys to authenticate requests. Every request\nwill require all 3 HTTP headers:\n\n| HTTP Header       | Description               |\n|-------------------|---------------------------|\n| **X-Api-Key**     | a company-wide API key    |\n| **X-User-Token**  | a user-specific API token |\n| **X-User-Email**  | user email                |\n\nYou can generate all of those from the _API tokens_ section of your _Profile_ page.\n\nYour API keys carry many privileges, so be sure to keep them secure! Do not share your secret API\nkeys in publicly accessible areas such as GitHub, client-side code, and so forth.\n\n\nAll API requests must be made over [HTTPS](http://en.wikipedia.org/wiki/HTTP_Secure). Calls made\nover plain HTTP will fail. API requests without authentication will also fail.\n"
    },
    {
      "name": "rate_limiting",
      "x-displayName": "Rate Limiting",
      "description": "Rate limit windows are per second and are shared by all API Keys for a company.\n\nThe rate limit *for reporting only* is 1 request per second.\n\nWhen request submissions exceed the limits, the limit-exceeding requests return `429 Too Many Requests` error responses to the client.\n\nUpon receiving a `429` response, it is recommended to retry the request in compliance with the rate limit. One example would be to add a sleep function for 1 second and retry.\n"
    },
    {
      "name": "versioning",
      "x-displayName": "Versioning",
      "description": "**Note**: The Reporting API handles versioning differently than our public APIs.\n\nWe release a new dated version when we make backwards incompatible changes to the API.\nSo to be sure that the version used is consistent, we require it to be supplied in the\nrequest Accept header mime type `com.workdayspend.api.version` parameter.\n\nAs the JSON API spec requires to supply its mime type\n[at least once with no parameters](https://jsonapi.org/format/#content-negotiation-clients),\nthe recommended way is to supply the Accept header as follows:\n\n```\n  application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\n```\n\nThe next Accept header will be deprecated in April-2025:\n\n```\n  application/vnd.api+json,application/vnd.api+json; com.scoutrfp.api.version=2019-01-01\n```\n\nwhere `2019-01-01` is the current version.\n\nThere is `2018-04-01` version still available, which allows to pass given report id as a parameter (See 2018-04-01 Projects or Events documentation), however it might be depricated without a warning.\n"
    },
    {
      "name": "pagination",
      "x-displayName": "Pagination",
      "description": "The list endpoints are paginated - the records are returned in batches of 10 by default.\nYou can change this amount by passing the page[size] parameter that supports values\nfrom 1 to 100. If the previous/next page is available for the requested records,\nthe `prev`/`next` key respectively has a value with a link to the corresponding page in\nthe top level `links` object of the response. Otherwise, if the next/previous page is not\navailable, the value for the corresponding key is `null`. So normally you would fetch the\nrecord with the standard URL and repeatedly fetch the next page till it is not available\nany more (which means that you have fetched all the pages).\n"
    },
    {
      "name": "sorting",
      "x-displayName": "Sorting",
      "description": "The results of each list endpoint are sorted by its default sort value. You can override\nthe sort value by passing the `sort` param to the request. Default and available values are\nvisible in the documentation list endpoint section of each resource.\n"
    },
    {
      "name": "including_relationships",
      "x-displayName": "Including Relationships",
      "description": "By default only the `id` and `type` of record relationships will be included. To include other\nattributes in the response, use the `include` parameter with a single value or multiple\ncomma-separated values. An array of relationship objects is then available under the\ntop level `included` key. Valid `include` values are noted in the documentation endpoint\nsection of each resource.\n"
    },
    {
      "name": "contract_milestone_reports",
      "x-displayName": "Contract Milestone Reports",
      "description": "This report returns a list of contract milestone report entries.\n"
    },
    {
      "name": "contract_reports",
      "x-displayName": "Contract Reports",
      "description": "This report returns a list of contract report entries.\n"
    },
    {
      "name": "event_reports",
      "x-displayName": "Event Reports",
      "description": "This report returns a list of event report entries.\n"
    },
    {
      "name": "performance_review_answer_reports",
      "x-displayName": "Performance Review Answer Reports",
      "description": "This report returns a list of Performance Review Answer report entries.\n"
    },
    {
      "name": "performance_review_reports",
      "x-displayName": "Performance Review Reports",
      "description": "This report returns a list of Performance Review report entries.\n"
    },
    {
      "name": "project_milestone_reports",
      "x-displayName": "Project Milestone Reports",
      "description": "This report returns a list of Project Milestone report entries.\n"
    },
    {
      "name": "project_reports",
      "x-displayName": "Project Reports",
      "description": "This report returns a list of Project report entries.\n"
    },
    {
      "name": "savings_reports",
      "x-displayName": "Savings Reports",
      "description": "This report returns a list of Savings report entries.\n"
    },
    {
      "name": "supplier_reports",
      "x-displayName": "Supplier Reports",
      "description": "This report returns a list of Supplier report entries.\n"
    },
    {
      "name": "supplier_review_reports",
      "x-displayName": "Supplier Review Reports",
      "description": "This report returns a list of Supplier Review report entries.\n"
    },
    {
      "name": "suppliers",
      "x-displayName": "Suppliers",
      "description": "This report returns a list of Suppliers.\n"
    }
  ],
  "paths": {
    "/contract_milestone_reports/entries": {
      "get": {
        "tags": [
          "contract_milestone_reports"
        ],
        "description": "Returns a list of milestone report entries.",
        "operationId": "Contract Milestone Report Entries",
        "summary": "Contract Milestone Report Entries",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ContractMilestoneReportEntry"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/index_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/contract_milestone_reports/entries\"\n"
          }
        ]
      }
    },
    "/contract_milestone_reports/schema": {
      "get": {
        "tags": [
          "contract_milestone_reports"
        ],
        "description": "Returns the contract milestone report schema.",
        "operationId": "Contract Milestone Report Schema",
        "summary": "Contract Milestone Report Schema",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ContractMilestoneReportEntryFieldModel"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/schema_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/contract_milestone_reports/schema\"\n"
          }
        ]
      }
    },
    "/contract_reports/entries": {
      "get": {
        "tags": [
          "contract_reports"
        ],
        "description": "Returns a list of contract report entries.",
        "operationId": "Contract Report Entries",
        "summary": "Contract Report Entries",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ContractReportEntry"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/index_response-2"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/contract_reports/entries\"\n"
          }
        ]
      }
    },
    "/contract_reports/schema": {
      "get": {
        "tags": [
          "contract_reports"
        ],
        "description": "Returns the contract report schema.",
        "operationId": "Contract Report Schema",
        "summary": "Contract Report Schema",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ContractReportEntryFieldModel"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/schema_response-2"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/contract_reports/schema\"\n"
          }
        ]
      }
    },
    "/event_reports/entries": {
      "get": {
        "tags": [
          "event_reports"
        ],
        "description": "Returns a list of event report entries.",
        "operationId": "Event Report Entries",
        "summary": "Event Report Entries",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/EventReportEntry"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                },
                "examples": {
                  "Version 2018-04-01": {
                    "description": "Requesting 2018-04-01 version.",
                    "$ref": "#/components/examples/index_response_20180401"
                  },
                  "Version 2019-01-01": {
                    "description": "Requesting 2019-01-01 version.",
                    "$ref": "#/components/examples/index_response_20190101"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/event_reports/entries\"\n"
          }
        ]
      }
    },
    "/event_reports/{event_report_id}/entries": {
      "get": {
        "tags": [
          "event_reports"
        ],
        "description": "Returns a list of event report entries.",
        "operationId": "Event Single Report Entries",
        "summary": "Event Single Report Entries",
        "parameters": [
          {
            "name": "event_report_id",
            "in": "path",
            "description": "Unique Event Report identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/EventReportEntry"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                },
                "examples": {
                  "Version 2018-04-01": {
                    "description": "Requesting 2018-04-01 version.",
                    "$ref": "#/components/examples/show_response_20190101"
                  },
                  "Version 2019-01-01": {
                    "description": "Requesting 2019-01-01 version.",
                    "$ref": "#/components/examples/show_response_20190101"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/event_reports/{event_report_id}/entries\"\n"
          }
        ]
      }
    },
    "/event_reports": {
      "get": {
        "tags": [
          "event_reports"
        ],
        "description": "Returns a list of reports owned by the user.\n\n**This report endpoint is only valid in version 2018-04-01.**\n\n**It is deprecated and unavailable in subsequent versions.**\n",
        "operationId": "Event Report Entries (Deprecated)",
        "summary": "Event Report Entries (Deprecated)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/EventReportEntry"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                },
                "examples": {
                  "Version 2018-04-01": {
                    "description": "Requesting 2018-04-01 version.",
                    "$ref": "#/components/examples/all_reports_response_20180401"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "410": {
            "description": "Deprecated (2019-01-01)",
            "content": {
              "application/vnd.api+json": {
                "examples": {
                  "Version 2019-01-01": {
                    "description": "Requesting 2019-01-01 version.",
                    "$ref": "#/components/examples/all_reports_response_20190101"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2018-04-01\"\n     \"https://api.us.workdayspend.com/event_reports\"\n"
          }
        ]
      }
    },
    "/event_reports/schema": {
      "get": {
        "tags": [
          "event_reports"
        ],
        "description": "Returns the event report schema.",
        "operationId": "Event Report Schema",
        "summary": "Event Report Schema",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/EventReportEntryFieldModel"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/schema_response-3"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/event_reports/schema\"\n"
          }
        ]
      }
    },
    "/performance_review_answer_reports/entries": {
      "get": {
        "tags": [
          "performance_review_answer_reports"
        ],
        "description": "Returns a list of performance review answer entries.",
        "operationId": "Performance Review Answer Report Entries",
        "summary": "Performance Review Answer Report Entries",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PerformanceReviewAnswerReportEntry"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/index_response-3"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/performance_review_answer_reports/entries\"\n"
          }
        ]
      }
    },
    "/performance_review_answer_reports/schema": {
      "get": {
        "tags": [
          "performance_review_answer_reports"
        ],
        "description": "Returns the performance review answer report schema.",
        "operationId": "Performance Review Answer Schema",
        "summary": "Performance Review Answer Schema",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PerformanceReviewAnswerReportEntryFieldModel"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/schema_response-4"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/performance_review_answer_reports/schema\"\n"
          }
        ]
      }
    },
    "/performance_review_reports/entries": {
      "get": {
        "tags": [
          "performance_review_reports"
        ],
        "description": "Returns a list of peformance review entries.",
        "operationId": "Performance Review Report Entries",
        "summary": "Performance Review Report Entries",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PerformanceReviewReportEntry"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/index_response-4"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/performance_review_reports/entries\"\n"
          }
        ]
      }
    },
    "/performance_review_reports/schema": {
      "get": {
        "tags": [
          "performance_review_reports"
        ],
        "description": "Returns the performance review report schema.",
        "operationId": "Performance Review Report Schema",
        "summary": "Performance Review Report Schema",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PerformanceReviewReportEntryFieldModel"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/schema_response-5"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/performance_review_reports/schema\"\n"
          }
        ]
      }
    },
    "/project_milestone_reports/entries": {
      "get": {
        "tags": [
          "project_milestone_reports"
        ],
        "description": "Returns a list of project milestone entries.",
        "operationId": "Project Milestone Report Entries",
        "summary": "Project Milestone Report Entries",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ProjectMilestoneReportEntry"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/index_response-5"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/project_milestone_reports/entries\"\n"
          }
        ]
      }
    },
    "/project_milestone_reports/schema": {
      "get": {
        "tags": [
          "project_milestone_reports"
        ],
        "description": "Returns the project milestone report schema.",
        "operationId": "Project Milestone Report Schema",
        "summary": "Project Milestone Report Schema",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProjectMilestoneReportEntryFieldModel"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/schema_response-6"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/project_milestone_reports/schema\"\n"
          }
        ]
      }
    },
    "/project_reports/entries": {
      "get": {
        "tags": [
          "project_reports"
        ],
        "description": "Returns a list of project report entries.\n\n**Does not support `project_report_id` parameter for the 2019-01-01 version.**\n",
        "operationId": "Project Report Entries",
        "summary": "Project Report Entries",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ProjectReportEntry"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "description": "Requesting 2019-01-01 version.",
                    "$ref": "#/components/examples/index_response-6"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/project_reports/entries\"\n"
          }
        ]
      }
    },
    "/project_reports/schema": {
      "get": {
        "tags": [
          "project_reports"
        ],
        "description": "Returns the project report schema.",
        "operationId": "Project Report Schema",
        "summary": "Project Report Schema",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProjectReportEntryFieldModel"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/schema_response-7"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/project_reports/schema\"\n"
          }
        ]
      }
    },
    "/savings_reports/entries": {
      "get": {
        "tags": [
          "savings_reports"
        ],
        "description": "Returns a list of savings entries.",
        "operationId": "Savings Report Entries",
        "summary": "Savings Report Entries",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SavingsReportEntry"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/index_response-7"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/savings_reports/entries\"\n"
          }
        ]
      }
    },
    "/savings_reports/schema": {
      "get": {
        "tags": [
          "savings_reports"
        ],
        "description": "Returns the savings report schema.",
        "operationId": "Savings Report Schema",
        "summary": "Savings Report Schema",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SavingsReportEntryFieldModel"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/schema_response-8"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/savings_reports/schema\"\n"
          }
        ]
      }
    },
    "/supplier_reports/entries": {
      "get": {
        "tags": [
          "supplier_reports"
        ],
        "description": "Returns a list of supplier entries.",
        "operationId": "Supplier Report Entries",
        "summary": "Supplier Report Entries",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SupplierReportEntry"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/index_response-8"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/supplier_reports/entries\"\n"
          }
        ]
      }
    },
    "/supplier_reports/schema": {
      "get": {
        "tags": [
          "supplier_reports"
        ],
        "description": "Returns the supplier report schema.",
        "operationId": "Supplier Report Schema",
        "summary": "Supplier Report Schema",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SupplierReportEntryFieldModel"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/schema_response-9"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/supplier_reports/schema\"\n"
          }
        ]
      }
    },
    "/supplier_review_reports/entries": {
      "get": {
        "tags": [
          "supplier_review_reports"
        ],
        "description": "Returns a list of supplier review entries.",
        "operationId": "Supplier Review Report Entries",
        "summary": "Supplier Review Report Entries",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SupplierReviewReportEntry"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/index_response-9"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/supplier_review_reports/entries\"\n"
          }
        ]
      }
    },
    "/supplier_review_reports/schema": {
      "get": {
        "tags": [
          "supplier_review_reports"
        ],
        "description": "Returns the supplier review report schema.",
        "operationId": "Supplier Review Report Schema",
        "summary": "Supplier Review Report Schema",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SupplierReviewReportEntryFieldModel"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/schema_response-10"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/supplier_review_reports/schema\"\n"
          }
        ]
      }
    },
    "/suppliers": {
      "get": {
        "tags": [
          "suppliers"
        ],
        "description": "Returns a list of all suppliers.\n\n**Query Params**\n\n| **Param**    |    |\n| ------------ | -- |\n| `include`  | Include supplier contacts with `include=contacts` |\n| `sort`     | Sort the suppliers. Supported values: `name`, `-name`, `created_at`, `-created_at`. |\n",
        "operationId": "All suppliers",
        "summary": "All suppliers",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Supplier"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/index_response-10"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2018-04-01\"\n     \"https://api.us.workdayspend.com/suppliers\"\n"
          }
        ]
      }
    },
    "/suppliers/{supplier_id}": {
      "get": {
        "tags": [
          "suppliers"
        ],
        "description": "Returns a single supplier.\n\nYou can optionally include the following query parameter to include supplier contacts in the response:\n\n`suppliers/1?include=contacts`\n",
        "operationId": "Single supplier",
        "summary": "Single supplier",
        "parameters": [
          {
            "name": "supplier_id",
            "in": "path",
            "description": "Unique Supplier identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Supplier"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/show_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2018-04-01\"\n     \"https://api.us.workdayspend.com/suppliers/{supplier_id}\"\n"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ContractMilestoneReportEntryType": {
        "description": "Object type, should always be `contract_milestone_report_entries`.",
        "example": "contract_milestone_report_entries"
      },
      "ContractMilestoneReportEntryId": {
        "description": "Contract Milestone identifier string.",
        "example": 1
      },
      "ContractMilestoneReportEntryAttributes": {
        "description": "Contract Milestone Report Entry attributes. See example response and schema.",
        "properties": {}
      },
      "ContractMilestoneReportEntry": {
        "type": "object",
        "required": [
          "name",
          "id"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ContractMilestoneReportEntryType"
          },
          "id": {
            "$ref": "#/components/schemas/ContractMilestoneReportEntryId"
          },
          "attributes": {
            "$ref": "#/components/schemas/ContractMilestoneReportEntryAttributes"
          }
        }
      },
      "NextPageLink": {
        "type": "object",
        "properties": {
          "next": {
            "type": "string",
            "format": "url",
            "description": "Link to the next results page.",
            "nullable": true
          }
        }
      },
      "PrevPageLink": {
        "type": "object",
        "properties": {
          "prev": {
            "type": "string",
            "format": "url",
            "description": "Link to the previous results page.",
            "nullable": true
          }
        }
      },
      "PaginationLinks": {
        "type": "object",
        "description": "List of pagination links.",
        "allOf": [
          {
            "$ref": "#/components/schemas/NextPageLink"
          },
          {
            "$ref": "#/components/schemas/PrevPageLink"
          }
        ]
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          }
        }
      },
      "ReportSchemaFieldType": {
        "type": "string",
        "enum": [
          "text",
          "date",
          "integer",
          "select",
          "string"
        ],
        "description": "Field type",
        "example": "string"
      },
      "ReportSchemaField": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ReportSchemaFieldType"
          },
          "name": {
            "type": "string",
            "description": "Field name",
            "example": "Scout-System ID"
          }
        }
      },
      "ReportSchemaFieldModel": {
        "type": "object",
        "properties": {
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReportSchemaField"
            }
          }
        }
      },
      "ContractMilestoneReportEntryFieldModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Object ID, should always be `contract_milestone_schemas`."
          },
          "type": {
            "type": "string",
            "description": "Object type, should always be `contract_milestone_schemas`."
          },
          "attributes": {
            "$ref": "#/components/schemas/ReportSchemaFieldModel"
          }
        }
      },
      "ContractReportEntryType": {
        "description": "Object type, should always be `contract_report_entries`.",
        "example": "contract_report_entries"
      },
      "ContractReportEntryId": {
        "description": "Contract Report identifier string.",
        "example": 1
      },
      "ContractReportEntryAttributes": {
        "description": "Contract Report Entry attributes. See example response and schema.",
        "properties": {}
      },
      "ContractReportEntry": {
        "type": "object",
        "required": [
          "name",
          "id"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ContractReportEntryType"
          },
          "id": {
            "$ref": "#/components/schemas/ContractReportEntryId"
          },
          "attributes": {
            "$ref": "#/components/schemas/ContractReportEntryAttributes"
          }
        }
      },
      "ContractReportEntryFieldModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Object ID, should always be `contract_schemas`."
          },
          "type": {
            "type": "string",
            "description": "Object type, should always be `contract_schemas`."
          },
          "attributes": {
            "$ref": "#/components/schemas/ReportSchemaFieldModel"
          }
        }
      },
      "EventReportEntryType": {
        "description": "Object type, should always be `event_report_entries`.",
        "example": "event_report_entries"
      },
      "EventReportEntryId": {
        "description": "Event Report identifier string.",
        "example": 1
      },
      "EventReportEntryAttributes": {
        "description": "Event Report Entry attributes. See example response and schema.",
        "properties": {}
      },
      "EventReportEntry": {
        "type": "object",
        "required": [
          "name",
          "id"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/EventReportEntryType"
          },
          "id": {
            "$ref": "#/components/schemas/EventReportEntryId"
          },
          "attributes": {
            "$ref": "#/components/schemas/EventReportEntryAttributes"
          }
        }
      },
      "EventReportEntryFieldModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Object ID, should always be `event_schemas`."
          },
          "type": {
            "type": "string",
            "description": "Object type, should always be `event_schemas`."
          },
          "attributes": {
            "$ref": "#/components/schemas/ReportSchemaFieldModel"
          }
        }
      },
      "PerformanceReviewAnswerReportEntryType": {
        "description": "Object type, should always be `performance_review_answer_report_entries`.",
        "example": "performance_review_answer_report_entries"
      },
      "PerformanceReviewAnswerReportEntryId": {
        "description": "Performance Review Answer Report identifier string.",
        "example": 1
      },
      "PerformanceReviewAnswerReportEntryAttributes": {
        "description": "Performance Review Answer Report Entry attributes. See example response and schema.",
        "properties": {}
      },
      "PerformanceReviewAnswerReportEntry": {
        "type": "object",
        "required": [
          "name",
          "id"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/PerformanceReviewAnswerReportEntryType"
          },
          "id": {
            "$ref": "#/components/schemas/PerformanceReviewAnswerReportEntryId"
          },
          "attributes": {
            "$ref": "#/components/schemas/PerformanceReviewAnswerReportEntryAttributes"
          }
        }
      },
      "PerformanceReviewAnswerReportEntryFieldModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Object ID, should always be `performance_review_answer_schemas`."
          },
          "type": {
            "type": "string",
            "description": "Object type, should always be `performance_review_answer_schemas`."
          },
          "attributes": {
            "$ref": "#/components/schemas/ReportSchemaFieldModel"
          }
        }
      },
      "PerformanceReviewReportEntryType": {
        "description": "Object type, should always be `performance_review_report_entries`.",
        "example": "performance_review_report_entries"
      },
      "PerformanceReviewReportEntryId": {
        "description": "Performance Review Report identifier string.",
        "example": 1
      },
      "PerformanceReviewReportEntryAttributes": {
        "description": "Performance Review Report Entry attributes. See example response and schema.",
        "properties": {}
      },
      "PerformanceReviewReportEntry": {
        "type": "object",
        "required": [
          "name",
          "id"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/PerformanceReviewReportEntryType"
          },
          "id": {
            "$ref": "#/components/schemas/PerformanceReviewReportEntryId"
          },
          "attributes": {
            "$ref": "#/components/schemas/PerformanceReviewReportEntryAttributes"
          }
        }
      },
      "PerformanceReviewReportEntryFieldModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Object ID, should always be `performance_review_schemas`."
          },
          "type": {
            "type": "string",
            "description": "Object type, should always be `performance_review_schemas`."
          },
          "attributes": {
            "$ref": "#/components/schemas/ReportSchemaFieldModel"
          }
        }
      },
      "ProjectMilestoneReportEntryType": {
        "description": "Object type, should always be `project_milestone_report_entries`.",
        "example": "project_milestone_report_entries"
      },
      "ProjectMilestoneReportEntryId": {
        "description": "Project Milestone Report identifier string.",
        "example": 1
      },
      "ProjectMilestoneReportEntryAttributes": {
        "description": "Project Milestone Report Entry attributes. See example response and schema.",
        "properties": {}
      },
      "ProjectMilestoneReportEntry": {
        "type": "object",
        "required": [
          "name",
          "id"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ProjectMilestoneReportEntryType"
          },
          "id": {
            "$ref": "#/components/schemas/ProjectMilestoneReportEntryId"
          },
          "attributes": {
            "$ref": "#/components/schemas/ProjectMilestoneReportEntryAttributes"
          }
        }
      },
      "ProjectMilestoneReportEntryFieldModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Object ID, should always be `project_milestone_schemas`."
          },
          "type": {
            "type": "string",
            "description": "Object type, should always be `project_milestone_schemas`."
          },
          "attributes": {
            "$ref": "#/components/schemas/ReportSchemaFieldModel"
          }
        }
      },
      "ProjectReportEntryType": {
        "description": "Object type, should always be `project_report_entries`.",
        "example": "project_report_entries"
      },
      "ProjectReportEntryId": {
        "description": "Project Report identifier string.",
        "example": 1
      },
      "ProjectReportEntryAttributes": {
        "description": "Project Report Entry attributes. See example response and schema.",
        "properties": {}
      },
      "ProjectReportEntry": {
        "type": "object",
        "required": [
          "name",
          "id"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ProjectReportEntryType"
          },
          "id": {
            "$ref": "#/components/schemas/ProjectReportEntryId"
          },
          "attributes": {
            "$ref": "#/components/schemas/ProjectReportEntryAttributes"
          }
        }
      },
      "ProjectReportEntryFieldModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Object ID, should always be `project_schemas`."
          },
          "type": {
            "type": "string",
            "description": "Object type, should always be `project_schemas`."
          },
          "attributes": {
            "$ref": "#/components/schemas/ReportSchemaFieldModel"
          }
        }
      },
      "SavingsReportEntryType": {
        "description": "Object type, should always be `savings_report_entries`.",
        "example": "savings_report_entries"
      },
      "SavingsReportEntryId": {
        "description": "Savings Report identifier string.",
        "example": 1
      },
      "SavingsReportEntryAttributes": {
        "description": "Savings Report Entry attributes. See example response and schema.",
        "properties": {}
      },
      "SavingsReportEntry": {
        "type": "object",
        "required": [
          "name",
          "id"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/SavingsReportEntryType"
          },
          "id": {
            "$ref": "#/components/schemas/SavingsReportEntryId"
          },
          "attributes": {
            "$ref": "#/components/schemas/SavingsReportEntryAttributes"
          }
        }
      },
      "SavingsReportEntryFieldModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Object ID, should always be `savings_schemas`."
          },
          "type": {
            "type": "string",
            "description": "Object type, should always be `savings_schemas`."
          },
          "attributes": {
            "$ref": "#/components/schemas/ReportSchemaFieldModel"
          }
        }
      },
      "SupplierReportEntryType": {
        "description": "Object type, should always be `supplier_report_entries`.",
        "example": "supplier_report_entries"
      },
      "SupplierReportEntryId": {
        "description": "Supplier Report identifier string.",
        "example": 1
      },
      "SupplierReportEntryAttributes": {
        "description": "Supplier Report Entry attributes. See example response and schema.",
        "properties": {}
      },
      "SupplierReportEntry": {
        "type": "object",
        "required": [
          "name",
          "id"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/SupplierReportEntryType"
          },
          "id": {
            "$ref": "#/components/schemas/SupplierReportEntryId"
          },
          "attributes": {
            "$ref": "#/components/schemas/SupplierReportEntryAttributes"
          }
        }
      },
      "SupplierReportEntryFieldModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Object ID, should always be `supplier_schemas`."
          },
          "type": {
            "type": "string",
            "description": "Object type, should always be `supplier_schemas`."
          },
          "attributes": {
            "$ref": "#/components/schemas/ReportSchemaFieldModel"
          }
        }
      },
      "SupplierReviewReportEntryType": {
        "description": "Object type, should always be `supplier_review_report_entries`.",
        "example": "supplier_review_report_entries"
      },
      "SupplierReviewReportEntryId": {
        "description": "Supplier Review Report identifier string.",
        "example": 1
      },
      "SupplierReviewReportEntryAttributes": {
        "description": "Supplier Review Report Entry attributes. See example response and schema.",
        "properties": {}
      },
      "SupplierReviewReportEntry": {
        "type": "object",
        "required": [
          "name",
          "id"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/SupplierReviewReportEntryType"
          },
          "id": {
            "$ref": "#/components/schemas/SupplierReviewReportEntryId"
          },
          "attributes": {
            "$ref": "#/components/schemas/SupplierReviewReportEntryAttributes"
          }
        }
      },
      "SupplierReviewReportEntryFieldModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Object ID, should always be `supplier_review_schemas`."
          },
          "type": {
            "type": "string",
            "description": "Object type, should always be `supplier_review_schemas`."
          },
          "attributes": {
            "$ref": "#/components/schemas/ReportSchemaFieldModel"
          }
        }
      },
      "SupplierType": {
        "description": "Object type, should always be `suppliers`.",
        "example": "suppliers"
      },
      "SupplierId": {
        "description": "Supplier identifier string.",
        "example": 1
      },
      "SupplierAttributes": {
        "description": "Supplier attributes. See example response.",
        "properties": {
          "name": {
            "type": "string"
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "properties": {
                "name": {
                  "description": "Name of custom field"
                },
                "value": {
                  "description": "Value of custom field"
                }
              }
            }
          }
        }
      },
      "SupplierContactType": {
        "description": "Object type, should always be `supplier_contacts`.",
        "example": "supplier_contacts"
      },
      "SupplierContactId": {
        "description": "Supplier contact identifier string.",
        "example": 1
      },
      "SupplierContactReference": {
        "type": "object",
        "required": [
          "name",
          "id"
        ],
        "properties": {
          "data": {
            "properties": {
              "type": {
                "$ref": "#/components/schemas/SupplierContactType"
              },
              "id": {
                "$ref": "#/components/schemas/SupplierContactId"
              }
            }
          }
        }
      },
      "Supplier": {
        "type": "object",
        "required": [
          "name",
          "id"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/SupplierType"
          },
          "id": {
            "$ref": "#/components/schemas/SupplierId"
          },
          "attributes": {
            "$ref": "#/components/schemas/SupplierAttributes"
          },
          "relationships": {
            "properties": {
              "contacts": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SupplierContactReference"
                }
              }
            }
          }
        }
      },
      "PageInput": {
        "type": "object",
        "properties": {
          "size": {
            "type": "number",
            "format": "integer",
            "description": "The number of results returned per page. Default is `10` and max is `100`.",
            "example": "25"
          }
        }
      }
    },
    "examples": {
      "index_response": {
        "value": {
          "data": [
            {
              "id": "1",
              "type": "contract_milestone_report_entries",
              "attributes": {
                "Scout-System ID": 1,
                "Scout-Milestone Name": "example 1",
                "Scout-Milestone Date": "2020-04-16",
                "Scout-Milestone Date FY": 2020,
                "Scout-Milestone Date FQ": 2,
                "Scout-Milestone Status": "Open",
                "Scout-Milestone Complete Date": null,
                "Scout-Milestone Complete Date FY": null,
                "Scout-Milestone Complete Date FQ": null,
                "Scout-Template Milestone": false,
                "Scout-Milestone Created By": null,
                "Scout-Milestone Create Date": "2020-04-14",
                "Scout-Milestone Create Date FY": 2020,
                "Scout-Milestone Create Date FQ": 2,
                "Scout-Milestone Assign Date": null,
                "Scout-Milestone Assignee": null,
                "Scout-Mark Completed By": null,
                "Scout-# of Days Milestone is Open": null,
                "Scout-Requestor Name": null,
                "Scout-Request Submitted": null,
                "Scout-Request Opened": null,
                "Scout-ID #": 1,
                "Scout-Contract Type": "Contract Type #11",
                "Scout-Contract Type Short Code": "11VD",
                "Scout-Supplier": null,
                "Scout-Contract Title": "Fantastic Steel Plate",
                "Scout-Contract State & Status": "In Progress",
                "Scout-Auto Renewal": "no",
                "Scout-Start Date": null,
                "Scout-Start Date FY": null,
                "Scout-Start Date FQ": null,
                "Scout-End Date": null,
                "Scout-End Date FY": null,
                "Scout-End Date FQ": null,
                "Scout-Sourcing Owner": "Sophie II",
                "Scout-Category": null,
                "Scout-Renewal Term": null,
                "Custom field for project!": "Custom field value"
              }
            },
            {
              "id": "2",
              "type": "contract_milestone_report_entries",
              "attributes": {
                "Scout-System ID": 2,
                "Scout-Milestone Name": "example 2",
                "Scout-Milestone Date": "2020-04-16",
                "Scout-Milestone Date FY": 2020,
                "Scout-Milestone Date FQ": 2,
                "Scout-Milestone Status": "Open",
                "Scout-Milestone Complete Date": null,
                "Scout-Milestone Complete Date FY": null,
                "Scout-Milestone Complete Date FQ": null,
                "Scout-Template Milestone": false,
                "Scout-Milestone Created By": null,
                "Scout-Milestone Create Date": "2020-04-14",
                "Scout-Milestone Create Date FY": 2020,
                "Scout-Milestone Create Date FQ": 2,
                "Scout-Milestone Assign Date": null,
                "Scout-Milestone Assignee": null,
                "Scout-Mark Completed By": null,
                "Scout-# of Days Milestone is Open": null,
                "Scout-Requestor Name": null,
                "Scout-Request Submitted": null,
                "Scout-Request Opened": null,
                "Scout-ID #": 1,
                "Scout-Contract Type": "Contract Type #11",
                "Scout-Contract Type Short Code": "11VD",
                "Scout-Supplier": null,
                "Scout-Contract Title": "Fantastic Steel Plate",
                "Scout-Contract State & Status": "In Progress",
                "Scout-Auto Renewal": "no",
                "Scout-Start Date": null,
                "Scout-Start Date FY": null,
                "Scout-Start Date FQ": null,
                "Scout-End Date": null,
                "Scout-End Date FY": null,
                "Scout-End Date FQ": null,
                "Scout-Sourcing Owner": "Sophie II",
                "Scout-Category": null,
                "Scout-Renewal Term": null,
                "Custom field for project!": "Custom field value"
              }
            },
            {
              "id": "3",
              "type": "contract_milestone_report_entries",
              "attributes": {
                "Scout-System ID": 3,
                "Scout-Milestone Name": "this will not show up",
                "Scout-Milestone Date": "2020-04-16",
                "Scout-Milestone Date FY": 2020,
                "Scout-Milestone Date FQ": 2,
                "Scout-Milestone Status": "Open",
                "Scout-Milestone Complete Date": null,
                "Scout-Milestone Complete Date FY": null,
                "Scout-Milestone Complete Date FQ": null,
                "Scout-Template Milestone": false,
                "Scout-Milestone Created By": null,
                "Scout-Milestone Create Date": "2020-04-14",
                "Scout-Milestone Create Date FY": 2020,
                "Scout-Milestone Create Date FQ": 2,
                "Scout-Milestone Assign Date": null,
                "Scout-Milestone Assignee": null,
                "Scout-Mark Completed By": null,
                "Scout-# of Days Milestone is Open": null,
                "Scout-Requestor Name": null,
                "Scout-Request Submitted": null,
                "Scout-Request Opened": null,
                "Scout-ID #": 1,
                "Scout-Contract Type": "Contract Type #11",
                "Scout-Contract Type Short Code": "11VD",
                "Scout-Supplier": null,
                "Scout-Contract Title": "Fantastic Steel Plate",
                "Scout-Contract State & Status": "In Progress",
                "Scout-Auto Renewal": "no",
                "Scout-Start Date": null,
                "Scout-Start Date FY": null,
                "Scout-Start Date FQ": null,
                "Scout-End Date": null,
                "Scout-End Date FY": null,
                "Scout-End Date FQ": null,
                "Scout-Sourcing Owner": "Sophie II",
                "Scout-Category": null,
                "Scout-Renewal Term": null,
                "Custom field for project!": "Custom field value"
              }
            }
          ],
          "links": {
            "prev": null,
            "next": null
          }
        }
      },
      "schema_response": {
        "value": {
          "data": {
            "id": "contract_milestone_schemas",
            "type": "contract_milestone_schemas",
            "attributes": {
              "fields": [
                {
                  "type": "text",
                  "name": "Scout-System ID"
                },
                {
                  "type": "text",
                  "name": "Scout-Milestone Name"
                },
                {
                  "type": "date",
                  "name": "Scout-Milestone Date"
                },
                {
                  "type": "integer",
                  "name": "Scout-Milestone Date FY"
                },
                {
                  "type": "integer",
                  "name": "Scout-Milestone Date FQ"
                },
                {
                  "type": "select",
                  "name": "Scout-Milestone Status"
                },
                {
                  "type": "date",
                  "name": "Scout-Milestone Complete Date"
                },
                {
                  "type": "integer",
                  "name": "Scout-Milestone Complete Date FY"
                },
                {
                  "type": "integer",
                  "name": "Scout-Milestone Complete Date FQ"
                },
                {
                  "type": "select",
                  "name": "Scout-Template Milestone"
                },
                {
                  "type": "select",
                  "name": "Scout-Milestone Created By"
                },
                {
                  "type": "date",
                  "name": "Scout-Milestone Create Date"
                },
                {
                  "type": "integer",
                  "name": "Scout-Milestone Create Date FY"
                },
                {
                  "type": "integer",
                  "name": "Scout-Milestone Create Date FQ"
                },
                {
                  "type": "date",
                  "name": "Scout-Milestone Assign Date"
                },
                {
                  "type": "select",
                  "name": "Scout-Milestone Assignee"
                },
                {
                  "type": "select",
                  "name": "Scout-Mark Completed By"
                },
                {
                  "type": "integer",
                  "name": "Scout-# of Days Milestone is Open"
                },
                {
                  "type": "select",
                  "name": "Scout-Requestor Name"
                },
                {
                  "type": "date",
                  "name": "Scout-Request Submitted"
                },
                {
                  "type": "date",
                  "name": "Scout-Request Opened"
                },
                {
                  "type": "text",
                  "name": "Scout-ID #"
                },
                {
                  "type": "select",
                  "name": "Scout-Contract Type"
                },
                {
                  "type": "select",
                  "name": "Scout-Contract Type Short Code"
                },
                {
                  "type": "select",
                  "name": "Scout-Supplier"
                },
                {
                  "type": "text",
                  "name": "Scout-Contract Title"
                },
                {
                  "type": "select",
                  "name": "Scout-Contract State & Status"
                },
                {
                  "type": "select",
                  "name": "Scout-Auto Renewal"
                },
                {
                  "type": "date",
                  "name": "Scout-Start Date"
                },
                {
                  "type": "integer",
                  "name": "Scout-Start Date FY"
                },
                {
                  "type": "integer",
                  "name": "Scout-Start Date FQ"
                },
                {
                  "type": "date",
                  "name": "Scout-End Date"
                },
                {
                  "type": "integer",
                  "name": "Scout-End Date FY"
                },
                {
                  "type": "integer",
                  "name": "Scout-End Date FQ"
                },
                {
                  "type": "select",
                  "name": "Scout-Sourcing Owner"
                },
                {
                  "type": "select",
                  "name": "Scout-Category"
                },
                {
                  "type": "text",
                  "name": "Scout-Renewal Term"
                },
                {
                  "type": "string",
                  "name": "Field #3"
                }
              ]
            }
          }
        }
      },
      "index_response-2": {
        "value": {
          "data": [
            {
              "id": "1",
              "type": "contract_report_entries",
              "attributes": {
                "Scout-Record ID": 100,
                "Scout-ID #": 1,
                "Scout-Contract Type": "Contract Type #22",
                "Scout-Contract Type Short Code": "22JD",
                "Scout-Supplier": null,
                "Scout-Contract Title": "New contract",
                "Scout-Contract State & Status": "In Progress - Internal Review",
                "Scout-Auto Renewal": "no",
                "Scout-Start Date": null,
                "Scout-Start Date FY": null,
                "Scout-Start Date FQ": null,
                "Scout-End Date": null,
                "Scout-End Date FY": null,
                "Scout-End Date FQ": null,
                "Scout-Currency": "USD",
                "Scout-Spend": null,
                "Scout-Sourcing Owner": "Gabriel Keebler",
                "Scout-Category": null,
                "Scout-Contract Description": "Facilis assumenda voluptatem magnam.",
                "Scout-Renewal Number of Times": null,
                "Scout-Renewal Term": null,
                "Scout-Renewal Termination Notice": null,
                "Scout-Renewal Termination Reminder": null,
                "Scout-Attachments": null,
                "Scout-Related Contract ID #": null,
                "Scout-Related Projects": null,
                "Scout-Related Project ID #": null,
                "Scout-Stakeholders": "Gabriel Keebler",
                "Scout-Termination Reason": null,
                "Scout-Original Approval Request Date": null,
                "Scout-Original Approval Request Date FY": null,
                "Scout-Original Approval Request Date FQ": null,
                "Scout-Approved Date": null,
                "Scout-Approved FY": null,
                "Scout-Approved FQ": null,
                "Scout-Sent for Approval": null,
                "Scout-Sent for Approval FY": null,
                "Scout-Sent for Approval FQ": null,
                "Scout-Contract Requester": "Gabriel Keebler",
                "Scout-Contract Request Submitted Date": "2021-11-04",
                "Scout-Contract Request Submitted FY": 2021,
                "Scout-Contract Request Submitted FQ": 4,
                "Scout-Contract Request Opened Date": "2021-11-04",
                "Scout-Contract Request Opened FY": 2021,
                "Scout-Contract Request Opened FQ": 4,
                "Scout-Record Type": "Contract",
                "Scout-Revised Contract ID #": null,
                "Scout-Creator": "Gabriel Keebler",
                "Scout-Last Updated Date": "2021-11-04",
                "Scout-Has Attachments": false,
                "Scout-Needs Attention Reason": null,
                "Scout-Canceled Reason": null,
                "Scout-First Milestone Assign Date": null,
                "Scout-ESign Platforms": null,
                "Scout-ESign States": null,
                "Scout-External ID": null,
                "Scout-Company": null,
                "Scout-Company Hierarchy": null,
                "Scout-Milestone Name": null,
                "Scout-Milestone Date": null,
                "Scout-Milestone Assignee": null,
                "Scout-Days Requested": "0.0",
                "Scout-Days In Progress - Internal Review": "0.0",
                "Scout-Days In Progress - External Review": "0.0",
                "Scout-Days In Progress - Negotiating": "0.0",
                "Scout-Days In Progress - Out for Signature": "0.0",
                "Scout-Days Approved": "0.0",
                "Scout-Days Active": "0.0",
                "Custom field for contract!": null
              }
            },
            {
              "id": "2",
              "type": "contract_report_entries",
              "attributes": {
                "Scout-Record ID": 200,
                "Scout-ID #": 2,
                "Scout-Contract Type": "Contract Type #22",
                "Scout-Contract Type Short Code": "22JD",
                "Scout-Supplier": null,
                "Scout-Contract Title": "New contract 2",
                "Scout-Contract State & Status": "In Progress - Internal Review",
                "Scout-Auto Renewal": "no",
                "Scout-Start Date": null,
                "Scout-Start Date FY": null,
                "Scout-Start Date FQ": null,
                "Scout-End Date": null,
                "Scout-End Date FY": null,
                "Scout-End Date FQ": null,
                "Scout-Currency": "USD",
                "Scout-Spend": null,
                "Scout-Sourcing Owner": "Gabriel Keebler",
                "Scout-Category": null,
                "Scout-Contract Description": "Distinctio vel iure voluptas.",
                "Scout-Renewal Number of Times": null,
                "Scout-Renewal Term": null,
                "Scout-Renewal Termination Notice": null,
                "Scout-Renewal Termination Reminder": null,
                "Scout-Attachments": null,
                "Scout-Related Contract ID #": null,
                "Scout-Related Projects": null,
                "Scout-Related Project ID #": null,
                "Scout-Stakeholders": "Gabriel Keebler",
                "Scout-Termination Reason": null,
                "Scout-Original Approval Request Date": null,
                "Scout-Original Approval Request Date FY": null,
                "Scout-Original Approval Request Date FQ": null,
                "Scout-Approved Date": null,
                "Scout-Approved FY": null,
                "Scout-Approved FQ": null,
                "Scout-Sent for Approval": null,
                "Scout-Sent for Approval FY": null,
                "Scout-Sent for Approval FQ": null,
                "Scout-Contract Requester": "Gabriel Keebler",
                "Scout-Contract Request Submitted Date": "2021-11-04",
                "Scout-Contract Request Submitted FY": 2021,
                "Scout-Contract Request Submitted FQ": 4,
                "Scout-Contract Request Opened Date": "2021-11-04",
                "Scout-Contract Request Opened FY": 2021,
                "Scout-Contract Request Opened FQ": 4,
                "Scout-Record Type": "Contract",
                "Scout-Revised Contract ID #": null,
                "Scout-Creator": "Gabriel Keebler",
                "Scout-Last Updated Date": "2021-11-04",
                "Scout-Has Attachments": false,
                "Scout-Needs Attention Reason": null,
                "Scout-Canceled Reason": null,
                "Scout-First Milestone Assign Date": null,
                "Scout-ESign Platforms": null,
                "Scout-ESign States": null,
                "Scout-External ID": null,
                "Scout-Company": null,
                "Scout-Company Hierarchy": null,
                "Scout-Milestone Name": null,
                "Scout-Milestone Date": null,
                "Scout-Milestone Assignee": null,
                "Scout-Days Requested": "0.0",
                "Scout-Days In Progress - Internal Review": "0.0",
                "Scout-Days In Progress - External Review": "0.0",
                "Scout-Days In Progress - Negotiating": "0.0",
                "Scout-Days In Progress - Out for Signature": "0.0",
                "Scout-Days Approved": "0.0",
                "Scout-Days Active": "0.0",
                "Custom field for contract!": "Custom field value"
              }
            },
            {
              "id": "3",
              "type": "contract_report_entries",
              "attributes": {
                "Scout-Record ID": 300,
                "Scout-ID #": 3,
                "Scout-Contract Type": "Contract Type #22",
                "Scout-Contract Type Short Code": "22JD",
                "Scout-Supplier": null,
                "Scout-Contract Title": "Old contract",
                "Scout-Contract State & Status": "In Progress - Internal Review",
                "Scout-Auto Renewal": "no",
                "Scout-Start Date": null,
                "Scout-Start Date FY": null,
                "Scout-Start Date FQ": null,
                "Scout-End Date": null,
                "Scout-End Date FY": null,
                "Scout-End Date FQ": null,
                "Scout-Currency": "USD",
                "Scout-Spend": null,
                "Scout-Sourcing Owner": "Gabriel Keebler",
                "Scout-Category": null,
                "Scout-Contract Description": "Ipsa voluptatem vel recusandae.",
                "Scout-Renewal Number of Times": null,
                "Scout-Renewal Term": null,
                "Scout-Renewal Termination Notice": null,
                "Scout-Renewal Termination Reminder": null,
                "Scout-Attachments": null,
                "Scout-Related Contract ID #": null,
                "Scout-Related Projects": null,
                "Scout-Related Project ID #": null,
                "Scout-Stakeholders": "Gabriel Keebler",
                "Scout-Termination Reason": null,
                "Scout-Original Approval Request Date": null,
                "Scout-Original Approval Request Date FY": null,
                "Scout-Original Approval Request Date FQ": null,
                "Scout-Approved Date": null,
                "Scout-Approved FY": null,
                "Scout-Approved FQ": null,
                "Scout-Sent for Approval": null,
                "Scout-Sent for Approval FY": null,
                "Scout-Sent for Approval FQ": null,
                "Scout-Contract Requester": "Gabriel Keebler",
                "Scout-Contract Request Submitted Date": "2021-11-04",
                "Scout-Contract Request Submitted FY": 2021,
                "Scout-Contract Request Submitted FQ": 4,
                "Scout-Contract Request Opened Date": "2021-11-04",
                "Scout-Contract Request Opened FY": 2021,
                "Scout-Contract Request Opened FQ": 4,
                "Scout-Record Type": "Contract",
                "Scout-Revised Contract ID #": null,
                "Scout-Creator": "Gabriel Keebler",
                "Scout-Last Updated Date": "2021-11-04",
                "Scout-Has Attachments": false,
                "Scout-Needs Attention Reason": null,
                "Scout-Canceled Reason": null,
                "Scout-First Milestone Assign Date": null,
                "Scout-ESign Platforms": "Adobe Sign, Docusign",
                "Scout-ESign States": "Creating, Waiting For Notarization",
                "Scout-External ID": null,
                "Scout-Company": null,
                "Scout-Company Hierarchy": null,
                "Scout-Milestone Name": null,
                "Scout-Milestone Date": null,
                "Scout-Milestone Assignee": null,
                "Scout-Days Requested": "0.0",
                "Scout-Days In Progress - Internal Review": "0.0",
                "Scout-Days In Progress - External Review": "0.0",
                "Scout-Days In Progress - Negotiating": "0.0",
                "Scout-Days In Progress - Out for Signature": "0.0",
                "Scout-Days Approved": "0.0",
                "Scout-Days Active": "0.0",
                "Custom field for contract!": null
              }
            }
          ],
          "links": {
            "prev": null,
            "next": null
          }
        }
      },
      "schema_response-2": {
        "value": {
          "data": {
            "id": "contract_schemas",
            "type": "contract_schemas",
            "attributes": {
              "fields": [
                {
                  "type": "text",
                  "name": "Scout-Record ID"
                },
                {
                  "type": "text",
                  "name": "Scout-ID #"
                },
                {
                  "type": "select",
                  "name": "Scout-Contract Type"
                },
                {
                  "type": "select",
                  "name": "Scout-Contract Type Short Code"
                },
                {
                  "type": "select",
                  "name": "Scout-Supplier"
                },
                {
                  "type": "text",
                  "name": "Scout-Contract Title"
                },
                {
                  "type": "select",
                  "name": "Scout-Contract State & Status"
                },
                {
                  "type": "select",
                  "name": "Scout-Auto Renewal"
                },
                {
                  "type": "date",
                  "name": "Scout-Start Date"
                },
                {
                  "type": "integer",
                  "name": "Scout-Start Date FY"
                },
                {
                  "type": "integer",
                  "name": "Scout-Start Date FQ"
                },
                {
                  "type": "date",
                  "name": "Scout-End Date"
                },
                {
                  "type": "integer",
                  "name": "Scout-End Date FY"
                },
                {
                  "type": "integer",
                  "name": "Scout-End Date FQ"
                },
                {
                  "type": "select",
                  "name": "Scout-Currency"
                },
                {
                  "type": "currency",
                  "name": "Scout-Spend"
                },
                {
                  "type": "select",
                  "name": "Scout-Sourcing Owner"
                },
                {
                  "type": "select",
                  "name": "Scout-Category"
                },
                {
                  "type": "text",
                  "name": "Scout-Contract Description"
                },
                {
                  "type": "integer",
                  "name": "Scout-Renewal Number of Times"
                },
                {
                  "type": "text",
                  "name": "Scout-Renewal Term"
                },
                {
                  "type": "date",
                  "name": "Scout-Renewal Termination Notice"
                },
                {
                  "type": "date",
                  "name": "Scout-Renewal Termination Reminder"
                },
                {
                  "type": "text",
                  "name": "Scout-Attachments"
                },
                {
                  "type": "text",
                  "name": "Scout-Related Contract ID #"
                },
                {
                  "type": "text",
                  "name": "Scout-Related Projects"
                },
                {
                  "type": "text",
                  "name": "Scout-Related Project ID #"
                },
                {
                  "type": "select",
                  "name": "Scout-Stakeholders"
                },
                {
                  "type": "text",
                  "name": "Scout-Termination Reason"
                },
                {
                  "type": "date",
                  "name": "Scout-Original Approval Request Date"
                },
                {
                  "type": "integer",
                  "name": "Scout-Original Approval Request Date FY"
                },
                {
                  "type": "integer",
                  "name": "Scout-Original Approval Request Date FQ"
                },
                {
                  "type": "date",
                  "name": "Scout-Approved Date"
                },
                {
                  "type": "integer",
                  "name": "Scout-Approved FY"
                },
                {
                  "type": "integer",
                  "name": "Scout-Approved FQ"
                },
                {
                  "type": "date",
                  "name": "Scout-Sent for Approval"
                },
                {
                  "type": "integer",
                  "name": "Scout-Sent for Approval FY"
                },
                {
                  "type": "integer",
                  "name": "Scout-Sent for Approval FQ"
                },
                {
                  "type": "select",
                  "name": "Scout-Contract Requester"
                },
                {
                  "type": "date",
                  "name": "Scout-Contract Request Submitted Date"
                },
                {
                  "type": "integer",
                  "name": "Scout-Contract Request Submitted FY"
                },
                {
                  "type": "integer",
[...]
