{
  "openapi": "3.0.2",
  "info": {
    "title": "Workday Strategic Sourcing SCIM API",
    "version": "2.0",
    "description": "<span id=\"section/Authentication/api_key\" data-section-id=\"section/Authentication/api_key\"></span>\n<span id=\"section/Authentication/basic_authentication\" data-section-id=\"section/Authentication/basic_authentication\"></span>\n"
  },
  "servers": [
    {
      "url": "https://api.us.workdayspend.com/scim/v2",
      "description": "Production Server"
    },
    {
      "url": "https://api.sandbox.us.workdayspend.com/scim/v2",
      "description": "Sandbox Server"
    }
  ],
  "security": [
    {
      "api_key": [],
      "basic_authentication": []
    }
  ],
  "tags": [
    {
      "name": "support",
      "x-displayName": "Customer Support",
      "description": "We've provided detailed documentation below to guide you. However, if you need additional assistance, here's how you can get the support you need:\n\n* __Community Discussions:__ Join the conversation on our Workday Community Discussion Boards (found under the \"Collaborate\" section in community). Connect with other users, share best practices, and get answers to your configuration questions.\n* __Expert Configuration Assistance (Professional Services):__ For tailored, hands-on support with your specific project, our Professional Services team is available.\n  * Looking for personalized guidance? Workday Success Plan customers can submit an \"Ask\" for expert insights on configuration and best practices.\n  * Need custom solutions? Consider Expert Assist, our consulting service for detailed changes and project support.\n* __Reporting System Issues:__ If you suspect a problem with the Workday system itself, please connect with our dedicated support team. Your company's Named Support Contact (NSC) can log a Product Support Defect case. We'll review the issue based on its impact and Workday's service level agreement (SLA).\n"
    },
    {
      "name": "servers",
      "x-displayName": "Servers",
      "description": "### US Region\n| Environment       | Base URI                                        |\n|-------------------|------------------------------------------------ |\n| **Production**    | https://api.us.workdayspend.com/scim/v2         |\n| **Sandbox**       | https://api.sandbox.us.workdayspend.com/scim/v2 |\n\n### EU Region\n| Environment       | EU region Base URI                              |\n|-------------------|------------------------------------------------ |\n| **Production**    | https://api.eu.workdayspend.com/scim/v2         |\n| **Sandbox**       | https://api.sandbox.eu.workdayspend.com/scim/v2 |\n\n### CA Region\n| Environment       | CA region Base URI                              |\n|-------------------|------------------------------------------------ |\n| **Production**    | https://api.ca.workdayspend.com/scim/v2         |\n| **Sandbox**       | https://api.sandbox.ca.workdayspend.com/scim/v2 |\n"
    },
    {
      "name": "api_specification",
      "x-displayName": "API Specification",
      "description": "The API conforms to version 2.0 of the [System for Cross-domain Identity Management: Protocol](https://datatracker.ietf.org/doc/html/rfc7644).\n"
    },
    {
      "name": "date_and_time_fields",
      "x-displayName": "Date and Time Fields",
      "description": "Our API adheres to the ISO 8601 standard when accepting and formatting Date and Time fields. All Date and Time fields returned by this API will be in the **UTC** timezone.\n\nDate and Time fields sent to this API can be in any timezone, provided they adhere to the ISO 8601 standard.\n"
    },
    {
      "name": "limitation",
      "x-displayName": "Support & Limitation",
      "description": "**The SCIM endpoints are limited to companies with SSO authentication only.**\n\nRequests coming from companies without SSO configured will get a `403 Access forbidden` response.\n"
    },
    {
      "name": "authentication",
      "x-displayName": "Authentication",
      "description": "The Workday Strategic Sourcing SCIM API uses a combination of HTTP basic authentication and a company token to authenticate requests. Every request\nwill require 2 HTTP headers:\n\n| HTTP Header       | Description               |\n|-------------------|---------------------------|\n| **X-Api-Key**     | a company-wide API key    |\n| **Authorization**  | [HTTP basic authentication](https://en.wikipedia.org/wiki/Basic_access_authentication) of: user email and user- API token|\n\nYou can generate all of those from the _API tokens_ section of your _Profile_ page.\n\nYour API keys carry many privileges, so be sure to keep them secure! Do not share your secret API\nkeys in publicly accessible areas such as GitHub, client-side code, and so forth.\n\nAll API requests must be made over [HTTPS](http://en.wikipedia.org/wiki/HTTP_Secure). Calls made\nover plain HTTP will fail. API requests without authentication will also fail.\n\n### Example 1\n```\ncurl --request GET 'https://api.us.workdayspend.com/scim/v2/ResourceTypes' \\\n--header 'Accept: application/scim+json' \\\n--header 'X-Api-Key: ${COMPANY_KEY}' \\\n--user \"${USER_EMAIL}:${USER_TOKEN}\"\n```\n\n### Example 2\n```\ncurl --request GET 'https://api.us.workdayspend.com/scim/v2/ResourceTypes' \\\n--header 'Accept: application/scim+json' \\\n--header 'X-Api-Key: ${COMPANY_KEY}' \\\n--header 'Authorization: Basic ${Base64(USER_EMAIL:USER_TOKEN)}'\n```\n\n### Example 3\n```\ncurl --request GET 'https://${USER_EMAIL}:${USER_TOKEN}@api.us.workdayspend.com/scim/v2/ResourceTypes' \\\n--header 'Accept: application/scim+json' \\\n--header 'X-Api-Key: ${COMPANY_KEY}'\n```\n"
    },
    {
      "name": "rate_limiting",
      "x-displayName": "Rate Limiting",
      "description": "Rate limit windows are per second and are shared by all API Keys for a company.\n\nThe current rate limit is 5 requests per second.\n\nWhen request submissions exceed the limits, the limit-exceeding requests return `429 Too Many Requests` error responses to the client.\n\nUpon receiving a `429` response, it is recommended to retry the request in compliance with the rate limit. One example would be to add a sleep function for 1 second and retry.\n"
    },
    {
      "name": "user",
      "x-displayName": "User",
      "description": "Use the users API to create, update, and query the users in Workday Strategic Sourcing.\n\n## User Object\n\n<SchemaDefinition schemaRef=\"#/components/schemas/UserResource\" exampleRef=\"#/components/examples/User\" showReadOnly={true} showWriteOnly={true} />\n"
    },
    {
      "name": "discovery",
      "x-displayName": "Discovery",
      "description": "Endpoints to facilitate discovery of SCIM service provider features"
    }
  ],
  "paths": {
    "/Users": {
      "get": {
        "tags": [
          "user"
        ],
        "operationId": "List Users",
        "summary": "List Users",
        "description": "Returns a list of users for the specified criteria. The pagination size is 100 results per request.",
        "parameters": [
          {
            "name": "attributes",
            "in": "query",
            "description": "A comma-separated list of attribute names to return in the response",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "An expression specifying the search criteria. See [section 3.4.2.2](https://datatracker.ietf.org/doc/html/rfc7644#section-3.4.2.2) of RFC 7644",
            "example": "userName eq \"jhon.doe@example.com\" and meta.lastModified gt \"2011-05-13T04:42:34Z\"",
            "schema": {
              "$ref": "#/components/schemas/UserListInputFilter"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "The 1-based index of the first query result",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Specifies the desired maximum number of query results per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "The attribute whose value will be used to order the returned responses. Allowed values are `id` and `externalId`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Order in which the `sortBy` param is applied. Allowed values are `ascending` and `descending`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/UserListResponse"
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/index_response"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Parameter count exceeds the maximum allowed value or the filter supplied was unparsable",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "value": {
                    "schemas": [
                      "urn:ietf:params:scim:api:messages:2.0:Error"
                    ],
                    "status": "400",
                    "scimType": "invalidValue",
                    "detail": "Invalid resource: Name is missing"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "user"
        ],
        "operationId": "Create a User",
        "summary": "Create a User",
        "description": "Create a user with given attributes",
        "parameters": [
          {
            "name": "attributes",
            "in": "query",
            "description": "A comma-separated list of attribute names to return in the response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Payload that represents the user to create",
          "content": {
            "application/scim+json": {
              "schema": {
                "$ref": "#/components/schemas/UserBase"
              },
              "examples": {
                "success": {
                  "$ref": "#/components/examples/create_request"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResource"
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/create_response"
                  }
                }
              }
            }
          },
          "400": {
            "description": "An invalid value was passed in the payload",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "value": {
                    "schemas": [
                      "urn:ietf:params:scim:api:messages:2.0:Error"
                    ],
                    "status": "400",
                    "scimType": "invalidValue",
                    "detail": "Invalid resource: Name is missing"
                  }
                }
              }
            }
          },
          "409": {
            "description": "There is a conflict with an already existing user. Uniqueness is assumed over userName",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "value": {
                    "schemas": [
                      "urn:ietf:params:scim:api:messages:2.0:Error"
                    ],
                    "status": "409",
                    "scimType": "uniqueness",
                    "detail": "joined_errors"
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "user"
      }
    },
    "/Users/{id}": {
      "get": {
        "tags": [
          "user"
        ],
        "operationId": "Get a user",
        "summary": "Get a user",
        "description": "Retrieves a User resource by Id (see [section 3.4.1](https://datatracker.ietf.org/doc/html/rfc7644#section-3.4.1) of RFC 7644)",
        "parameters": [
          {
            "name": "attributes",
            "in": "query",
            "description": "A comma-separated list of attribute names to return in the response",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "An expression specifying the search criteria. See [section 3.4.2.2](https://datatracker.ietf.org/doc/html/rfc7644#section-3.4.2.2) of RFC 7644",
            "example": "userName eq \"jhon.doe@example.com\" and meta.lastModified gt \"2011-05-13T04:42:34Z\"",
            "schema": {
              "$ref": "#/components/schemas/UserListInputFilter"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResource"
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/show_response"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "value": {
                    "schemas": [
                      "urn:ietf:params:scim:api:messages:2.0:Error"
                    ],
                    "status": "404",
                    "detail": "Resource \"User\" not found"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "user"
        ],
        "operationId": "Patch a User",
        "summary": "Patch a User",
        "description": "Updates one or more attributes of a User resource using a sequence of additions, removals,\nand replacements operations. See [section 3.5.2](https://datatracker.ietf.org/doc/html/rfc7644#section-3.5.2) of RFC 7644.\n\nIf the user tries to deactivate themselves, they will get a `403 Access forbidden` response.\n\nOperations on the `userName` field will only be processed if both original and target email addresses match the domains list set for the Company's SSO connections.\n\nIf not, the response returned  will be a `403 Access forbidden`.\n",
        "parameters": [
          {
            "name": "attributes",
            "in": "query",
            "description": "A comma-separated list of attribute names to return in the response",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Payload describing the patch operations to apply upon the resource identified by param id",
          "content": {
            "application/scim+json": {
              "schema": {
                "$ref": "#/components/schemas/PatchRequest"
              },
              "examples": {
                "success": {
                  "$ref": "#/components/examples/patch_request"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResource"
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/patch_response"
                  }
                }
              }
            }
          },
          "400": {
            "description": "One or more operations supplied in the request are specified incorrectly, there were attempts to\nmodify immutable attributes, or the resulting resource cannot pass intrinsic validations\n",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "value": {
                    "schemas": [
                      "urn:ietf:params:scim:api:messages:2.0:Error"
                    ],
                    "status": "400",
                    "scimType": "invalidValue",
                    "detail": "Invalid resource: Name is missing"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access Forbidden",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "value": {
                    "schemas": [
                      "urn:ietf:params:scim:api:messages:2.0:Error"
                    ],
                    "status": "403",
                    "detail": "Access forbidden - Email cannot be updated as new email is not scoped by company's SSO domains"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "value": {
                    "schemas": [
                      "urn:ietf:params:scim:api:messages:2.0:Error"
                    ],
                    "status": "404",
                    "detail": "Resource \"User\" not found"
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request"
      },
      "put": {
        "tags": [
          "user"
        ],
        "operationId": "Replace a User",
        "summary": "Replace a User",
        "description": "Updates a User resource (see [section 3.5.1](https://datatracker.ietf.org/doc/html/rfc7644#section-3.5.1) of RFC 7644). Update works in a replacement fashion;\nevery attribute value found in the payload sent will replace the one in the existing resource representation.\nAttributes not passed in the payload will be left intact.\n\nIf the user tries to deactivate themselves, they will get a `403 Access forbidden` response.\n\nOperations on the `userName` field will only be processed if both original and target email addresses match the domains list set for the Company's SSO connections.\n\nIf not, the response returned  will be a `403 Access forbidden`.\n",
        "parameters": [
          {
            "name": "attributes",
            "in": "query",
            "description": "A comma-separated list of attribute names to return in the response",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Payload with the data to replace in the existing user identified by the id param",
          "content": {
            "application/scim+json": {
              "schema": {
                "$ref": "#/components/schemas/UserBase"
              },
              "examples": {
                "success": {
                  "$ref": "#/components/examples/replace_request"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResource"
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/replace_response"
                  }
                }
              }
            }
          },
          "400": {
            "description": "An invalid value was passed in the payload or there was an attempt to update an immutable attribute\n",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "value": {
                    "schemas": [
                      "urn:ietf:params:scim:api:messages:2.0:Error"
                    ],
                    "status": "400",
                    "scimType": "invalidValue",
                    "detail": "Invalid resource: Name is missing"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access Forbidden",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "value": {
                    "schemas": [
                      "urn:ietf:params:scim:api:messages:2.0:Error"
                    ],
                    "status": "403",
                    "detail": "Access forbidden - Email cannot be updated as new email is not scoped by company's SSO domains"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "value": {
                    "schemas": [
                      "urn:ietf:params:scim:api:messages:2.0:Error"
                    ],
                    "status": "404",
                    "detail": "Resource \"User\" not found"
                  }
                }
              }
            }
          },
          "409": {
            "description": "There is a conflict with an already existing user.",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "value": {
                    "schemas": [
                      "urn:ietf:params:scim:api:messages:2.0:Error"
                    ],
                    "status": "409",
                    "scimType": "uniqueness",
                    "detail": "joined_errors"
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "user"
      },
      "delete": {
        "tags": [
          "user"
        ],
        "operationId": "Deactivate a user",
        "summary": "Deactivate a user",
        "description": "Deactivates a user. You need to supply the unique user\nidentifier that was returned upon user creation.\n\nIf the user tries to deactivate themselves, they will get a `403 Access forbidden` response.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier of the resource to deactivate",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK",
            "content": {}
          },
          "403": {
            "description": "Access Forbidden",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "value": {
                    "schemas": [
                      "urn:ietf:params:scim:api:messages:2.0:Error"
                    ],
                    "status": "403",
                    "detail": "Access forbidden"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "value": {
                    "schemas": [
                      "urn:ietf:params:scim:api:messages:2.0:Error"
                    ],
                    "status": "404",
                    "detail": "Resource \"User\" not found"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Schemas": {
      "get": {
        "tags": [
          "discovery"
        ],
        "operationId": "List Schemas",
        "summary": "List Schemas",
        "description": "Endpoint used to retrieve information about schemas supported. See [section 3.4](https://datatracker.ietf.org/doc/html/rfc7644#section-3.4) of RFC 7644\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/SchemaListResponse"
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/schemas_response"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Schemas/{uri}": {
      "get": {
        "tags": [
          "discovery"
        ],
        "operationId": "Get a Schema",
        "summary": "Get a Schema",
        "description": "Retrieves information about a specific resource",
        "parameters": [
          {
            "name": "uri",
            "in": "path",
            "description": "Schema URI of a particular resource type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "urn:ietf:params:scim:schemas:core:2.0:User"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/SchemaResource"
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/schema_response"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/404"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ResourceTypes": {
      "get": {
        "tags": [
          "discovery"
        ],
        "operationId": "List Resource Types",
        "summary": "List Resource Types",
        "description": "This endpoint is used to discover the types of resources available (see [section 4](https://datatracker.ietf.org/doc/html/rfc7644#section-4) of RFC 7644)\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceTypeListResponse"
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/resource_types_response"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ResourceTypes/{resource}": {
      "get": {
        "tags": [
          "discovery"
        ],
        "operationId": "Get a Resource Type",
        "summary": "Get a Resource Type",
        "description": "Describes the endpoint, schemas and extensions supported by a specific kind of resource.\nIt returns a specific portion of the ouput of the more general /Resources endpoint  \n",
        "parameters": [
          {
            "name": "resource",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "User"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceType"
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/resource_type_response"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ServiceProviderConfig": {
      "get": {
        "tags": [
          "discovery"
        ],
        "operationId": "List Service Provider Configs",
        "summary": "List Service Provider Configs",
        "description": "Describes the SCIM specification features available (see [section 5](https://datatracker.ietf.org/doc/html/rfc7643#section-5) of RFC 7643)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceProviderConfigResponse"
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/service_provider_configuration_response"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UserListInputFilter": {
        "type": "object",
        "properties": {
          "attributes": {
            "type": "string",
            "enum": [
              "userName",
              "name.familyName",
              "name.givenName",
              "roles",
              "roles.value",
              "externalId",
              "active",
              "meta.lastModified",
              "meta.created"
            ],
            "description": "Attributes to be filtered."
          },
          "operators": {
            "type": "object",
            "properties": {
              "eq": {
                "type": "string",
                "description": "Equal to"
              },
              "ne": {
                "type": "string",
                "description": "Not equal to"
              },
              "lt": {
                "type": "string",
                "description": "Less than"
              },
              "le": {
                "type": "string",
                "description": "Less than or equal to"
              },
              "gt": {
                "type": "string",
                "description": "Greater than"
              },
              "ge": {
                "type": "string",
                "description": "Greater than or equal to"
              },
              "pr": {
                "type": "string",
                "description": "Present"
              },
              "co": {
                "type": "string",
                "description": "Contains"
              },
              "and": {
                "type": "string",
                "description": "Logical \"and\""
              },
              "or": {
                "type": "string",
                "description": "Logical \"or\""
              },
              "not": {
                "type": "string",
                "description": "Logical \"not\""
              }
            },
            "description": "Operators to filter with."
          }
        }
      },
      "BasicListResponse": {
        "type": "object",
        "properties": {
          "schemas": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "urn:ietf:params:scim:api:messages:2.0:ListResponse"
            }
          },
          "totalResults": {
            "type": "integer",
            "description": "Total number of results returned by the search. The value may be larger than the number of resources returned due to pagination"
          },
          "startIndex": {
            "type": "integer",
            "description": "The 1-based index of the first result in the current set of search results"
          },
          "itemsPerPage": {
            "type": "integer",
            "description": "The number of resources returned in a results page"
          }
        }
      },
      "Meta": {
        "type": "object",
        "properties": {
          "resourceType": {
            "type": "string"
          },
          "created": {
            "type": "string"
          },
          "lastModified": {
            "type": "string"
          },
          "location": {
            "type": "string"
          }
        },
        "description": "Descriptive information about a resource."
      },
      "BaseResource": {
        "type": "object",
        "properties": {
          "schemas": {
            "type": "array",
            "description": "URIs that are used to indicate the namespaces of the SCIM schemas that define the attributes present in the current structure",
            "items": {
              "type": "string"
            }
          },
          "id": {
            "type": "string",
            "description": "A unique identifier for a SCIM resource. It should be treated as a non-sequential opaque string of varying length."
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "Name": {
        "type": "object",
        "required": [
          "familyName",
          "givenName"
        ],
        "properties": {
          "familyName": {
            "type": "string"
          },
          "givenName": {
            "type": "string"
          }
        },
        "description": "Name compound object"
      },
      "Role": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          },
          "display": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "primary": {
            "type": "boolean"
          }
        },
        "description": "Role. See section 4.1 of RFC 7643"
      },
      "UserBase": {
        "type": "object",
        "required": [
          "userName",
          "name"
        ],
        "properties": {
          "externalId": {
            "type": "string",
            "description": "Identifier of the resource useful from the perspective of the provisioning client."
          },
          "userName": {
            "type": "string",
            "description": "Email for the user"
          },
          "name": {
            "$ref": "#/components/schemas/Name"
          },
          "roles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Role"
            },
            "description": "Roles assigned to User (read-only). See section 4.1 of RFC 7643",
            "readOnly": true
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "UserResource": {
        "description": "Represents a user resource. See section 4.1 of RFC 7643",
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResource"
          },
          {
            "$ref": "#/components/schemas/UserBase"
          }
        ]
      },
      "UserListResponse": {
        "description": "Results for users search. See section 3.4.2.4 of RFC 7644",
        "allOf": [
          {
            "$ref": "#/components/schemas/BasicListResponse"
          },
          {
            "type": "object",
            "properties": {
              "Resources": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UserResource"
                }
              }
            }
          }
        ]
      },
      "ErrorResponse": {
        "required": [
          "status"
        ],
        "type": "object",
        "properties": {
          "schemas": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "urn:ietf:params:scim:api:messages:2.0:Error"
            }
          },
          "status": {
            "type": "string",
            "description": "HTTP status code as string"
          },
          "scimType": {
            "type": "string",
            "description": "A detail error keyword. See [table 9](https://datatracker.ietf.org/doc/html/rfc7644#section-3.12) of RFC 7644\n"
          },
          "detail": {
            "type": "string",
            "description": "A detailed human-readable message of the error"
          }
        },
        "description": "See section 3.12 of RFC 7644"
      },
      "AnyValue": {
        "description": "Can be any value - string, number, boolean, array or object"
      },
      "PatchOperation": {
        "required": [
          "op"
        ],
        "type": "object",
        "properties": {
          "op": {
            "type": "string",
            "description": "The kind of operation to perform",
            "enum": [
              "add",
              "remove",
              "replace"
            ]
          },
          "path": {
            "type": "string",
            "description": "Required when op is remove, optional otherwise"
          },
          "value": {
            "$ref": "#/components/schemas/AnyValue",
            "description": "Only required when op is add or replace"
          }
        },
        "description": "See section 3.5.2 of RFC 7644"
      },
      "PatchRequest": {
        "description": "Stores one or more patch operations",
        "required": [
          "Operations"
        ],
        "type": "object",
        "properties": {
          "schemas": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "urn:ietf:params:scim:api:messages:2.0:PatchOp"
            }
          },
          "Operations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PatchOperation"
            }
          }
        }
      },
      "SchemaAttribute": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "subAttributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SchemaAttribute"
            }
          },
          "multiValued": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "required": {
            "type": "string"
          },
          "canonicalValues": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "caseExact": {
            "type": "boolean"
          },
          "mutability": {
            "type": "string"
          },
          "returned": {
            "type": "string"
          },
          "uniqueness": {
            "type": "string"
          },
          "referenceTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "A recursive definition. Note how property subAttributes reuses SchemaAttribute for its definition"
      },
      "SchemaResource": {
        "type": "object",
        "properties": {
          "schemas": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "urn:ietf:params:scim:schemas:core:2.0:Schema"
            }
          },
          "id": {
            "type": "string"
          },
          "meta": {
            "type": "object",
            "properties": {
              "resourceType": {
                "type": "string"
              },
              "location": {
                "type": "string"
              }
            }
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "attributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SchemaAttribute"
            }
          }
        }
      },
      "SchemaListResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BasicListResponse"
          },
          {
            "type": "object",
            "properties": {
              "Resources": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SchemaResource"
                }
              }
            }
          }
        ]
      },
      "ResourceType": {
        "type": "object",
        "properties": {
          "schemas": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "urn:ietf:params:scim:schemas:core:2.0:ResourceType"
            }
          },
          "id": {
            "type": "string"
          },
          "meta": {
            "type": "object",
            "properties": {
              "resourceType": {
                "type": "string"
              },
              "location": {
                "type": "string"
              }
            }
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "endpoint": {
            "type": "string"
          },
          "schema": {
            "type": "string"
          },
          "schemaExtensions": {
            "type": "object",
            "properties": {
              "schema": {
                "type": "string"
              },
              "required": {
                "type": "boolean"
              }
            }
          }
        },
        "description": "See section 6 of RFC 7643"
      },
      "ResourceTypeListResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BasicListResponse"
          },
          {
            "type": "object",
            "properties": {
              "Resources": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ResourceType"
                }
              }
            }
          }
        ]
      },
      "ServiceProviderConfigResponse": {
        "type": "object",
        "properties": {
          "schemas": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "urn:ietf:params:scim:schemas:core:2.0:ServiceProviderConfig"
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "resourceType": {
                "type": "string",
                "example": "ServiceProviderConfig"
              },
              "created": {
                "type": "string",
                "format": "date-time",
                "example": "2021-07-27T13:24:01.182+01:00,"
              },
              "lastModified": {
                "type": "string",
                "format": "date-time",
                "example": "2021-07-27T13:24:01.182+01:00,"
              },
              "version": {
                "type": "string",
                "example": "1"
              },
              "location": {
                "type": "string",
                "example": "https://api.us.workdayspend.com/scim/v2/ServiceProviderConfig"
              }
            }
          },
          "documentationUri": {
            "type": "string"
          },
          "patch": {
            "type": "object",
            "properties": {
              "supported": {
                "type": "boolean"
              }
            }
          },
          "bulk": {
            "type": "object",
            "properties": {
              "supported": {
                "type": "boolean"
              }
            }
          },
          "filter": {
            "type": "object",
            "properties": {
              "supported": {
                "type": "boolean"
              },
              "maxResults": {
                "type": "integer"
              }
            }
          },
          "changePassword": {
            "type": "object",
            "properties": {
              "supported": {
                "type": "boolean"
              }
            }
          },
          "sort": {
            "type": "object",
            "properties": {
              "supported": {
                "type": "boolean"
              }
            }
          },
          "etag": {
            "type": "object",
            "properties": {
              "supported": {
                "type": "boolean"
              }
            }
          },
          "authenticationSchemes": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "httpbasic"
              },
              "name": {
                "type": "string",
                "example": "HTTP Basic"
              },
              "description": {
                "type": "string",
                "example": "Authentication scheme using the HTTP Basic Standard"
              },
              "primary": {
                "type": "boolean"
              }
            }
          }
        },
        "description": "See section 5 of RFC 7643"
      }
    },
    "examples": {
      "404": {
        "value": {
          "schemas": [
            "urn:ietf:params:scim:api:messages:2.0:Error"
          ],
          "status": "404",
          "detail": "Resource \"User\" not found"
        }
      },
      "index_response": {
        "value": {
          "schemas": [
            "urn:ietf:params:scim:api:messages:2.0:ListResponse"
          ],
          "totalResults": 2,
          "startIndex": 1,
          "itemsPerPage": 100,
          "Resources": [
            {
              "userName": "john.doe@example.com",
              "name": {
                "givenName": "John",
                "familyName": "Doe"
              },
              "active": true,
              "roles": [
                {
                  "value": "company_user",
                  "display": "Stakeholder",
                  "primary": true,
                  "type": "primary"
                }
              ],
              "id": "552232",
              "externalId": "EXT1234",
              "meta": {
                "resourceType": "User",
                "created": "2021-05-11T14:51:17Z",
                "lastModified": "2021-05-31T17:34:20Z",
                "location": "https://api.us.workdayspend.com/scim/v2/Users/552232"
              },
              "schemas": [
                "urn:ietf:params:scim:schemas:core:2.0:User"
              ]
            },
            {
              "userName": "bjensen@example.com",
              "name": {
                "givenName": "Barbara",
                "familyName": "Johnson"
              },
              "active": true,
              "roles": [
                {
                  "value": "company_admin",
                  "display": "Company Admin",
                  "primary": true,
                  "type": "primary"
                }
              ],
              "id": "552245",
              "externalId": "EXT789",
              "meta": {
                "resourceType": "User",
                "created": "2021-06-16T15:56:19Z",
                "lastModified": "2021-07-26T13:34:25Z",
                "location": "https://api.us.workdayspend.com/scim/v2/Users/552245"
              },
              "schemas": [
                "urn:ietf:params:scim:schemas:core:2.0:User"
              ]
            }
          ]
        }
      },
      "create_request": {
        "value": {
          "schemas": [
            "urn:ietf:params:scim:schemas:core:2.0:User"
          ],
          "externalId": "701984",
          "userName": "bjensen@example.com",
          "name": {
            "givenName": "Barbara",
            "familyName": "Jensen"
          },
          "active": true
        }
      },
      "create_response": {
        "value": {
          "schemas": [
            "urn:ietf:params:scim:schemas:core:2.0:User"
          ],
          "id": "2819c223-7f76-453a-919d-413861904646",
          "externalId": "701984",
          "userName": "bjensen@example.com",
          "name": {
            "givenName": "Barbara",
            "familyName": "Jensen"
          },
          "active": true,
          "roles": [
            {
              "value": "company_admin",
              "display": "Company Admin",
              "primary": true,
              "type": "primary"
            }
          ],
          "meta": {
            "resourceType": "User",
            "created": "2010-01-23T04:56:22Z",
            "lastModified": "2011-05-13T04:42:34Z",
            "location": "https://api.us.workdayspend.com/scim/v2/Users/2819c223-7f76-453a-919d-413861904646"
          }
        }
      },
      "show_response": {
        "value": {
          "schemas": [
            "urn:ietf:params:scim:schemas:core:2.0:User"
          ],
          "id": "2819c223-7f76-453a-919d-413861904646",
          "externalId": "701984",
          "userName": "bjensen@example.com",
          "name": {
            "givenName": "Barbara",
            "familyName": "Jensen"
          },
          "active": true,
          "roles": [
            {
              "value": "company_admin",
              "display": "Company Admin",
              "primary": true,
              "type": "primary"
            }
          ],
          "meta": {
            "resourceType": "User",
            "created": "2010-01-23T04:56:22Z",
            "lastModified": "2011-05-13T04:42:34Z",
            "location": "https://api.us.workdayspend.com/scim/v2/Users/2819c223-7f76-453a-919d-413861904646"
          }
        }
      },
      "replace_request": {
        "value": {
          "schemas": [
            "urn:ietf:params:scim:schemas:core:2.0:User"
          ],
          "externalId": "EXT701984",
          "userName": "bjensen@example.com",
          "name": {
            "givenName": "Barbara",
            "familyName": "Johnson"
          },
          "active": true
        }
      },
      "replace_response": {
        "value": {
          "schemas": [
            "urn:ietf:params:scim:schemas:core:2.0:User"
          ],
          "id": "2819c223-7f76-453a-919d-413861904646",
          "externalId": "EXT701984",
          "userName": "bjensen@example.com",
          "name": {
            "givenName": "Barbara",
            "familyName": "Johnson"
          },
          "active": true,
          "roles": [
            {
              "value": "company_admin",
              "display": "Company Admin",
              "primary": true,
              "type": "primary"
            }
          ],
          "meta": {
            "resourceType": "User",
            "created": "2010-01-23T04:56:22Z",
            "lastModified": "2011-06-13T04:42:34Z",
            "location": "https://api.us.workdayspend.com/scim/v2/Users/2819c223-7f76-453a-919d-413861904646"
          }
        }
      },
      "patch_request": {
        "value": {
          "schemas": [
            "urn:ietf:params:scim:api:messages:2.0:PatchOp"
          ],
          "Operations": [
            {
              "op": "replace",
              "value": {
                "externalId": "EXT701984",
                "name": {
                  "familyName": "Johnson"
                }
              }
            }
          ]
        }
      },
      "patch_response": {
        "value": {
          "schemas": [
            "urn:ietf:params:scim:schemas:core:2.0:User"
          ],
          "id": "2819c223-7f76-453a-919d-413861904646",
          "externalId": "EXT701984",
          "userName": "bjensen@example.com",
          "name": {
            "givenName": "Barbara",
            "familyName": "Johnson"
          },
          "active": true,
          "roles": [
            {
              "value": "company_admin",
              "display": "Company Admin",
              "primary": true,
              "type": "primary"
            }
          ],
          "meta": {
            "resourceType": "User",
            "created": "2010-01-23T04:56:22Z",
            "lastModified": "2011-06-13T04:42:34Z",
            "location": "https://api.us.workdayspend.com/scim/v2/Users/2819c223-7f76-453a-919d-413861904646"
          }
        }
      },
      "schemas_response": {
        "value": {
          "schemas": [
            "urn:ietf:params:scim:api:messages:2.0:ListResponse"
          ],
          "totalResults": 1,
          "startIndex": 0,
          "itemsPerPage": 100,
          "Resources": [
            {
              "name": "User",
              "id": "urn:ietf:params:scim:schemas:core:2.0:User",
              "description": "Represents a User",
              "meta": {
                "resourceType": "Schema",
                "location": "/scim/v2/Schemas"
              },
              "attributes": [
                {
                  "multiValued": false,
                  "required": true,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "server",
                  "returned": "default",
                  "name": "userName",
                  "type": "string"
                },
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "name",
                  "type": "complex",
                  "subAttributes": [
                    {
                      "multiValued": false,
                      "required": true,
                      "caseExact": false,
                      "mutability": "readWrite",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "familyName",
                      "type": "string"
                    },
                    {
                      "multiValued": false,
                      "required": true,
                      "caseExact": false,
                      "mutability": "readWrite",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "givenName",
                      "type": "string"
                    },
                    {
                      "multiValued": false,
                      "required": false,
                      "caseExact": false,
                      "mutability": "readWrite",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "middleName",
                      "type": "string"
                    },
                    {
                      "multiValued": false,
                      "required": false,
                      "caseExact": false,
                      "mutability": "readWrite",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "formatted",
                      "type": "string"
                    },
                    {
                      "multiValued": false,
                      "required": false,
                      "caseExact": false,
                      "mutability": "readWrite",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "honorificPrefix",
                      "type": "string"
                    },
                    {
                      "multiValued": false,
                      "required": false,
                      "caseExact": false,
                      "mutability": "readWrite",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "honorificSuffix",
                      "type": "string"
                    }
                  ]
                },
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "displayName",
                  "type": "string"
                },
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "nickName",
                  "type": "string"
                },
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "profileUrl",
                  "type": "string"
                },
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "title",
                  "type": "string"
                },
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "userType",
                  "type": "string"
                },
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "preferredLanguage",
                  "type": "string"
                },
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "locale",
                  "type": "string"
                },
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "timezone",
                  "type": "string"
                },
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "active",
                  "type": "boolean"
                },
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "writeOnly",
                  "uniqueness": "none",
                  "returned": "never",
                  "name": "password",
                  "type": "string"
                },
                {
                  "multiValued": true,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "emails",
                  "type": "complex",
                  "subAttributes": [
                    {
                      "multiValued": false,
                      "required": true,
                      "caseExact": false,
                      "mutability": "readWrite",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "value",
                      "type": "string"
                    },
                    {
                      "multiValued": false,
                      "required": false,
                      "caseExact": false,
                      "mutability": "readOnly",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "display",
                      "type": "string"
                    },
                    {
                      "multiValued": false,
                      "required": false,
                      "caseExact": false,
                      "mutability": "readWrite",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "type",
                      "type": "string"
                    },
                    {
                      "multiValued": false,
                      "required": false,
                      "caseExact": false,
                      "mutability": "readWrite",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "primary",
                      "type": "boolean"
                    }
                  ]
                },
                {
                  "multiValued": true,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "phoneNumbers",
                  "type": "complex",
                  "subAttributes": [
                    {
                      "multiValued": false,
                      "required": true,
                      "caseExact": false,
                      "mutability": "readWrite",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "value",
                      "type": "string"
                    },
                    {
                      "multiValued": false,
                      "required": false,
                      "caseExact": false,
                      "mutability": "readOnly",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "display",
                      "type": "string"
                    },
                    {
                      "multiValued": false,
                      "required": false,
                      "caseExact": false,
                      "mutability": "readWrite",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "type",
                      "type": "string"
                    },
                    {
                      "multiValued": false,
                      "required": false,
                      "caseExact": false,
                      "mutability": "readWrite",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "primary",
                      "type": "boolean"
                    }
                  ]
                },
                {
                  "multiValued": true,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "ims",
                  "type": "complex",
                  "subAttributes": [
                    {
                      "multiValued": false,
                      "required": true,
                      "caseExact": false,
                      "mutability": "readWrite",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "value",
                      "type": "string"
                    },
                    {
                      "multiValued": false,
                      "required": false,
                      "caseExact": false,
                      "mutability": "readOnly",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "display",
                      "type": "string"
                    },
                    {
                      "multiValued": false,
                      "required": false,
                      "caseExact": false,
                      "mutability": "readWrite",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "type",
                      "type": "string"
                    },
                    {
                      "multiValued": false,
                      "required": false,
                      "caseExact": false,
                      "mutability": "readWrite",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "primary",
                      "type": "boolean"
                    }
                  ]
                },
                {
                  "multiValued": true,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "photos",
                  "type": "complex",
                  "subAttributes": [
                    {
                      "multiValued": false,
                      "required": true,
                      "caseExact": false,
                      "mutability": "readWrite",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "value",
                      "type": "string"
                    },
                    {
                      "multiValued": false,
                      "required": false,
                      "caseExact": false,
                      "mutability": "readOnly",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "display",
                      "type": "string"
                    },
                    {
                      "multiValued": false,
                      "required": false,
                      "caseExact": false,
                      "mutability": "readWrite",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "type",
                      "type": "string"
                    },
                    {
                      "multiValued": false,
                      "required": false,
                      "caseExact": false,
                      "mutability": "readWrite",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "primary",
                      "type": "boolean"
                    }
                  ]
                },
                {
                  "multiValued": true,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "addresses",
                  "type": "complex",
                  "subAttributes": [
                    {
                      "multiValued": false,
                      "required": false,
                      "caseExact": false,
                      "mutability": "readWrite",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "type",
                      "type": "string"
                    },
                    {
                      "multiValued": false,
                      "required": false,
                      "caseExact": false,
                      "mutability": "readWrite",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "formatted",
                      "type": "string"
                    },
                    {
                      "multiValued": false,
                      "required": false,
                      "caseExact": false,
                      "mutability": "readWrite",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "streetAddress",
                      "type": "string"
                    },
                    {
                      "multiValued": false,
                      "required": false,
                      "caseExact": false,
                      "mutability": "readWrite",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "locality",
                      "type": "string"
                    },
                    {
                      "multiValued": false,
                      "required": false,
                      "caseExact": false,
                      "mutability": "readWrite",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "region",
                      "type": "string"
                    },
                    {
                      "multiValued": false,
                      "required": false,
                      "caseExact": false,
                      "mutability": "readWrite",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "postalCode",
                      "type": "string"
                    },
                    {
                      "multiValued": false,
                      "required": false,
                      "caseExact": false,
                      "mutability": "readWrite",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "country",
                      "type": "string"
                    }
                  ]
                },
                {
                  "multiValued": true,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readOnly",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "groups",
                  "type": "complex",
                  "subAttributes": [
                    {
                      "multiValued": false,
                      "required": true,
                      "caseExact": false,
                      "mutability": "readOnly",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "value",
                      "type": "string"
                    },
                    {
                      "multiValued": false,
                      "required": false,
                      "caseExact": false,
                      "mutability": "readOnly",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "display",
                      "type": "string"
                    },
                    {
                      "multiValued": false,
                      "required": false,
                      "caseExact": false,
                      "mutability": "readOnly",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "type",
                      "type": "string"
                    }
                  ]
                },
                {
                  "multiValued": true,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "entitlements",
                  "type": "complex",
                  "subAttributes": [
                    {
                      "multiValued": false,
                      "required": true,
                      "caseExact": false,
                      "mutability": "readWrite",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "value",
                      "type": "string"
                    },
                    {
                      "multiValued": false,
                      "required": false,
                      "caseExact": false,
                      "mutability": "readOnly",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "display",
                      "type": "string"
                    },
                    {
                      "multiValued": false,
                      "required": false,
                      "caseExact": false,
                      "mutability": "readWrite",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "type",
                      "type": "string"
                    },
                    {
                      "multiValued": false,
                      "required": false,
                      "caseExact": false,
                      "mutability": "readWrite",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "primary",
                      "type": "boolean"
                    }
                  ]
                },
                {
                  "multiValued": true,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "roles",
                  "type": "complex",
                  "subAttributes": [
                    {
                      "multiValued": false,
                      "required": true,
                      "caseExact": false,
                      "mutability": "readWrite",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "value",
                      "type": "string"
                    },
                    {
                      "multiValued": false,
                      "required": false,
                      "caseExact": false,
                      "mutability": "readOnly",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "display",
                      "type": "string"
                    },
                    {
                      "multiValued": false,
                      "required": false,
                      "caseExact": false,
                      "mutability": "readWrite",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "type",
                      "type": "string"
                    },
                    {
                      "multiValued": false,
                      "required": false,
                      "caseExact": false,
                      "mutability": "readWrite",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "primary",
                      "type": "boolean"
                    }
                  ]
                },
                {
                  "multiValued": true,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "x509Certificates",
                  "type": "complex",
                  "subAttributes": [
                    {
                      "multiValued": false,
                      "required": true,
                      "caseExact": false,
                      "mutability": "readWrite",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "value",
                      "type": "binary"
                    },
                    {
                      "multiValued": false,
                      "required": false,
                      "caseExact": false,
                      "mutability": "readOnly",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "display",
                      "type": "string"
                    },
                    {
                      "multiValued": false,
                      "required": false,
                      "caseExact": false,
                      "mutability": "readWrite",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "type",
                      "type": "string"
                    },
                    {
                      "multiValued": false,
                      "required": false,
                      "caseExact": false,
                      "mutability": "readWrite",
                      "uniqueness": "none",
                      "returned": "default",
                      "name": "primary",
                      "type": "boolean"
                    }
                  ]
                }
              ]
            }
          ]
        }
      },
      "schema_response": {
        "value": {
          "name": "User",
          "id": "urn:ietf:params:scim:schemas:core:2.0:User",
          "description": "Represents a User",
          "meta": {
            "resourceType": "Schema",
            "location": "/scim/v2/Schemas?name=urn%3Aietf%3Aparams%3Ascim%3Aschemas%3Acore%3A2.0%3AUser"
          },
          "attributes": [
            {
              "multiValued": false,
              "required": false,
              "caseExact": false,
              "mutability": "readOnly",
              "uniqueness": "server",
              "returned": "always",
              "name": "id",
              "type": "string"
            },
            {
              "multiValued": false,
              "required": false,
              "caseExact": false,
              "mutability": "readWrite",
              "uniqueness": "none",
              "returned": "default",
              "name": "externalId",
              "type": "string"
            },
            {
              "multiValued": false,
              "required": true,
              "caseExact": false,
              "mutability": "readWrite",
              "uniqueness": "server",
              "returned": "default",
              "name": "userName",
              "type": "string"
            },
            {
              "multiValued": false,
              "required": false,
              "caseExact": false,
              "mutability": "readWrite",
              "uniqueness": "none",
              "returned": "default",
              "name": "name",
              "type": "complex",
              "subAttributes": [
                {
                  "multiValued": false,
                  "required": true,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "familyName",
                  "type": "string"
                },
                {
                  "multiValued": false,
                  "required": true,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "givenName",
                  "type": "string"
                },
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "middleName",
                  "type": "string"
                },
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "formatted",
                  "type": "string"
                },
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "honorificPrefix",
                  "type": "string"
                },
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "honorificSuffix",
                  "type": "string"
                }
              ]
            },
            {
              "multiValued": false,
              "required": false,
              "caseExact": false,
              "mutability": "readWrite",
              "uniqueness": "none",
              "returned": "default",
              "name": "displayName",
              "type": "string"
            },
            {
              "multiValued": false,
              "required": false,
              "caseExact": false,
              "mutability": "readWrite",
              "uniqueness": "none",
              "returned": "default",
              "name": "nickName",
              "type": "string"
            },
            {
              "multiValued": false,
              "required": false,
              "caseExact": false,
              "mutability": "readWrite",
              "uniqueness": "none",
              "returned": "default",
              "name": "profileUrl",
              "type": "string"
            },
            {
              "multiValued": false,
              "required": false,
              "caseExact": false,
              "mutability": "readWrite",
              "uniqueness": "none",
              "returned": "default",
              "name": "title",
              "type": "string"
            },
            {
              "multiValued": false,
              "required": false,
              "caseExact": false,
              "mutability": "readWrite",
              "uniqueness": "none",
              "returned": "default",
              "name": "userType",
              "type": "string"
            },
            {
              "multiValued": false,
              "required": false,
              "caseExact": false,
              "mutability": "readWrite",
              "uniqueness": "none",
              "returned": "default",
              "name": "preferredLanguage",
              "type": "string"
            },
            {
              "multiValued": false,
              "required": false,
              "caseExact": false,
              "mutability": "readWrite",
              "uniqueness": "none",
              "returned": "default",
              "name": "locale",
              "type": "string"
            },
            {
              "multiValued": false,
              "required": false,
              "caseExact": false,
              "mutability": "readWrite",
              "uniqueness": "none",
              "returned": "default",
              "name": "timezone",
              "type": "string"
            },
            {
              "multiValued": false,
              "required": false,
              "caseExact": false,
              "mutability": "readWrite",
              "uniqueness": "none",
              "returned": "default",
              "name": "active",
              "type": "boolean"
            },
            {
              "multiValued": false,
              "required": false,
              "caseExact": false,
              "mutability": "writeOnly",
              "uniqueness": "none",
              "returned": "never",
              "name": "password",
              "type": "string"
            },
            {
              "multiValued": true,
              "required": false,
              "caseExact": false,
              "mutability": "readWrite",
              "uniqueness": "none",
              "returned": "default",
              "name": "emails",
              "type": "complex",
              "subAttributes": [
                {
                  "multiValued": false,
                  "required": true,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "value",
                  "type": "string"
                },
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readOnly",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "display",
                  "type": "string"
                },
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "type",
                  "type": "string"
                },
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "primary",
                  "type": "boolean"
                }
              ]
            },
            {
              "multiValued": true,
              "required": false,
              "caseExact": false,
              "mutability": "readWrite",
              "uniqueness": "none",
              "returned": "default",
              "name": "phoneNumbers",
              "type": "complex",
              "subAttributes": [
                {
                  "multiValued": false,
                  "required": true,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "value",
                  "type": "string"
                },
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readOnly",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "display",
                  "type": "string"
                },
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "type",
                  "type": "string"
                },
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "primary",
                  "type": "boolean"
                }
              ]
            },
            {
              "multiValued": true,
              "required": false,
              "caseExact": false,
              "mutability": "readWrite",
              "uniqueness": "none",
              "returned": "default",
              "name": "ims",
              "type": "complex",
              "subAttributes": [
                {
                  "multiValued": false,
                  "required": true,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "value",
                  "type": "string"
                },
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readOnly",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "display",
                  "type": "string"
                },
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "type",
                  "type": "string"
                },
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "primary",
                  "type": "boolean"
                }
              ]
            },
            {
              "multiValued": true,
              "required": false,
              "caseExact": false,
              "mutability": "readWrite",
              "uniqueness": "none",
              "returned": "default",
              "name": "photos",
              "type": "complex",
              "subAttributes": [
                {
                  "multiValued": false,
                  "required": true,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "value",
                  "type": "string"
                },
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readOnly",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "display",
                  "type": "string"
                },
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "type",
                  "type": "string"
                },
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "primary",
                  "type": "boolean"
                }
              ]
            },
            {
              "multiValued": true,
              "required": false,
              "caseExact": false,
              "mutability": "readWrite",
              "uniqueness": "none",
              "returned": "default",
              "name": "addresses",
              "type": "complex",
              "subAttributes": [
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "type",
                  "type": "string"
                },
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "formatted",
                  "type": "string"
                },
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "streetAddress",
                  "type": "string"
                },
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "locality",
                  "type": "string"
                },
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "region",
                  "type": "string"
                },
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "postalCode",
                  "type": "string"
                },
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "country",
                  "type": "string"
                }
              ]
            },
            {
              "multiValued": true,
              "required": false,
              "caseExact": false,
              "mutability": "readOnly",
              "uniqueness": "none",
              "returned": "default",
              "name": "groups",
              "type": "complex",
              "subAttributes": [
                {
                  "multiValued": false,
                  "required": true,
                  "caseExact": false,
                  "mutability": "readOnly",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "value",
                  "type": "string"
                },
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readOnly",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "display",
                  "type": "string"
                },
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readOnly",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "type",
                  "type": "string"
                }
              ]
            },
            {
              "multiValued": true,
              "required": false,
              "caseExact": false,
              "mutability": "readWrite",
              "uniqueness": "none",
              "returned": "default",
              "name": "entitlements",
              "type": "complex",
              "subAttributes": [
                {
                  "multiValued": false,
                  "required": true,
                  "caseExact": false,
                  "mutability": "readWrite",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "value",
                  "type": "string"
                },
                {
                  "multiValued": false,
                  "required": false,
                  "caseExact": false,
                  "mutability": "readOnly",
                  "uniqueness": "none",
                  "returned": "default",
                  "name": "display",
[...]
