{
  "openapi": "3.0.2",
  "info": {
    "title": "Workday Strategic Sourcing Contracts API",
    "version": "1.1",
    "description": "<span id=\"section/Authentication/api_key\" data-section-id=\"section/Authentication/api_key\"></span>\n<span id=\"section/Authentication/user_token\" data-section-id=\"section/Authentication/user_token\"></span>\n<span id=\"section/Authentication/user_email\" data-section-id=\"section/Authentication/user_email\"></span>\n"
  },
  "servers": [
    {
      "url": "https://api.us.workdayspend.com/services/contracts/v1",
      "description": "Production Server"
    },
    {
      "url": "https://api.sandbox.us.workdayspend.com/services/contracts/v1",
      "description": "Sandbox Server"
    }
  ],
  "security": [
    {
      "api_key": [],
      "user_token": [],
      "user_email": []
    }
  ],
  "tags": [
    {
      "name": "support",
      "x-displayName": "Customer Support",
      "description": "We've provided detailed documentation below to guide you. However, if you need additional assistance, here's how you can get the support you need:\n\n* __Community Discussions:__ Join the conversation on our Workday Community Discussion Boards (found under the \"Collaborate\" section in community). Connect with other users, share best practices, and get answers to your configuration questions.\n* __Expert Configuration Assistance (Professional Services):__ For tailored, hands-on support with your specific project, our Professional Services team is available.\n  * Looking for personalized guidance? Workday Success Plan customers can submit an \"Ask\" for expert insights on configuration and best practices.\n  * Need custom solutions? Consider Expert Assist, our consulting service for detailed changes and project support.\n* __Reporting System Issues:__ If you suspect a problem with the Workday system itself, please connect with our dedicated support team. Your company's Named Support Contact (NSC) can log a Product Support Defect case. We'll review the issue based on its impact and Workday's service level agreement (SLA).\n"
    },
    {
      "name": "servers",
      "x-displayName": "Servers",
      "description": "### US Region\n| Environment       | US region Base URI                                               |\n|-------------------|------------------------------------------------------------------|\n| **Production**    | https://api.us.workdayspend.com/services/contracts/v1         |\n| **Sandbox**       | https://api.sandbox.us.workdayspend.com/services/contracts/v1 |\n\n### EU Region\n| Environment       | EU region Base URI                                                |\n|-------------------|-------------------------------------------------------------------|\n| **Production**    | https://api.eu.workdayspend.com/services/contracts/v1          |\n| **Sandbox**       | https://api.sandbox.eu.workdayspend.com/services/contracts/v1  |\n\n### CA Region\n| Environment       | CA region Base URI                                                |\n|-------------------|-------------------------------------------------------------------|\n| **Production**    | https://api.ca.workdayspend.com/services/contracts/v1          |\n| **Sandbox**       | https://api.sandbox.ca.workdayspend.com/services/contracts/v1  |\n"
    },
    {
      "name": "api_specification",
      "x-displayName": "API Specification",
      "description": "The API conforms to the [JSON API Specification](https://jsonapi.org).\n\nThe current version of this service is indicated by the `X-Api-Version` header.\n\nSample version header: `X-Api-Version: 1.1`.\n"
    },
    {
      "name": "date_and_time_fields",
      "x-displayName": "Date and Time Fields",
      "description": "Our API adheres to the ISO 8601 standard when accepting and formatting Date and Time fields. All Date and Time fields returned by this API will be in the **UTC** timezone.\n\nDate and Time fields sent to this API can be in any timezone, provided they adhere to the ISO 8601 standard.\n"
    },
    {
      "name": "authentication",
      "x-displayName": "Authentication",
      "description": "The Workday Strategic Sourcing API uses API keys to authenticate requests. Every request\nwill require all 3 HTTP headers:\n\n| HTTP Header       | Description               |\n|-------------------|---------------------------|\n| **X-Api-Key**     | a company-wide API key    |\n| **X-User-Token**  | a user-specific API token |\n| **X-User-Email**  | user email                |\n\nYou can generate all of those from the _API tokens_ section of your _Profile_ page.\n\nYour API keys carry many privileges, so be sure to keep them secure! Do not share your secret API\nkeys in publicly accessible areas such as GitHub, client-side code, and so forth.\n\nAll API requests must be made over [HTTPS](http://en.wikipedia.org/wiki/HTTP_Secure). Calls made\nover plain HTTP will fail. API requests without authentication will also fail.\n"
    },
    {
      "name": "rate_limiting",
      "x-displayName": "Rate Limiting",
      "description": "Rate limit windows are per second and are shared by all API Keys for a company.\n\nThe rate limit is 5 requests per second.\n\nWhen request submissions exceed the limits, the limit-exceeding requests return `429 Too Many Requests` error responses to the client.\n\nUpon receiving a `429` response, it is recommended to retry the request in compliance with the rate limit. One example would be to add a sleep function for 1 second and retry.\n"
    },
    {
      "name": "filters",
      "x-displayName": "Filters",
      "description": "The results can be filtered to a subset of the total set of results using `filter` query parameters.\n\nEndpoints that support filtering will include usage details in the Query Parameters section for the resource.\n\nMost filters that end in `equals` support a Query Parameter array format to filter by multiple values.\n\nExample:\n```\n?filter[status_equals][]=submitted&filter[status_equals][]=resubmitted\n```\n"
    },
    {
      "name": "pagination",
      "x-displayName": "Pagination",
      "description": "Paginated endpoints may return a subset of the total results for a `GET` request that returns multiple resources. Endpoints that support pagination will include usage details in the Query Parameters section for the resource.\n\nThe paginated results can be configured using the `page` query parameter to configure the number of returned results. The default pagination size is 10 results and the maximum pagination size is 100 results per request.\n\nEndpoints that support pagination may return \"self\" and \"next\" sections within the \"links\" section that navigate to the current and next pages respectively.\n\n\n### Example Paginated Request\n\n#### Request Query Parameter Format\n```\n/projects?page[size]=25\n```\n\n#### Response Schema\nThe paginated response will also include the following schema\n\n<SchemaDefinition schemaRef=\"#/components/schemas/Pagination\" exampleRef=\"#/components/examples/Pagination\" />\n"
    },
    {
      "name": "external_ids",
      "x-displayName": "External Identifiers (IDs)",
      "description": "The `external_id` field exists on many of the Workday Strategic Sourcing resources. This optional and mutable extension is intended to store foreign keys of the corresponding resource from a third party system. **These IDs are not considered Sourcing Data and may be logged in external systems. Do not include any sensitive or personal data in IDs.**\n\nThe purpose of external IDs is to:\n\n* Prevent duplicate record creation\n* Allow resources in Workday Strategic Sourcing and a third party system to share the same identifier\n* Allow for records to be queried or updated without requiring knowledge of the Workday Strategic Sourcing generated IDs\n"
    },
    {
      "name": "contracts",
      "x-displayName": "Contracts",
      "description": "Use the contracts API to create, update, and query the contracts in Workday Strategic Sourcing.\n\n## Contract Object\n\n<SchemaDefinition schemaRef=\"#/components/schemas/Contract\" exampleRef=\"#/components/examples/Contract\" showReadOnly={true} showWriteOnly={true} />\n\n## Docusign Envelope Object\n\n<SchemaDefinition schemaRef=\"#/components/schemas/DocusignEnvelope\" showReadOnly={true} showWriteOnly={true} />\n\n## Adobe Sign Agreement Object\n\n<SchemaDefinition schemaRef=\"#/components/schemas/AdobeSignAgreement\" showReadOnly={true} showWriteOnly={true} />\n\n## Adobe Sign Document Object\n\n<SchemaDefinition schemaRef=\"#/components/schemas/AdobeSignDocument\" showReadOnly={true} showWriteOnly={true} />\n"
    },
    {
      "name": "contract_types",
      "x-displayName": "Contract Types",
      "description": "Use the contract types API to query the contract types in Workday Strategic Sourcing.\n\nContract Types are used in the contract resource. On POST and PATCH related endpoints for this resource a contract_type_id can be added to set the contract type. The contract_type_id is a foreign key for the contract_types resource's id.\n\n## Contract Type Object\n\n<SchemaDefinition schemaRef=\"#/components/schemas/ContractType\" showReadOnly={true} showWriteOnly={true} />\n"
    }
  ],
  "paths": {
    "/contracts": {
      "get": {
        "tags": [
          "contracts"
        ],
        "description": "Returns a list of contracts for the specified criteria.",
        "operationId": "List Contracts",
        "summary": "List Contracts",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter contracts by multiple criteria. Only one filter per attribute is supported.\nFor best performance, we recommend 5 or less filters.\n",
            "schema": {
              "$ref": "#/components/schemas/ContractInputFilter"
            }
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ContractRelatedResources"
            },
            "description": "To reduce the number of HTTP requests, related resources can be requested along with the\nrequested primary resources. Such responses are called \"compound documents\". In a compound\ndocument, all included resources will be represented as an array of resource objects in a\ntop-level `included` member.\n\nThe value of the `include` parameter must be a comma-separated list of relationships from\nthe list of available relationships.\n\n\n\n```\n/contracts?include=contract_type,supplier_company\n```\n\nIn the response, relationships will be represented as normal linkage objects (containing\n`id` and `type`), and full related resource details will be presented in the `included`\nsection as resource objects (with `attributes`, `links`, and potentially `relationships`).\n"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Customize pagination results with `size`.\n",
            "schema": {
              "$ref": "#/components/schemas/PageInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Contract"
                          }
                        },
                        "included": {
                          "$ref": "#/components/schemas/ContractIncludedResources"
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                },
                "examples": {
                  "simple_request": {
                    "summary": "Simple request",
                    "$ref": "#/components/examples/index_response"
                  },
                  "compound_request": {
                    "summary": "Compound request",
                    "$ref": "#/components/examples/index_compound_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/contracts/v1/contracts\"\n"
          }
        ]
      },
      "post": {
        "tags": [
          "contracts"
        ],
        "description": "Create a contract with given attributes.\n",
        "operationId": "Create a Contract",
        "summary": "Create a Contract",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ContractRelatedResources"
            },
            "description": "Use the `include` parameter to request related resources along with the primary resource.\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/ContractCreate"
                  }
                }
              },
              "examples": {
                "simple_request": {
                  "summary": "Simple request",
                  "$ref": "#/components/examples/create_simple_request"
                },
                "compound_request": {
                  "summary": "Assign relationships by Scout ID",
                  "$ref": "#/components/examples/create_compound_request"
                },
                "compound_external_request": {
                  "summary": "Assign relationships by external ID",
                  "$ref": "#/components/examples/create_compound_external_request"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Contract"
                    },
                    "included": {
                      "$ref": "#/components/schemas/ContractIncludedResources"
                    }
                  }
                },
                "examples": {
                  "simple_request": {
                    "summary": "Simple request",
                    "$ref": "#/components/examples/create_simple_response"
                  },
                  "compound_request": {
                    "summary": "Compound request",
                    "$ref": "#/components/examples/create_compound_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":{\"type\":\"contracts\",\"attributes\":{\"title\":\"My Contract\"}}}' \\\n     \"https://api.us.workdayspend.com/services/contracts/v1/contracts\"\n"
          }
        ]
      }
    },
    "/contracts/{id}": {
      "get": {
        "tags": [
          "contracts"
        ],
        "description": "Retrieves the details of an existing contract. You need to supply the unique contract\nidentifier that was returned upon contract creation.\n",
        "operationId": "Get a Contract",
        "summary": "Get a Contract",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique Contract identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ContractRelatedResources"
            },
            "description": "Use the `include` parameter to request related resources along with the primary resource.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Contract"
                    },
                    "included": {
                      "$ref": "#/components/schemas/ContractIncludedResources"
                    }
                  }
                },
                "examples": {
                  "simple_request": {
                    "summary": "Simple request",
                    "$ref": "#/components/examples/show_response"
                  },
                  "compound_request": {
                    "summary": "Compound request",
                    "$ref": "#/components/examples/show_compound_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/contracts/v1/contracts/1\"\n"
          }
        ]
      },
      "patch": {
        "tags": [
          "contracts"
        ],
        "description": "Updates the details of an existing contract. You need to supply the unique supplier\ncontract that was returned upon contract creation.\n\nPlease note, that request body must include an `id` attribute with the value of your contract\nunique identifier (the same one you passed in the URL).\n",
        "operationId": "Update a Contract",
        "summary": "Update a Contract",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique Contract identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ContractRelatedResources"
            },
            "description": "Use the `include` parameter to request related resources along with the primary resource.\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/ContractUpdate"
                  }
                }
              },
              "examples": {
                "simple_request": {
                  "summary": "Simple request",
                  "$ref": "#/components/examples/update_simple_request"
                },
                "compound_request": {
                  "summary": "Assign relationships by Scout ID",
                  "$ref": "#/components/examples/update_compound_request"
                },
                "compound_external_request": {
                  "summary": "Assign relationships by external ID",
                  "$ref": "#/components/examples/update_compound_external_request"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Contract"
                    },
                    "included": {
                      "$ref": "#/components/schemas/ContractIncludedResources"
                    }
                  }
                },
                "examples": {
                  "simple_request": {
                    "summary": "Simple request",
                    "$ref": "#/components/examples/update_simple_response"
                  },
                  "compound_request": {
                    "summary": "Compound request",
                    "$ref": "#/components/examples/update_compound_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                },
                "examples": {
                  "invalid_type": {
                    "summary": "Missing or invalid 'type' specified, expected 'contracts'",
                    "description": "Returns error due to invalid `type` parameter.\n",
                    "value": {
                      "errors": [
                        {
                          "detail": "Missing or invalid 'type' specified, expected 'contracts'"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"contracts\",\"id\":\"1\",\"attributes\":{\"segmentation_status\": \"out_of_compliance\"}}}' \\\n     \"https://api.us.workdayspend.com/services/contracts/v1/contracts/1\"\n"
          }
        ]
      },
      "delete": {
        "tags": [
          "contracts"
        ],
        "description": "Deletes a contract. You need to supply the unique contract\nidentifier that was returned upon contract creation.\n",
        "operationId": "Delete a Contract",
        "summary": "Delete a Contract",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique Contract identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/contracts/v1/contracts/1\"\n"
          }
        ]
      }
    },
    "/contracts/{external_id}/external_id": {
      "get": {
        "tags": [
          "contracts"
        ],
        "description": "Retrieves the details of an existing contract. You need to supply the unique\ncontract external identifier (the one you used when created the contract).\n",
        "operationId": "Get a Contract by External ID",
        "summary": "Get a Contract by External ID",
        "parameters": [
          {
            "name": "external_id",
            "in": "path",
            "description": "Contract external identifier.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1234-5678-abcd-efgh"
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ContractRelatedResources"
            },
            "description": "Use the `include` parameter to request related resources along with the primary resource.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Contract"
                    },
                    "included": {
                      "$ref": "#/components/schemas/ContractIncludedResources"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/external_show_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/contracts/v1/contracts/SUP-1234/external_id\"\n"
          }
        ]
      },
      "patch": {
        "tags": [
          "contracts"
        ],
        "description": "Updates the details of an existing contract. You need to supply the unique contract\nexternal identifier (the one you used when created the contract).\n\nPlease note, that request body must include an `id` attribute with the value of your contract\nexternal identifier (the same one you passed in the URL).\n",
        "operationId": "Update a Contract by External ID",
        "summary": "Update a Contract by External ID",
        "parameters": [
          {
            "name": "external_id",
            "in": "path",
            "description": "Contract external identifier.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1234-5678-abcd-efgh"
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ContractRelatedResources"
            },
            "description": "Use the `include` parameter to request related resources along with the primary resource.\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/ContractUpdate"
                  }
                }
              },
              "examples": {
                "success": {
                  "$ref": "#/components/examples/external_update_request"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Contract"
                    },
                    "included": {
                      "$ref": "#/components/schemas/ContractIncludedResources"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/external_update_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"contracts\",\"id\":\"SUP-1234\",attributes\":{\"segmentation_status\": \"out_of_compliance\"}}}' \\\n     \"https://api.us.workdayspend.com/services/contracts/v1/contracts/SUP-1234/external_id\"\n"
          }
        ]
      },
      "delete": {
        "tags": [
          "contracts"
        ],
        "description": "Deletes a contract. You need to supply the unique contract\nexternal identifier (the one you used when created the contract).\n",
        "operationId": "Delete a Contract by External ID",
        "summary": "Delete a Contract by External ID",
        "parameters": [
          {
            "name": "external_id",
            "in": "path",
            "description": "Contract external identifier.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1234-5678-abcd-efgh"
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/contracts/v1/contracts/SUP-1234/external_id\"\n"
          }
        ]
      }
    },
    "/contracts/describe": {
      "get": {
        "tags": [
          "contracts"
        ],
        "description": "Returns a list of fields for the contract object.",
        "operationId": "Describe Contract object",
        "summary": "Describe Contract object",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ContractFieldModel"
                      }
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/describe_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/contracts/v1/contracts/describe\"\n"
          }
        ]
      }
    },
    "/contract_types": {
      "get": {
        "tags": [
          "contract_types"
        ],
        "description": "Returns a list of all contract types.",
        "operationId": "List Contract Types",
        "summary": "List Contract Types",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ContractTypeModel"
                          }
                        },
                        "meta": {
                          "type": "object",
                          "description": "Result set metadata.",
                          "properties": {
                            "count": {
                              "type": "integer",
                              "description": "Number of pages in the result set."
                            }
                          }
                        },
                        "links": {
                          "$ref": "#/components/schemas/SelfLink"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/index_response-2"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/contracts/v1/contract_types\"\n"
          }
        ]
      },
      "post": {
        "tags": [
          "contract_types"
        ],
        "description": "Create a contract type with given parameters.\n",
        "operationId": "Create a Contract Type",
        "summary": "Create a Contract Type",
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/ContractTypeCreate"
                  }
                }
              },
              "examples": {
                "success": {
                  "$ref": "#/components/examples/create_request"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ContractTypeModel"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/create_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":{\"type\":\"contract_types\",\"attributes\":{\"name\":\"Contract Type\", \"shortcode\":\"CRT\", \"external_id\": \"CRT$1\"}}' \\\n     \"https://api.us.workdayspend.com/services/contracts/v1/contract_types\"\n"
          }
        ]
      }
    },
    "/contract_types/{id}": {
      "get": {
        "tags": [
          "contract_types"
        ],
        "description": "Retrieves the details of an existing contract type.\n",
        "operationId": "Get a Contract Type",
        "summary": "Get a Contract Type",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique contract type identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ContractTypeModel"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/show_response-2"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/contracts/v1/contract_types/1\"\n"
          }
        ]
      },
      "patch": {
        "tags": [
          "contract_types"
        ],
        "description": "Updates the details of an existing contract type. You need to supply the unique\nidentifier that was returned upon contract type creation.\n\nPlease note, that request body must include an `id` attribute with the value of your contract type\nunique identifier (the same one you passed in the URL).\n",
        "operationId": "Update a Contract Type",
        "summary": "Update a Contract Type",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique contract type identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/ContractTypeUpdate"
                  }
                }
              },
              "examples": {
                "success": {
                  "$ref": "#/components/examples/update_request"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ContractTypeModel"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/update_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                },
                "examples": {
                  "invalid_type": {
                    "summary": "Missing or invalid 'type' specified, expected 'contract_types'",
                    "description": "Returns error due to invalid `type` parameter.\n",
                    "value": {
                      "errors": [
                        {
                          "detail": "Missing or invalid 'type' specified, expected 'contract_types'"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"contract_types\",\"id\":\"2\",\"attributes\":{\"name\":\"Updated Contract Type\"}}}' \\\n     \"https://api.us.workdayspend.com/services/contracts/v1/contract_types/2\"\n"
          }
        ]
      },
      "delete": {
        "tags": [
          "contract_types"
        ],
        "description": "Deletes a contract type. You need to supply the unique contract type\nidentifier that was returned upon contract type creation.\n",
        "operationId": "Delete a Contract Type",
        "summary": "Delete a Contract Type",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique contract type identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/contracts/v1/contract_types/1\"\n"
          }
        ]
      }
    },
    "/contract_types/{external_id}/external_id": {
      "get": {
        "tags": [
          "contract_types"
        ],
        "description": "Retrieves the details of an existing contract type.\n",
        "operationId": "Get a Contract Type by External ID",
        "summary": "Get a Contract Type by External ID",
        "parameters": [
          {
            "name": "external_id",
            "in": "path",
            "description": "Unique contract type external identifier.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CTR$1"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ContractTypeModel"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/external_show_response-2"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/contracts/v1/contract_types/CTR$1/external_id\"\n"
          }
        ]
      },
      "patch": {
        "tags": [
          "contract_types"
        ],
        "description": "Updates the details of an existing contract type. You need to supply the unique\nexternal identifier assigned to the contract type on creation.\n\nPlease note, that request body must include an `id` attribute with the value of your contract type\nunique identifier (the same one you passed in the URL).\n",
        "operationId": "Update a Contract Type by External ID",
        "summary": "Update a Contract Type by External ID",
        "parameters": [
          {
            "name": "external_id",
            "in": "path",
            "description": "Unique contract type external identifier.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CTR$1"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/ContractTypeUpdate"
                  }
                }
              },
              "examples": {
                "success": {
                  "$ref": "#/components/examples/external_update_request-2"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ContractTypeModel"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/external_update_response-2"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"contract_types\",\"id\":\"CTR$1\",\"attributes\":{\"name\":\"Updated Contract Type\"}}}' \\\n     \"https://api.us.workdayspend.com/services/contracts/v1/contract_types/CTR$1/external_id\"\n"
          }
        ]
      },
      "delete": {
        "tags": [
          "contract_types"
        ],
        "description": "Deletes a contract type. You need to supply the unique contract type\nexternal identifier assigned to the contract type on creation.\n",
        "operationId": "Delete a Contract Type by External ID",
        "summary": "Delete a Contract Type by External ID",
        "parameters": [
          {
            "name": "external_id",
            "in": "path",
            "description": "Unique contract type external identifier.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CTR$1"
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/contracts/v1/contract_types/CTR$1/external_id\"\n"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ContractState": {
        "type": "string",
        "enum": [
          "draft",
          "requested",
          "in_progress",
          "out_for_approval",
          "approved",
          "active",
          "expired",
          "terminated"
        ],
        "description": "Current contract state.",
        "example": "in_progress"
      },
      "ContractInputFilter": {
        "type": "object",
        "properties": {
          "updated_at_from": {
            "type": "string",
            "format": "date-time",
            "description": "Return contracts updated on or after the specified timestamp.",
            "example": "2019-10-29T21:28:46.790Z"
          },
          "updated_at_to": {
            "type": "string",
            "format": "date-time",
            "description": "Return contracts updated on or before the specified timestamp.",
            "example": "2019-10-29T21:28:46.790Z"
          },
          "number_from": {
            "type": "string",
            "format": "integer",
            "description": "Find contracts with the number equal or greater than the specified one."
          },
          "number_to": {
            "type": "string",
            "format": "integer",
            "description": "Find contracts with the number equal or smaller than the specified one."
          },
          "title_contains": {
            "type": "string",
            "description": "Return contracts with title containing the specified string."
          },
          "title_not_contains": {
            "type": "string",
            "description": "Return contracts with title not containing the specified string."
          },
          "description_contains": {
            "type": "string",
            "description": "Return contracts with description containing the specified string."
          },
          "description_not_contains": {
            "type": "string",
            "description": "Return contracts with description not containing the specified string."
          },
          "external_id_empty": {
            "type": "boolean",
            "description": "Return contracts with `external_id` blank.",
            "example": true
          },
          "external_id_not_empty": {
            "type": "boolean",
            "description": "Return contracts with non-blank `external_id`.",
            "example": false
          },
          "external_id_equals": {
            "type": "string",
            "description": "Find contracts by a specific external ID.",
            "example": "SUP-123"
          },
          "external_id_not_equals": {
            "type": "string",
            "description": "Find contracts excluding the one with the specified external ID.",
            "example": "SUP-123"
          },
          "actual_start_date_from": {
            "type": "string",
            "format": "date",
            "description": "Return contracts started on or after the specified date."
          },
          "actual_start_date_to": {
            "type": "string",
            "format": "date",
            "description": "Return contracts started on or before the specified date."
          },
          "actual_end_date_from": {
            "type": "string",
            "format": "date",
            "description": "Return contracts ended on or after the specified date."
          },
          "actual_end_date_to": {
            "type": "string",
            "format": "date",
            "description": "Return contracts ended on or before the specified date."
          },
          "actual_spend_amount_from": {
            "type": "number",
            "format": "double",
            "description": "Return contracts with an actual spend amount equal or greater than the specified amount."
          },
          "actual_spend_amount_to": {
            "type": "number",
            "format": "double",
            "description": "Return contracts with an actual spend amount equal or smaller than the specified amount."
          },
          "auto_renewal": {
            "type": "array",
            "description": "Auto-renewal mode.",
            "items": {
              "type": "string",
              "enum": [
                "yes",
                "no",
                "evergreen"
              ]
            },
            "example": [
              "yes",
              "evergreen"
            ]
          },
          "needs_attention_equals": {
            "type": "boolean",
            "description": "Return contracts with the specified \"needs attention\" status."
          },
          "needs_attention_not_equals": {
            "type": "boolean",
            "description": "Return contracts with the \"needs attention\" status not equal to the specified one."
          },
          "renew_number_of_times_from": {
            "type": "integer",
            "description": "Find contracts that should be renewed at least the specified number of times."
          },
          "renew_number_of_times_to": {
            "type": "integer",
            "description": "Find contracts that should be renewed at most the specified number of times."
          },
          "state_equals": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContractState"
            },
            "description": "Find contracts with specified states.",
            "example": [
              "expired",
              "terminated"
            ]
          },
          "terminated_note_contains": {
            "type": "string",
            "description": "Return contracts with termination note containing the specified string."
          },
          "terminated_note_not_contains": {
            "type": "string",
            "description": "Return contracts with termination note not containing the specified string."
          },
          "terminated_note_empty": {
            "type": "string",
            "description": "Return contracts with an empty termination note."
          },
          "terminated_note_not_empty": {
            "type": "string",
            "description": "Return contracts with a non-empty termination note."
          },
          "terminated_reason_contains": {
            "type": "string",
            "description": "Return contracts with termination reason containing the specified string."
          },
          "terminated_reason_not_contains": {
            "type": "string",
            "description": "Return contracts with termination reason not containing the specified string."
          },
          "terminated_reason_empty": {
            "type": "string",
            "description": "Return contracts with an empty termination reason."
          },
          "terminated_reason_not_empty": {
            "type": "string",
            "description": "Return contracts with a non-empty termination reason."
          },
          "contract_type_id_equals": {
            "type": "integer",
            "description": "Find contracts with the specified contract type."
          },
          "contract_type_id_not_equals": {
            "type": "integer",
            "description": "Find contracts with the contract type different from the specified one."
          },
          "marked_as_needs_attention_at_from": {
            "type": "string",
            "format": "date-time",
            "description": "Find contracts marked as \"needs attention\" after or on the specified date."
          },
          "marked_as_needs_attention_at_to": {
            "type": "string",
            "format": "date-time",
            "description": "Find contracts marked as \"needs attention\" before or on the specified date."
          },
          "needs_attention_note_contains": {
            "type": "string",
            "description": "Return contracts with \"needs attention\" note containing the specified string."
          },
          "needs_attention_note_not_contains": {
            "type": "string",
            "description": "Return contracts with \"needs attention\" note not containing the specified string."
          },
          "needs_attention_note_empty": {
            "type": "string",
            "description": "Return contracts with an empty \"needs attention\" note."
          },
          "needs_attention_note_not_empty": {
            "type": "string",
            "description": "Return contracts with a non-empty \"needs attention\" note."
          },
          "needs_attention_reason_contains": {
            "type": "string",
            "description": "Return contracts with \"needs attention\" reason containing the specified string."
          },
          "needs_attention_reason_not_contains": {
            "type": "string",
            "description": "Return contracts with \"needs attention\" reason not containing the specified string."
          },
          "needs_attention_reason_empty": {
            "type": "string",
            "description": "Return contracts with an empty \"needs attention\" reason."
          },
          "needs_attention_reason_not_empty": {
            "type": "string",
            "description": "Return contracts with a non-empty \"needs attention\" reason."
          },
          "renewal_termination_notice_date_from": {
            "type": "string",
            "format": "date",
            "description": "Find contracts with the termination notice date on or after the specified one."
          },
          "renewal_termination_notice_date_to": {
            "type": "string",
            "format": "date",
            "description": "Find contracts with the termination notice date on or before the specified one."
          },
          "renewal_termination_reminder_date_from": {
            "type": "string",
            "format": "date",
            "description": "Find contracts with the termination reminder date on or after the specified one."
          },
          "renewal_termination_reminder_date_to": {
            "type": "string",
            "format": "date",
            "description": "Find contracts with the termination reminder date on or before the specified one."
          },
          "spend_category_id_equals": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Find contracts using the specified Spend Category IDs.",
            "example": [
              1,
              2
            ]
          }
        }
      },
      "ContractRelatedResources": {
        "allOf": [
          {
            "type": "string",
            "enum": [
              "contract_type",
              "spend_category",
              "supplier_company",
              "docusign_envelopes",
              "adobe_sign_agreements"
            ]
          }
        ]
      },
      "PageInput": {
        "type": "object",
        "properties": {
          "size": {
            "type": "number",
            "format": "integer",
            "description": "The number of results returned per page. Default is `10` and max is `100`.",
            "example": "25"
          }
        }
      },
      "ContractTypeValue": {
        "type": "string",
        "description": "Object type, should always be `contracts`.",
        "example": "contracts"
      },
      "ContractId": {
        "type": "integer",
        "description": "Contract identifier string.",
        "example": 1
      },
      "ContractBase": {
        "title": "Contract",
        "type": "object",
        "required": [
          "type",
          "id"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ContractTypeValue"
          },
          "id": {
            "$ref": "#/components/schemas/ContractId"
          }
        }
      },
      "CustomFieldBase": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Custom field name.",
            "example": "My Custom Field"
          }
        }
      },
      "CustomFieldCheckbox": {
        "title": "Checkbox",
        "allOf": [
          {
            "$ref": "#/components/schemas/CustomFieldBase"
          },
          {
            "type": "object",
            "properties": {
              "value": {
                "type": "boolean",
                "example": true
              }
            }
          }
        ]
      },
      "CustomFieldShortText": {
        "title": "Short Text",
        "allOf": [
          {
            "$ref": "#/components/schemas/CustomFieldBase"
          },
          {
            "type": "object",
            "properties": {
              "value": {
                "type": "string",
                "description": "A short text (usually under 255 characters)."
              }
            }
          }
        ]
      },
      "CustomFieldParagraph": {
        "title": "Paragraph",
        "allOf": [
          {
            "$ref": "#/components/schemas/CustomFieldBase"
          },
          {
            "type": "object",
            "properties": {
              "value": {
                "type": "string",
                "description": "A longer text paragraph."
              }
            }
          }
        ]
      },
      "CustomFieldDate": {
        "title": "Date",
        "allOf": [
          {
            "$ref": "#/components/schemas/CustomFieldBase"
          },
          {
            "type": "object",
            "properties": {
              "value": {
                "type": "string",
                "format": "date",
                "description": "A date value."
              }
            }
          }
        ]
      },
      "CustomFieldInteger": {
        "title": "Integer",
        "allOf": [
          {
            "$ref": "#/components/schemas/CustomFieldBase"
          },
          {
            "type": "object",
            "properties": {
              "value": {
                "type": "integer",
                "description": "An integer value. The maximum value is 9,007,199,254,740,991."
              }
            }
          }
        ]
      },
      "CustomFieldCurrency": {
        "title": "Currency",
        "allOf": [
          {
            "$ref": "#/components/schemas/CustomFieldBase"
          },
          {
            "type": "object",
            "properties": {
              "value": {
                "format": "integer",
                "description": "A currency value represented as an integer. The maximum value is 9,007,199,254,740,991."
              }
            }
          }
        ]
      },
      "CustomFieldDecimal": {
        "title": "Decimal",
        "allOf": [
          {
            "$ref": "#/components/schemas/CustomFieldBase"
          },
          {
            "type": "object",
            "properties": {
              "value": {
                "type": "string",
                "format": "decimal",
                "description": "A decimal value represented as a number with floating point."
              }
            }
          }
        ]
      },
      "CustomFieldSingleSelect": {
        "title": "Single Select",
        "allOf": [
          {
            "$ref": "#/components/schemas/CustomFieldBase"
          },
          {
            "type": "object",
            "properties": {
              "value": {
                "type": "string",
                "description": "A single value from a predefined list of possible options."
              }
            }
          }
        ]
      },
      "CustomFieldMultipleSelect": {
        "title": "Multiple Select",
        "allOf": [
          {
            "$ref": "#/components/schemas/CustomFieldBase"
          },
          {
            "type": "object",
            "properties": {
              "value": {
                "type": "array",
                "description": "A list of values from a predefined list of possible options.",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        ]
      },
      "CustomFieldURL": {
        "title": "URL",
        "allOf": [
          {
            "$ref": "#/components/schemas/CustomFieldBase"
          },
          {
            "type": "object",
            "properties": {
              "value": {
                "type": "string",
                "format": "url",
                "description": "URL string."
              }
            }
          }
        ]
      },
      "CustomFieldLookup": {
        "title": "Lookup",
        "allOf": [
          {
            "$ref": "#/components/schemas/CustomFieldBase"
          },
          {
            "type": "object",
            "properties": {
              "value": {
                "type": "string",
                "description": "A value from a customer-provided lookup data source."
              }
            }
          }
        ]
      },
      "CustomFieldRelated": {
        "title": "Related",
        "allOf": [
          {
            "$ref": "#/components/schemas/CustomFieldBase"
          },
          {
            "type": "object",
            "properties": {
              "value": {
                "type": "string",
                "description": "A value related to the lookup custom field value, retrieved from the same data source object."
              }
            }
          }
        ]
      },
      "CustomField": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/CustomFieldCheckbox"
          },
          {
            "$ref": "#/components/schemas/CustomFieldShortText"
          },
          {
            "$ref": "#/components/schemas/CustomFieldParagraph"
          },
          {
            "$ref": "#/components/schemas/CustomFieldDate"
          },
          {
            "$ref": "#/components/schemas/CustomFieldInteger"
          },
          {
            "$ref": "#/components/schemas/CustomFieldCurrency"
          },
          {
            "$ref": "#/components/schemas/CustomFieldDecimal"
          },
          {
            "$ref": "#/components/schemas/CustomFieldSingleSelect"
          },
          {
            "$ref": "#/components/schemas/CustomFieldMultipleSelect"
          },
          {
            "$ref": "#/components/schemas/CustomFieldURL"
          },
          {
            "$ref": "#/components/schemas/CustomFieldLookup"
          },
          {
            "$ref": "#/components/schemas/CustomFieldRelated"
          }
        ]
      },
      "ContractAttributes": {
        "type": "object",
        "description": "Contract attributes.",
        "required": [
          "title"
        ],
        "properties": {
          "title": {
            "type": "string",
            "maxLength": 255,
            "description": "A contract title.",
            "example": "Contract Title"
          },
          "description": {
            "type": "string",
            "description": "Contract description.",
            "example": "Contract Description"
          },
          "state": {
            "$ref": "#/components/schemas/ContractState"
          },
          "state_label": {
            "type": "string",
            "description": "Customer-specific contract state label.",
            "example": "Discovery"
          },
          "number": {
            "type": "integer",
            "readOnly": true,
            "description": "Contract number, generated sequentially.",
            "example": 1
          },
          "external_id": {
            "type": "string",
            "description": "Customer provided unique contract identifier.",
            "example": "1234-5678-abcd-efgh"
          },
          "actual_start_date": {
            "type": "string",
            "format": "date",
            "description": "Contract start date.",
            "example": "2028-12-30"
          },
          "actual_end_date": {
            "type": "string",
            "format": "date",
            "description": "Contract end date.",
            "example": "2031-12-30"
          },
          "actual_spend_amount": {
            "type": "number",
            "format": "double",
            "description": "Actual spend amount.",
            "example": 11.11
          },
          "auto_renewal": {
            "type": "string",
            "description": "Auto-renewal mode.",
            "enum": [
              "yes",
              "no",
              "evergreen"
            ],
            "example": "yes"
          },
          "marked_as_needs_attention_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time when the contract was flagged as needs attention.",
            "example": null
          },
          "needs_attention": {
            "type": "boolean",
            "description": "Identifies whether the contract needs attention.",
            "example": null
          },
          "needs_attention_note": {
            "type": "string",
            "description": "Additional notes on why the contract needs attention.",
            "example": null
          },
          "needs_attention_reason": {
            "type": "string",
            "description": "The reason why the contract needs attention.",
            "example": null
          },
          "renew_number_of_times": {
            "type": "integer",
            "description": "How many times the contracts should be renewed.",
            "example": 3
          },
          "renewal_term_unit": {
            "type": "string",
            "description": "Term unit for contract renewals.",
            "enum": [
              "days",
              "weeks",
              "months",
              "years"
            ],
            "example": "days"
          },
          "renewal_term_value": {
            "type": "integer",
            "description": "Number of term units between contract renewals.",
            "example": 4
          },
          "renewal_termination_notice_date": {
            "type": "string",
            "format": "date",
            "readOnly": true,
            "description": "Date when the termination notice should be sent based on actual end date and notice settings.",
            "example": "2031-07-30"
          },
          "renewal_termination_notice_unit": {
            "type": "string",
            "description": "Term unit for contract termination notice.",
            "enum": [
              "days",
              "weeks",
              "months",
              "years"
            ],
            "example": "months"
          },
          "renewal_termination_notice_value": {
            "type": "integer",
            "description": "Number of term units before the contract actual end date for the termination notice to be sent out.",
            "example": 5
          },
          "renewal_termination_reminder_date": {
            "type": "string",
            "format": "date",
            "readOnly": true,
            "description": "Date when the termination reminder should be sent based on termination notice date and reminder settings.",
            "example": "2031-06-18"
          },
          "renewal_termination_reminder_unit": {
            "type": "string",
            "description": "Term unit for contract termination reminder.",
            "enum": [
              "days",
              "weeks",
              "months",
              "years"
            ],
            "example": "weeks"
          },
          "renewal_termination_reminder_value": {
            "type": "integer",
            "description": "Number of term units before the contract termination notice for the termination reminder to be sent out.",
            "example": 6
          },
          "terminated_note": {
            "type": "string",
            "description": "Termination notes.",
            "example": null
          },
          "terminated_reason": {
            "type": "string",
            "description": "Termination reason.",
            "example": null
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "description": "Last modification date.",
            "example": "2019-10-29T21:28:46.790Z"
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomField"
            },
            "description": "Custom field values. Note: custom fields of type File can only be accessed through the user interface, they will be only exposed as `null` in the public API."
          },
          "approved_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time when the contract was approved.",
            "readOnly": true
          },
          "approval_rounds": {
            "type": "integer",
            "description": "Times contract has been sent for approval.",
            "example": 1
          },
          "first_sent_for_approval_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time when contract was sent for approval for first time.",
            "readOnly": true
          },
          "sent_for_approval_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time when the contract was sent for approval.",
            "readOnly": true
          },
          "public": {
            "type": "boolean",
            "description": "'Public visibility' of a contract, Note: Only applies when Public Site is enabled",
            "example": true
          }
        }
      },
      "AttachmentType": {
        "type": "string",
        "description": "Object type, should always be `attachments`.",
        "example": "attachments"
      },
      "AttachmentId": {
        "type": "integer",
        "description": "Attachment identifier string.",
        "example": 1
      },
      "AttachmentBase": {
        "title": "Attachment",
        "type": "object",
        "required": [
          "type",
          "id"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/AttachmentType"
          },
          "id": {
            "$ref": "#/components/schemas/AttachmentId"
          }
        }
      },
      "SupplierCompanyType": {
        "type": "string",
        "description": "Object type, should always be `supplier_companies`.",
        "example": "supplier_companies"
      },
      "SupplierCompanyId": {
        "type": "integer",
        "description": "Supplier company identifier string.",
        "example": 1
      },
      "SupplierCompanyBase": {
        "title": "SupplierCompany",
        "type": "object",
        "required": [
          "type",
          "id"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/SupplierCompanyType"
          },
          "id": {
            "$ref": "#/components/schemas/SupplierCompanyId"
          }
        }
      },
      "StakeholderType": {
        "type": "string",
        "description": "Object type, should always be `stakeholders`.",
        "example": "stakeholders"
      },
      "StakeholderId": {
        "type": "integer",
        "description": "Stakeholder identifier string.",
        "example": 1
      },
      "StakeholderBase": {
        "title": "Stakeholder",
        "type": "object",
        "required": [
          "type",
          "id"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/StakeholderType"
          },
          "id": {
            "$ref": "#/components/schemas/StakeholderId"
          }
        }
      },
      "DocusignEnvelopeType": {
        "type": "string",
        "description": "Object type, should always be `docusign_envelopes`.",
        "example": "docusign_envelopes"
      },
      "DocusignEnvelopeId": {
        "type": "integer",
        "description": "Docusign envelope identifier string.",
        "example": 1
      },
      "DocusignEnvelopeBase": {
        "title": "DocusignEnvelope",
        "type": "object",
        "required": [
          "type",
          "id"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/DocusignEnvelopeType"
          },
          "id": {
            "$ref": "#/components/schemas/DocusignEnvelopeId"
          }
        }
      },
      "AdobeSignAgreementType": {
        "type": "string",
        "description": "Object type, should always be `adobe_sign_agreements`",
        "example": "adobe_sign_agreements"
      },
      "AdobeSignAgreementId": {
        "type": "integer",
        "description": "Adobe Sign Agreement identifier string",
        "example": 1
      },
      "AdobeSignAgreementBase": {
        "title": "AdobeSignAgreement",
        "type": "object",
        "required": [
          "type",
          "id"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/AdobeSignAgreementType"
          },
          "id": {
            "$ref": "#/components/schemas/AdobeSignAgreementId"
          }
        }
      },
      "PaymentCurrencyType": {
        "type": "string",
        "description": "Object type, should always be `payment_currencies`.",
        "example": "payment_currencies"
      },
      "PaymentCurrencyId": {
        "type": "integer",
        "description": "Payment currency identifier string.",
        "example": 1
      },
      "PaymentCurrencyBase": {
        "title": "Field",
        "type": "object",
        "required": [
          "type",
          "id"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/PaymentCurrencyType"
          },
          "id": {
            "$ref": "#/components/schemas/PaymentCurrencyId"
          }
        }
      },
      "ContractTypeType": {
        "type": "string",
        "description": "Object type, should always be `contract_types`.",
        "example": "contract_types"
      },
      "ContractTypeId": {
        "type": "integer",
        "description": "Contract type identifier string.",
        "example": 1
      },
      "ContractTypeBase": {
        "title": "ContractType",
        "type": "object",
        "required": [
          "type",
          "id"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ContractTypeType"
          },
          "id": {
            "$ref": "#/components/schemas/ContractTypeId"
          }
        }
      },
      "SpendCategoryType": {
        "type": "string",
        "description": "Object type, should always be `spend_categories`.",
        "example": "spend_categories"
      },
      "SpendCategoryId": {
        "type": "integer",
        "description": "Spend category identifier string.",
        "example": 1
      },
      "SpendCategoryBase": {
        "title": "SpendCategory",
        "type": "object",
        "required": [
          "name",
          "id"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/SpendCategoryType"
          },
          "id": {
            "$ref": "#/components/schemas/SpendCategoryId"
          }
        }
      },
      "ContractRelationship": {
        "type": "object",
        "description": "Contract relationship.",
        "properties": {
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AttachmentBase"
            }
          },
          "supplier_company": {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/SupplierCompanyBase"
              }
            }
          },
          "creator": {
            "type": "object",
            "description": "Contract creator is set based on API keys.",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/StakeholderBase"
              }
            }
          },
          "owner": {
            "type": "object",
            "description": "Contract owner.",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/StakeholderBase"
              }
            }
          },
          "docusign_envelopes": {
            "type": "array",
            "description": "List of docusign envelopes",
            "items": {
              "$ref": "#/components/schemas/DocusignEnvelopeBase"
            }
          },
          "adobe_sign_agreements": {
            "type": "array",
            "description": "List of Adobe Sign Agreements",
            "items": {
              "$ref": "#/components/schemas/AdobeSignAgreementBase"
            }
          },
          "contract_type": {
            "type": "object",
            "description": "Contract type",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/ContractTypeBase"
              }
            }
          },
          "spend_category": {
            "type": "object",
            "description": "Spend category type",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/SpendCategoryBase"
              }
            }
          }
        }
      },
      "SelfLink": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "url",
            "description": "Normalized link to the resource."
          }
        }
      },
      "ResourceLinks": {
        "type": "object",
        "description": "List of related links.",
        "allOf": [
          {
            "$ref": "#/components/schemas/SelfLink"
          }
        ]
      },
      "Contract": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ContractBase"
          },
          {
            "type": "object",
            "properties": {
              "attributes": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContractAttributes"
                  }
                ]
              },
              "relationships": {
                "$ref": "#/components/schemas/ContractRelationship"
              },
              "links": {
                "$ref": "#/components/schemas/ResourceLinks"
              }
            }
          }
        ]
      },
      "PaymentCurrency": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PaymentCurrencyBase"
          }
        ]
      },
      "ContractTypeAttributes": {
        "type": "object",
        "description": "Contract type attributes.",
        "required": [
          "name",
          "shortcode"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255,
            "description": "Contract type name.",
            "example": "My Contract Type"
          },
          "shortcode": {
            "type": "string",
            "maxLength": 4,
            "description": "Contract type short code.",
            "example": "CPUB"
          },
          "external_id": {
            "type": "string",
            "description": "Customer provided unique contract type identifier.",
            "example": "1234-5678-abcd-efgh"
          }
        }
      },
      "ContractType": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ContractTypeBase"
          },
          {
            "type": "object",
            "properties": {
              "attributes": {
                "$ref": "#/components/schemas/ContractTypeAttributes"
              }
            }
          }
        ]
      },
      "SpendCategoryName": {
        "type": "string",
        "maxLength": 255,
        "description": "Spend category name."
      },
      "SpendCategoryExternalId": {
        "type": "string",
        "maxLength": 255,
        "description": "Spend category external identifier string."
      },
      "SpendCategoryUsages": {
        "type": "array",
        "description": "Spend category usages. Only spend categories with `procurement` usage can be used for requisitions.",
        "items": {
          "type": "string",
          "enum": [
            "procurement",
            "expense",
            "ad_hoc_payment",
            "supplier_invoice"
          ]
        }
      },
      "SpendCategoryAttributes": {
        "type": "object",
        "description": "Spend category attributes.",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "$ref": "#/components/schemas/SpendCategoryName"
          },
          "external_id": {
            "$ref": "#/components/schemas/SpendCategoryExternalId"
          },
          "usages": {
            "$ref": "#/components/schemas/SpendCategoryUsages"
          }
        }
      },
      "SpendCategory": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SpendCategoryBase"
          },
          {
            "type": "object",
            "properties": {
              "attributes": {
                "$ref": "#/components/schemas/SpendCategoryAttributes"
              }
            }
          }
        ]
      },
      "SupplierCompany": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SupplierCompanyBase"
          }
        ]
      },
      "DocusignEnvelopeAttributes": {
        "type": "object",
        "description": "Docusign envelope attributes",
        "required": [
          "name"
        ],
        "properties": {
          "docusign_created_at": {
            "type": "string",
            "maxLength": 255,
            "description": "Docusign created at timestamp",
            "example": "2023-07-25 14:11:20 UTC"
          },
          "docusign_updated_at": {
            "type": "string",
            "maxLength": 255,
            "description": "Docusign updated at timestamp",
            "example": "2023-07-26 16:11:17 UTC"
          },
          "error_code": {
            "type": "string",
            "maxLength": 255,
            "description": "Error Code",
            "example": "123"
          },
          "error_message": {
            "type": "string",
            "maxLength": 255,
            "description": "Error message",
            "example": "Oops, we ran into a problem"
          },
          "state": {
            "type": "string",
            "maxLength": 255,
            "description": "Current state of the Docusign Envelope",
            "example": "creating"
          },
          "title": {
            "type": "string",
            "maxLength": 255,
            "description": "Title of the Docusign envelope",
            "example": "My envelope"
          },
          "docusign_id": {
            "type": "string",
            "maxLength": 255,
            "description": "Docusign object ID",
            "example": "5"
          }
        }
      },
      "DocusignEnvelopeRelationship": {
        "title": "Docusign envelope relationships",
        "type": "object",
        "properties": {
          "attachments": {
            "type": "array",
            "description": "Docusign envelope list of attachments",
            "items": {
              "$ref": "#/components/schemas/AttachmentBase"
            }
          }
        }
      },
      "DocusignEnvelope": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DocusignEnvelopeBase"
          },
          {
            "type": "object",
            "properties": {
              "attributes": {
                "$ref": "#/components/schemas/DocusignEnvelopeAttributes"
              },
              "relationships": {
                "$ref": "#/components/schemas/DocusignEnvelopeRelationship"
              }
            }
          }
        ]
      },
      "AdobeSignAgreementAttributes": {
        "type": "object",
        "description": "Adobe Sign Agreement attributes",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255,
            "description": "Name of Adobe Sign Agreement",
            "example": "Agreement #236"
          },
          "state": {
            "type": "string",
            "maxLength": 255,
            "description": "Current state of Adobe Sign Agreement",
            "example": "CREATING"
          },
          "adobe_created_at": {
            "type": "string",
            "maxLength": 255,
            "description": "Adobe Created Date",
            "example": "2019-10-29T21:28:46.790Z"
          },
          "adobe_id": {
            "type": "string",
            "maxLength": 255,
            "description": "Adobe Sign Agreement ID",
            "example": "24"
          },
          "adobe_signed_at": {
            "type": "string",
            "maxLength": 255,
            "description": "Date Adobe Sign Agreement signed",
            "example": "2019-10-29T21:28:46.790Z"
          },
          "adobe_sign_errors": {
            "type": "string",
            "maxLength": 255,
            "description": "Raw JSON representation of Adobe Sign Agreement errors",
            "example": "{}"
          }
        }
      },
      "AdobeSignDocumentType": {
        "type": "string",
        "description": "Object type, should always be `adobe_sign_documents`",
        "example": "adobe_sign_documents"
      },
      "AdobeSignDocumentId": {
        "type": "integer",
        "description": "Adobe Sign Document identifier string",
        "example": 1
      },
      "AdobeSignDocumentBase": {
        "title": "AdobeSignDocument",
        "type": "object",
        "required": [
          "type",
          "id"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/AdobeSignDocumentType"
          },
          "id": {
            "$ref": "#/components/schemas/AdobeSignDocumentId"
          }
        }
      },
      "AdobeSignAgreementRelationship": {
        "title": "Adobe Sign Agreement relationships",
        "type": "object",
        "properties": {
          "documents": {
            "type": "array",
            "description": "List of Adobe Sign Documents",
            "items": {
              "$ref": "#/components/schemas/AdobeSignDocumentBase"
            }
          }
        }
      },
      "AdobeSignAgreement": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AdobeSignAgreementBase"
          },
          {
            "type": "object",
            "properties": {
              "attributes": {
                "$ref": "#/components/schemas/AdobeSignAgreementAttributes"
              },
              "relationships": {
                "$ref": "#/components/schemas/AdobeSignAgreementRelationship"
              }
            }
          }
        ]
      },
      "ContractIncludedResources": {
        "allOf": [
          {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/ContractType"
                },
                {
                  "$ref": "#/components/schemas/SpendCategory"
                },
                {
                  "$ref": "#/components/schemas/SupplierCompany"
                },
                {
                  "$ref": "#/components/schemas/DocusignEnvelope"
                },
                {
                  "$ref": "#/components/schemas/AdobeSignAgreement"
                }
              ]
            }
          }
        ]
      },
      "NextPageLink": {
        "type": "object",
        "properties": {
          "next": {
            "type": "string",
            "format": "url",
            "description": "Link to the next results page.",
            "nullable": true
          }
        }
      },
      "PrevPageLink": {
        "type": "object",
        "properties": {
          "prev": {
            "type": "string",
            "format": "url",
            "description": "Link to the previous results page.",
            "nullable": true,
            "deprecated": true
          }
        }
      },
      "PaginationLinks": {
        "type": "object",
        "description": "List of related links.",
        "allOf": [
          {
            "$ref": "#/components/schemas/SelfLink"
          },
          {
            "$ref": "#/components/schemas/NextPageLink"
          },
          {
            "$ref": "#/components/schemas/PrevPageLink"
          }
        ]
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "description": "Result set metadata.",
            "properties": {
              "count": {
                "type": "integer",
                "description": "Number of pages in the result set."
              }
            }
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          }
        }
      },
      "StakeholderBaseData": {
        "title": "Stakeholder Data",
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/StakeholderBase"
          }
        }
      },
      "StakeholderMetaIdLookup": {
        "title": "Stakeholder Meta by ID",
        "type": "object",
        "required": [
          "meta"
        ],
        "properties": {
          "meta": {
            "type": "object",
            "description": "Search for a stakeholder by ID.",
            "required": [
              "id"
            ],
            "properties": {
              "id": {
                "$ref": "#/components/schemas/StakeholderId"
              }
            }
          }
        }
      },
      "StakeholderEmail": {
        "type": "string",
        "format": "email",
        "description": "Stakeholder's email.",
        "example": "stakeholder.email@example.com"
      },
      "StakeholderMetaEmailLookup": {
        "title": "Stakeholder Meta by Email",
        "type": "object",
        "required": [
          "meta"
        ],
        "properties": {
          "meta": {
            "type": "object",
            "description": "Search for a stakeholder by email.",
            "required": [
              "email"
            ],
            "properties": {
              "email": {
                "$ref": "#/components/schemas/StakeholderEmail"
              }
            }
          }
        }
      },
      "StakeholderLookup": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/StakeholderBaseData"
          },
          {
            "$ref": "#/components/schemas/StakeholderMetaIdLookup"
          },
          {
            "$ref": "#/components/schemas/StakeholderMetaEmailLookup"
          }
        ]
      },
      "ExternalSupplierCompanyType": {
        "type": "string",
        "description": "Object type, should always be `supplier_companies`.",
        "example": "supplier_companies"
      },
      "ExternalSupplierCompanyId": {
        "type": "integer",
        "description": "Supplier company external identifier string.",
        "example": 1
      },
      "ExternalSupplierCompanyBase": {
        "title": "ExternalSupplierCompany",
        "type": "object",
        "required": [
          "type",
          "id"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ExternalSupplierCompanyType"
          },
          "id": {
            "$ref": "#/components/schemas/ExternalSupplierCompanyId"
          }
        }
      },
      "ContractRequestRelationship": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "owner": {
                "$ref": "#/components/schemas/StakeholderLookup"
              }
            }
          },
          {
            "type": "object",
            "description": "Contract request relationship. external_supplier_company can be used to associate the supplier_company using the supplier external_id attribute.",
            "properties": {
              "supplier_company": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/SupplierCompanyBase"
                  }
                }
              },
              "external_supplier_company": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/ExternalSupplierCompanyBase"
                  }
                }
              },
              "contract_type": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/ContractTypeBase"
                  }
                }
              },
              "external_contract_type": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/ContractTypeBase"
                  }
                }
              },
              "spend_category": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/SpendCategoryBase"
                  }
                }
              },
              "payment_currency": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/PaymentCurrencyBase"
                  }
                }
              }
            }
          }
        ]
      },
      "ContractCreateRequestRelationship": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ContractRequestRelationship"
          },
          {
            "type": "object",
            "properties": {}
          }
        ]
      },
      "ContractCreate": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ContractTypeValue"
          },
          "attributes": {
            "$ref": "#/components/schemas/ContractAttributes"
          },
          "relationships": {
[...]
