{
  "openapi": "3.0.2",
  "info": {
    "title": "Workday Strategic Sourcing Events API",
    "version": "1.2",
    "description": "<span id=\"section/Authentication/api_key\" data-section-id=\"section/Authentication/api_key\"></span>\n<span id=\"section/Authentication/user_token\" data-section-id=\"section/Authentication/user_token\"></span>\n<span id=\"section/Authentication/user_email\" data-section-id=\"section/Authentication/user_email\"></span>\n"
  },
  "servers": [
    {
      "url": "https://api.us.workdayspend.com/services/events/v1",
      "description": "Production Server"
    },
    {
      "url": "https://api.sandbox.us.workdayspend.com/services/events/v1",
      "description": "Sandbox Server"
    }
  ],
  "security": [
    {
      "api_key": [],
      "user_token": [],
      "user_email": []
    }
  ],
  "tags": [
    {
      "name": "support",
      "x-displayName": "Customer Support",
      "description": "We've provided detailed documentation below to guide you. However, if you need additional assistance, here's how you can get the support you need:\n\n* __Community Discussions:__ Join the conversation on our Workday Community Discussion Boards (found under the \"Collaborate\" section in community). Connect with other users, share best practices, and get answers to your configuration questions.\n* __Expert Configuration Assistance (Professional Services):__ For tailored, hands-on support with your specific project, our Professional Services team is available.\n  * Looking for personalized guidance? Workday Success Plan customers can submit an \"Ask\" for expert insights on configuration and best practices.\n  * Need custom solutions? Consider Expert Assist, our consulting service for detailed changes and project support.\n* __Reporting System Issues:__ If you suspect a problem with the Workday system itself, please connect with our dedicated support team. Your company's Named Support Contact (NSC) can log a Product Support Defect case. We'll review the issue based on its impact and Workday's service level agreement (SLA).\n"
    },
    {
      "name": "servers",
      "x-displayName": "Servers",
      "description": "### US Region\n| Environment       | US region Base URI                                         |\n|-------------------|------------------------------------------------------------|\n| **Production**    | https://api.us.workdayspend.com/services/events/v1         |\n| **Sandbox**       | https://api.sandbox.us.workdayspend.com/services/events/v1 |\n\n### EU Region\n| Environment       | EU region Base URI                                                |\n|-------------------|-------------------------------------------------------------------|\n| **Production**    | https://api.eu.workdayspend.com/services/events/v1          |\n| **Sandbox**       | https://api.sandbox.eu.workdayspend.com/services/events/v1  |\n\n### CA Region\n| Environment       | CA region Base URI                                                |\n|-------------------|-------------------------------------------------------------------|\n| **Production**    | https://api.ca.workdayspend.com/services/events/v1          |\n| **Sandbox**       | https://api.sandbox.ca.workdayspend.com/services/events/v1  |\n"
    },
    {
      "name": "api_specification",
      "x-displayName": "API Specification",
      "description": "The API conforms to the [JSON API Specification](https://jsonapi.org).\n\nThe current version of this service is indicated by the `X-Api-Version` header.\n\nSample version header: `X-Api-Version: 1.2`.\n"
    },
    {
      "name": "date_and_time_fields",
      "x-displayName": "Date and Time Fields",
      "description": "Our API adheres to the ISO 8601 standard when accepting and formatting Date and Time fields. All Date and Time fields returned by this API will be in the **UTC** timezone.\n\nDate and Time fields sent to this API can be in any timezone, provided they adhere to the ISO 8601 standard.\n"
    },
    {
      "name": "authentication",
      "x-displayName": "Authentication",
      "description": "The Workday Strategic Sourcing API uses API keys to authenticate requests. Every request\nwill require all 3 HTTP headers:\n\n| HTTP Header       | Description               |\n|-------------------|---------------------------|\n| **X-Api-Key**     | a company-wide API key    |\n| **X-User-Token**  | a user-specific API token |\n| **X-User-Email**  | user email                |\n\nYou can generate all of those from the _API tokens_ section of your _Profile_ page.\n\nYour API keys carry many privileges, so be sure to keep them secure! Do not share your secret API\nkeys in publicly accessible areas such as GitHub, client-side code, and so forth.\n\nAll API requests must be made over [HTTPS](http://en.wikipedia.org/wiki/HTTP_Secure). Calls made\nover plain HTTP will fail. API requests without authentication will also fail.\n"
    },
    {
      "name": "rate_limiting",
      "x-displayName": "Rate Limiting",
      "description": "Rate limit windows are per second and are shared by all API Keys for a company.\n\nThe rate limit is 5 requests per second.\n\nWhen request submissions exceed the limits, the limit-exceeding requests return `429 Too Many Requests` error responses to the client.\n\nUpon receiving a `429` response, it is recommended to retry the request in compliance with the rate limit. One example would be to add a sleep function for 1 second and retry.\n"
    },
    {
      "name": "filters",
      "x-displayName": "Filters",
      "description": "The results can be filtered to a subset of the total set of results using `filter` query parameters.\n\nEndpoints that support filtering will include usage details in the Query Parameters section for the resource.\n\nMost filters that end in `equals` support a Query Parameter array format to filter by multiple values.\n\nExample:\n```\n?filter[status_equals][]=submitted&filter[status_equals][]=resubmitted\n```\n"
    },
    {
      "name": "pagination",
      "x-displayName": "Pagination",
      "description": "Paginated endpoints may return a subset of the total results for a `GET` request that returns multiple resources. Endpoints that support pagination will include usage details in the Query Parameters section for the resource.\n\nThe paginated results can be configured using the `page` query parameter to configure the number of returned results. The default pagination size is 10 results and the maximum pagination size is 100 results per request.\n\nEndpoints that support pagination may return \"self\" and \"next\" sections within the \"links\" section that navigate to the current and next pages respectively.\n\n\n### Example Paginated Request\n\n#### Request Query Parameter Format\n```\n/projects?page[size]=25\n```\n\n#### Response Schema\nThe paginated response will also include the following schema\n\n<SchemaDefinition schemaRef=\"#/components/schemas/Pagination\" exampleRef=\"#/components/examples/Pagination\" />\n"
    },
    {
      "name": "external_ids",
      "x-displayName": "External Identifiers (IDs)",
      "description": "The `external_id` field exists on many of the Workday Strategic Sourcing resources. This optional and mutable extension is intended to store foreign keys of the corresponding resource from a third party system. **These IDs are not considered Sourcing Data and may be logged in external systems. Do not include any sensitive or personal data in IDs.**\n\nThe purpose of external IDs is to:\n\n* Prevent duplicate record creation\n* Allow resources in Workday Strategic Sourcing and a third party system to share the same identifier\n* Allow for records to be queried or updated without requiring knowledge of the Workday Strategic Sourcing generated IDs\n"
    },
    {
      "name": "events",
      "x-displayName": "Events",
      "description": "Use the events API to create, update, and query the events in Workday Strategic Sourcing.\n\n## Event Object\n\n<SchemaDefinition schemaRef=\"#/components/schemas/Event\" exampleRef=\"#/components/examples/Event\" showReadOnly={true} showWriteOnly={true} />\n"
    },
    {
      "name": "event_supplier_companies",
      "x-displayName": "Event Supplier Companies",
      "description": "Use the event supplier companies API to manage event suppliers.\n"
    },
    {
      "name": "event_supplier_contacts",
      "x-displayName": "Event Supplier Contacts",
      "description": "Use the event supplier contacts API to manage event suppliers. This API provides 2 advantages over the event supplier companies APIs:\n- It allows specifying the supplier contact to be associated/removed from an event.\n- It allows specifying multiple contacts for a given supplier.\n"
    },
    {
      "name": "event_templates",
      "x-displayName": "Event Templates",
      "description": "Use the contract types API to query the event templates in Workday Strategic Sourcing.\n\nEvent Templates are used as a blueprint for newly created events.\n\n## Event Template Object\n\n<SchemaDefinition schemaRef=\"#/components/schemas/EventTemplateModel\" showReadOnly={true} showWriteOnly={true} />\n"
    },
    {
      "name": "worksheets",
      "x-displayName": "Worksheets",
      "description": "Use the worksheets API to create, update, and query the worksheets in Workday Strategic Sourcing.\n\n## Worksheet Object\n\n<SchemaDefinition schemaRef=\"#/components/schemas/WorksheetModel\" showReadOnly={true} showWriteOnly={true} />\n"
    },
    {
      "name": "line_items",
      "x-displayName": "Line Items",
      "description": "Use the line items API to create, update, and query the worksheet line items in Workday Strategic Sourcing.\n\n## Line Item Object\n\n<SchemaDefinition schemaRef=\"#/components/schemas/LineItem\" showReadOnly={true} showWriteOnly={true} />\n"
    },
    {
      "name": "bids",
      "x-displayName": "Bids",
      "description": "Use the bids API to query the bids in Workday Strategic Sourcing.\nOnly bids for events of type `RFP` are supported.\n\n## Bid Object\n\n<SchemaDefinition schemaRef=\"#/components/schemas/Bid\" exampleRef=\"#/components/examples/Bid\" showReadOnly={true} showWriteOnly={true} />\n"
    },
    {
      "name": "bid_line_items",
      "x-displayName": "Bid Line Items",
      "description": "Use the bid line items API to query the bid line items in Workday Strategic Sourcing.\n\n## Bid Line Item Object\n\n<SchemaDefinition schemaRef=\"#/components/schemas/BidLineItem\" exampleRef=\"#/components/examples/BidLineItem\" showReadOnly={true} showWriteOnly={true} />\n"
    }
  ],
  "paths": {
    "/event_templates": {
      "get": {
        "tags": [
          "event_templates"
        ],
        "description": "Returns a list of all event templates.",
        "operationId": "List Event Templates",
        "summary": "List Event Templates",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/EventTemplateModel"
                          }
                        },
                        "meta": {
                          "type": "object",
                          "description": "Result set metadata.",
                          "properties": {
                            "count": {
                              "type": "integer",
                              "description": "Number of pages in the result set."
                            }
                          }
                        },
                        "links": {
                          "$ref": "#/components/schemas/SelfLink"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/index_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/events/v1/event_templates\"\n"
          }
        ]
      }
    },
    "/event_templates/{id}": {
      "get": {
        "tags": [
          "event_templates"
        ],
        "description": "Retrieves the details of an existing event template.\n",
        "operationId": "Get an Event Template",
        "summary": "Get an Event Template",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique event template identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/EventTemplateModel"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/show_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/events/v1/event_templates/1\"\n"
          }
        ]
      }
    },
    "/events": {
      "get": {
        "tags": [
          "events"
        ],
        "description": "Returns a list of events for the specified criteria.",
        "operationId": "List Events",
        "summary": "List Events",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter events by multiple criteria. Only one filter per attribute is supported.\nFor best performance, we recommend 5 or less filters.\n",
            "schema": {
              "$ref": "#/components/schemas/EventInputFilter"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Customize pagination results with `size`.\n",
            "schema": {
              "$ref": "#/components/schemas/PageInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Event"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/index_response-2"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/events/v1/events\"\n"
          }
        ]
      },
      "post": {
        "tags": [
          "events"
        ],
        "operationId": "Create an Event",
        "summary": "Create an Event",
        "description": "Events can only be created from a template. When a creation request is issued, the base event\nobject will be created from the template and returned with the response. Child records\nsuch as attachments, price sheets and custom values, will be scheduled for copy asynchronously.\nCurrent duplication status can be retrieved from the `duplication_state` attribute, which will have\none of following values:\n\n* `scheduled` - duplication is scheduled, but not yet started;\n* `started` - duplication started, but not yet finished;\n* `finished` - duplication completed;\n* `failed` - there was an error duplicating relationships.\n\nAn event should always have an associated project. Please make sure to specify it as a\nrelationship object.\n\nA new event will automatically inherit its spend category from the event template.\n\nPlease note, this endpoint does not support auction creation/duplication.\n",
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/EventCreate"
                  }
                }
              },
              "examples": {
                "success": {
                  "$ref": "#/components/examples/create_request"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Event"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/create_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                },
                "examples": {
                  "validation_errors": {
                    "summary": "The endpoint responds with errors JSON",
                    "description": "The response from trigger could not be parsed\n",
                    "$ref": "#/components/examples/create_422_response"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":{\"type\":\"events\",\"attributes\":{\"duplicate_bids\":true},\"relationships\":{\"event_template\":{\"data\":{\"id\":\"1\",\"type\":\"event_templates\"}}}}}' \\\n     \"https://api.us.workdayspend.com/services/events/v1/events\"\n"
          }
        ]
      }
    },
    "/events/{id}": {
      "get": {
        "tags": [
          "events"
        ],
        "description": "Retrieves the details of an existing event. You need to supply the unique event\nidentifier that was returned upon event creation.\n",
        "operationId": "Get an Event",
        "summary": "Get an Event",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique Event identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Event"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/show_response-2"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/1\"\n"
          }
        ]
      },
      "patch": {
        "tags": [
          "events"
        ],
        "description": "Updates the details of an existing event. You need to supply the unique\nidentifier that was returned upon event creation.\n\nPlease note, that request body must include an `id` attribute with the value of your event\nunique identifier (the same one you passed in the URL).\n",
        "operationId": "Update an Event",
        "summary": "Update an Event",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique Event identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/EventUpdate"
                  }
                }
              },
              "examples": {
                "success": {
                  "$ref": "#/components/examples/update_request"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Event"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/update_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                },
                "examples": {
                  "invalid_type": {
                    "summary": "Missing or invalid 'type' specified, expected 'events'",
                    "description": "Returns error due to invalid `type` parameter.\n",
                    "value": {
                      "errors": [
                        {
                          "detail": "Missing or invalid 'type' specified, expected 'events'"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"events\",\"id\":\"2\",\"attributes\":{\"title\":\"Event title updated\"}}}' \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/2\"\n"
          }
        ]
      },
      "delete": {
        "tags": [
          "events"
        ],
        "description": "Deletes an event. You need to supply the unique event\nidentifier that was returned upon event creation.\n",
        "operationId": "Delete an Event",
        "summary": "Delete an Event",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique Event identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/1\"\n"
          }
        ]
      }
    },
    "/events/describe": {
      "get": {
        "tags": [
          "events"
        ],
        "description": "Returns the list of fields for the event object.",
        "operationId": "Describe Event Object",
        "summary": "Describe Event Object",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EventFieldModel"
                      }
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/describe_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/describe\"\n"
          }
        ]
      }
    },
    "/events/{event_id}/worksheets": {
      "get": {
        "tags": [
          "worksheets"
        ],
        "description": "Returns a list of all worksheets.",
        "operationId": "List Worksheets",
        "summary": "List Worksheets",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "description": "Event identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/WorksheetModel"
                          }
                        },
                        "meta": {
                          "type": "object",
                          "description": "Result set metadata.",
                          "properties": {
                            "count": {
                              "type": "integer",
                              "description": "Number of pages in the result set."
                            }
                          }
                        },
                        "links": {
                          "$ref": "#/components/schemas/SelfLink"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/index_response-3"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/1/worksheets\"\n"
          }
        ]
      }
    },
    "/events/{event_id}/worksheets/{id}": {
      "get": {
        "tags": [
          "worksheets"
        ],
        "description": "Retrieves the details of an existing worksheet. You need to supply the unique worksheet\nidentifier that was returned upon worksheet creation.\n",
        "operationId": "Get a Worksheet",
        "summary": "Get a Worksheet",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "description": "Event identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique Worksheet identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/WorksheetModel"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/show_response-3"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/1/worksheets/1\"\n"
          }
        ]
      }
    },
    "/worksheets/describe": {
      "get": {
        "tags": [
          "worksheets"
        ],
        "description": "Returns a list of fields for the worksheet object.",
        "operationId": "Describe Worksheet object",
        "summary": "Describe Worksheet object",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/WorksheetFieldModel"
                          }
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/describe_response-2"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/events/v1/worksheets/describe\"\n"
          }
        ]
      }
    },
    "/events/{event_id}/worksheets/{worksheet_id}/line_items": {
      "get": {
        "tags": [
          "line_items"
        ],
        "description": "Returns a list of line items for the specified criteria.",
        "operationId": "List Line Items",
        "summary": "List Line Items",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "description": "Event identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "worksheet_id",
            "in": "path",
            "description": "Worksheet identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/LineItem"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/index_response-4"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/1/worksheets/1/line_items\"\n"
          }
        ]
      },
      "post": {
        "tags": [
          "line_items"
        ],
        "description": "Create a line item with given cell values.\n",
        "operationId": "Create a Line Item",
        "summary": "Create a Line Item",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "description": "Event identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "worksheet_id",
            "in": "path",
            "description": "Worksheet identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/LineItemCreate"
                  }
                }
              },
              "examples": {
                "success": {
                  "$ref": "#/components/examples/create_request-2"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/LineItem"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/create_response-2"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":{\"type\":\"line_items\",\"attributes\":{\"data\":{\"c1\":\"Product One\",\"c2\":\"items\",\"c3\":14}}}}' \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/1/worksheets/1/line_items\"\n"
          }
        ]
      }
    },
    "/events/{event_id}/worksheets/{worksheet_id}/line_items/bulk": {
      "post": {
        "tags": [
          "line_items"
        ],
        "description": "Create multiple line items in a given worksheet. You can create up to 200 line items in\na single request.\n",
        "operationId": "Bulk Create Line Items",
        "summary": "Bulk Create Line Items",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "description": "Event identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "worksheet_id",
            "in": "path",
            "description": "Worksheet identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "attributes"
                      ],
                      "properties": {
                        "type": {
                          "$ref": "#/components/schemas/LineItemType"
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/LineItemAttributes"
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "success": {
                  "$ref": "#/components/examples/bulk_create_request"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/LineItem"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/bulk_create_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":[{\"type\":\"line_items\",\"attributes\":{\"data\":{\"c1\":\"Product One\",\"c2\":\"items\",\"c3\":14}}}]}' \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/1/worksheets/1/line_items/bulk\"\n"
          }
        ]
      }
    },
    "/events/{event_id}/worksheets/{worksheet_id}/line_items/{id}": {
      "get": {
        "tags": [
          "line_items"
        ],
        "description": "Retrieves the details of an existing line item. You need to supply the unique line item\nidentifier that was returned upon line item creation.\n",
        "operationId": "Get a Line Item",
        "summary": "Get a Line Item",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "description": "Event identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "worksheet_id",
            "in": "path",
            "description": "Worksheet identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique line item identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/LineItem"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/show_response-4"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/1/worksheets/1/line_items/1\"\n"
          }
        ]
      },
      "patch": {
        "tags": [
          "line_items"
        ],
        "description": "Updates the details of an existing line item. You need to supply the unique\nline item that was returned upon line item creation.\n\nPlease note, that request body must include the `id` attribute with the value of your\nline item unique identifier (the same one you passed in the URL).\n",
        "operationId": "Update a Line Item",
        "summary": "Update a Line Item",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "description": "Event identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "worksheet_id",
            "in": "path",
            "description": "Worksheet identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique line item identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/LineItemUpdate"
                  }
                }
              },
              "examples": {
                "success": {
                  "$ref": "#/components/examples/update_request-2"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/LineItem"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/update_response-2"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                },
                "examples": {
                  "invalid_type": {
                    "summary": "Missing or invalid 'type' specified, expected 'line_items'",
                    "description": "Returns error due to invalid `type` parameter.\n",
                    "value": {
                      "errors": [
                        {
                          "detail": "Missing or invalid 'type' specified, expected 'line_items'"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"line_items\",\"attributes\":{\"data\":{\"c1\":\"Product One\",\"c2\":\"items\",\"c3\": 14}}}}' \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/1/worksheets/1/line_items/2\"\n"
          }
        ]
      },
      "delete": {
        "tags": [
          "line_items"
        ],
        "description": "Deletes a line item. You need to supply the unique line item\nidentifier that was returned upon line item creation.\n",
        "operationId": "Delete a Line Item",
        "summary": "Delete a Line Item",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "description": "Event identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "worksheet_id",
            "in": "path",
            "description": "Worksheet identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique line item identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/1/worksheets/1/line_items/1\"\n"
          }
        ]
      }
    },
    "/events/{event_id}/relationships/supplier_companies": {
      "post": {
        "tags": [
          "event_supplier_companies"
        ],
        "description": "Add suppliers to an event. Only events of type `RFP` are supported.\n\nThe operation will be rolled back upon any failure, and invitations won't be sent.\n\nFor best performance, we recommend inviting 10 or less suppliers in a single request.\n",
        "operationId": "Add Suppliers",
        "summary": "Add Suppliers",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "description": "Event identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/SupplierCompanyBase"
                    }
                  }
                }
              },
              "examples": {
                "success": {
                  "$ref": "#/components/examples/create_request-3"
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":[{ \"type\": \"supplier_companies\", \"id\": \"5\" },{ \"type\": \"supplier_companies\", \"id\": \"11\" }]}' \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/1/relationships/supplier_companies\"\n"
          }
        ]
      },
      "delete": {
        "tags": [
          "event_supplier_companies"
        ],
        "description": "Remove suppliers from an event. Only events of type `RFP` are supported.\n\nThe operation will be rolled back upon any failure, and invitations won't be removed.\n\nFor best performance, we recommend removing 10 or less suppliers in a single request.\n",
        "operationId": "Remove Suppliers",
        "summary": "Remove Suppliers",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "description": "Event identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "$ref": "#/components/schemas/SupplierCompanyBase"
                  }
                }
              },
              "examples": {
                "success": {
                  "$ref": "#/components/examples/delete_request"
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     -d '{\"data\":[{ \"type\": \"supplier_companies\", \"id\": \"5\" },{ \"type\": \"supplier_companies\", \"id\": \"11\" }]}' \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/1/relationships/supplier_companies\"\n"
          }
        ]
      }
    },
    "/events/{event_external_id}/relationships/supplier_companies/external_id": {
      "post": {
        "tags": [
          "event_supplier_companies"
        ],
        "description": "Add suppliers to an event. Only events of type `RFP` are supported.\n\nYou must supply the unique event external identifier (the one you used when created the event).\n\nYou must supply the external identifiers of the supplier companies too.\n\nThe operation will be rolled back upon any failure, and invitations won't be sent.\n\nFor best performance, we recommend inviting 10 or less suppliers in a single request.\n",
        "operationId": "Add Suppliers using External IDs",
        "summary": "Add Suppliers using External IDs",
        "parameters": [
          {
            "name": "event_external_id",
            "in": "path",
            "description": "Event external identifier.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "EVENT1"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ExternalSupplierCompanyBase"
                    }
                  }
                }
              },
              "examples": {
                "success": {
                  "$ref": "#/components/examples/external_create_request"
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":[{ \"type\": \"supplier_companies\", \"id\": \"SUP5\" },{ \"type\": \"supplier_companies\", \"id\": \"SUP11\" }]}' \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/EVENT1/relationships/supplier_companies/external_id\"\n"
          }
        ]
      },
      "delete": {
        "tags": [
          "event_supplier_companies"
        ],
        "description": "Remove suppliers from an event. Only events of type `RFP` are supported.\n\nYou must supply the unique event external identifier (the one you used when created the event).\n\nYou must supply the external identifiers of the supplier companies too.\n\nThe operation will be rolled back upon any failure, and invitations won't be removed.\n\nFor best performance, we recommend removing 10 or less suppliers in a single request.\n",
        "operationId": "Remove Suppliers using External IDs",
        "summary": "Remove Suppliers using External IDs",
        "parameters": [
          {
            "name": "event_external_id",
            "in": "path",
            "description": "Event external identifier.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "EVENT1"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ExternalSupplierCompanyBase"
                    }
                  }
                }
              },
              "examples": {
                "success": {
                  "$ref": "#/components/examples/external_delete_request"
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     -d '{\"data\":[{ \"type\": \"supplier_companies\", \"id\": \"SUP5\" },{ \"type\": \"supplier_companies\", \"id\": \"SUP11\" }]}' \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/EVENT1/relationships/supplier_companies/external_id\"\n"
          }
        ]
      }
    },
    "/events/{event_id}/relationships/supplier_contacts": {
      "post": {
        "tags": [
          "event_supplier_contacts"
        ],
        "description": "Add suppliers to an event using supplier contacts. Only events of type `RFP` are supported.\n\nFor best performance, we recommend inviting 10 or less supplier contacts in a single request.\n",
        "operationId": "Add Suppliers using Contacts",
        "summary": "Add Suppliers using Contacts",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "description": "Event identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/SupplierContactBase"
                    }
                  }
                }
              },
              "examples": {
                "success": {
                  "$ref": "#/components/examples/create_request-4"
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":[{ \"type\": \"supplier_contacts\", \"id\": \"5\" },{ \"type\": \"supplier_contacts\", \"id\": \"11\" }]}' \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/1/relationships/supplier_contacts\"\n"
          }
        ]
      },
      "delete": {
        "tags": [
          "event_supplier_contacts"
        ],
        "description": "Remove suppliers from an event using supplier contacts. Only events of type `RFP` are supported.\n\nFor best performance, we recommend removing 10 or less supplier contacts in a single request.\n",
        "operationId": "Remove Suppliers using Contacts",
        "summary": "Remove Suppliers using Contacts",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "description": "Event identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/SupplierContactBase"
                    }
                  }
                }
              },
              "examples": {
                "success": {
                  "$ref": "#/components/examples/delete_request-2"
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     -d '{\"data\":[{ \"type\": \"supplier_contacts\", \"id\": \"5\" },{ \"type\": \"supplier_contacts\", \"id\": \"11\" }]}' \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/1/relationships/supplier_contacts\"\n"
          }
        ]
      }
    },
    "/events/{event_external_id}/relationships/supplier_contacts/external_id": {
      "post": {
        "tags": [
          "event_supplier_contacts"
        ],
        "description": "Add suppliers to an event using supplier contacts. Only events of type `RFP` are supported.\n\nYou must supply the unique event external identifier (the one you used when created the event).\n\nYou must supply the external identifiers of the supplier contacts too.\n\nThe operation will be rolled back upon any failure, and invitations won't be sent.\n\nFor best performance, we recommend inviting 10 or less supplier contacts in a single request.\n",
        "operationId": "Add Suppliers using Contacts External IDs",
        "summary": "Add Suppliers using Contacts External IDs",
        "parameters": [
          {
            "name": "event_external_id",
            "in": "path",
            "description": "Event external identifier.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "EVENT1"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ExternalSupplierContactBase"
                    }
                  }
                }
              },
              "examples": {
                "success": {
                  "$ref": "#/components/examples/external_create_request-2"
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":[{ \"type\": \"supplier_contacts\", \"id\": \"SUP5\" },{ \"type\": \"supplier_contacts\", \"id\": \"SUP11\" }]}' \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/EVENT1/relationships/supplier_contacts/external_id\"\n"
          }
        ]
      },
      "delete": {
        "tags": [
          "event_supplier_contacts"
        ],
        "description": "Remove suppliers from an event using supplier contacts. Only events of type `RFP` are supported.\n\nYou must supply the unique event external identifier (the one you used when created the event).\n\nYou must supply the external identifiers of the supplier contacts too.\n\nThe operation will be rolled back upon any failure, and invitations won't be removed.\n\nFor best performance, we recommend removing 10 or less supplier contacts in a single request.\n",
        "operationId": "Remove Suppliers using Contacts External IDs",
        "summary": "Remove Suppliers using Contacts External IDs",
        "parameters": [
          {
            "name": "event_external_id",
            "in": "path",
            "description": "Event external identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ExternalSupplierContactBase"
                    }
                  }
                }
              },
              "examples": {
                "success": {
                  "$ref": "#/components/examples/external_delete_request-2"
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     -d '{\"data\":[{ \"type\": \"supplier_contacts\", \"id\": \"5\" },{ \"type\": \"supplier_contacts\", \"id\": \"11\" }]}' \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/1/relationships/supplier_contacts/external_id\"\n"
          }
        ]
      }
    },
    "/events/{event_id}/bids": {
      "get": {
        "tags": [
          "bids"
        ],
        "description": "Returns a list of all bids.\nOnly bids for events of type `RFP` are returned.\n",
        "operationId": "List Bids",
        "summary": "List Bids",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "description": "Event identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter bids by multiple criteria. Only one filter per attribute is supported.\nFor best performance, we recommend 5 or less filters.\n",
            "schema": {
              "$ref": "#/components/schemas/BidInputFilter"
            }
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/BidRelatedResources"
            },
            "description": "Use the `include` parameter to request related resources along with the primary resource.\n"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Customize pagination results with `size`.\n",
            "schema": {
              "$ref": "#/components/schemas/PageInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/BidModel"
                          }
                        },
                        "included": {
                          "$ref": "#/components/schemas/BidIncludedResources"
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                },
                "examples": {
                  "simple_request": {
                    "summary": "Simple request",
                    "$ref": "#/components/examples/index_response-5"
                  },
                  "compound_request": {
                    "summary": "Compound request",
                    "$ref": "#/components/examples/index_compound_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/1/bids\"\n"
          }
        ]
      }
    },
    "/bids/{id}": {
      "get": {
        "tags": [
          "bids"
        ],
        "description": "Retrieves the details of an existing bid. You need to supply the unique bid\nidentifier that was returned upon bid creation.\n",
        "operationId": "Get a Bid",
        "summary": "Get a Bid",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique Bid identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/BidRelatedResources"
            },
            "description": "Use the `include` parameter to request related resources along with the primary resource.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BidModel"
                    },
                    "included": {
                      "$ref": "#/components/schemas/BidIncludedResources"
                    }
                  }
                },
                "examples": {
                  "simple_request": {
                    "summary": "Simple Request",
                    "$ref": "#/components/examples/show_response-5"
                  },
                  "compound_request": {
                    "summary": "Compound request",
                    "$ref": "#/components/examples/show_compound_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/events/v1/bids/1\"\n"
          }
        ]
      }
    },
    "/bids/describe": {
      "get": {
        "tags": [
          "bids"
        ],
        "description": "Returns a list of fields for the bid object.",
        "operationId": "Describe Bid object",
        "summary": "Describe Bid object",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/BidFieldModel"
                          }
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/describe_response-3"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/events/v1/bids/describe\"\n"
          }
        ]
      }
    },
    "/bids/{bid_id}/bid_line_items": {
      "get": {
        "tags": [
          "bid_line_items"
        ],
        "description": "Returns a list of line items for a specific bid.",
        "operationId": "List Bid Line Items",
        "summary": "List Bid Line Items",
        "parameters": [
          {
            "name": "bid_id",
            "in": "path",
            "description": "Bid identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/BidLineItem"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/index_response-6"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/events/v1/bids/1/bid_line_items\"\n"
          }
        ]
      }
    },
    "/bid_line_items/{id}": {
      "get": {
        "tags": [
          "bid_line_items"
        ],
        "description": "Retrieves the details of an existing bid line item.\n",
        "operationId": "Get a Bid Line Item",
        "summary": "Get a Bid Line Item",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique bid line item identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BidLineItem"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/show_response-6"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/events/v1/bid_line_items/1\"\n"
          }
        ]
      }
    },
    "/bid_line_items": {
      "get": {
        "tags": [
          "bid_line_items"
        ],
        "description": "Returns a list of all bid line items.",
        "operationId": "List All Bid Line Items",
        "summary": "List All Bid Line Items",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter bid line items by multiple criteria. Only one filter per attribute is supported.\nFor best performance, we recommend 5 or less filters.\n",
            "schema": {
              "$ref": "#/components/schemas/BidLineItemInputFilter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/BidLineItem"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/index_all_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/events/v1/bid_line_items\"\n"
          }
        ]
      }
    },
    "/bid_line_items/describe": {
      "get": {
        "tags": [
          "bid_line_items"
        ],
        "description": "Returns a list of fields for bid line item object.",
        "operationId": "Describe Bid Line Item Object",
        "summary": "Describe Bid Line Item Object",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/BidLineItemFieldModel"
                          }
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/describe_response-4"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/events/v1/bid_line_items/describe\"\n"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "EventTemplateType": {
        "type": "string",
        "description": "Object type, should always be `event_templates`.",
        "example": "event_templates"
      },
      "EventTemplateId": {
        "type": "integer",
        "description": "Event template identifier string.",
        "example": 1
      },
      "EventTemplateBase": {
        "title": "EventTemplate",
        "type": "object",
        "required": [
          "type",
          "id"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/EventTemplateType"
          },
          "id": {
            "$ref": "#/components/schemas/EventTemplateId"
          }
        }
      },
      "EventTypeEnum": {
        "type": "string",
        "enum": [
          "RFP",
          "AUCTION",
          "AUCTION_WITH_LOTS",
          "AUCTION_LOT",
          "PERFORMANCE_REVIEW_EVENT",
          "PERFORMANCE_REVIEW_SCORE_CARD_ONLY_EVENT",
          "SUPPLIER_REVIEW_EVENT",
          "SUPPLIER_REVIEW_MASTER_EVENT"
        ],
        "description": "Event type.",
        "example": "RFP"
      },
      "EventTemplateAttributes": {
        "type": "object",
        "description": "Event template attributes.",
        "required": [
          "name",
          "shortcode"
        ],
        "properties": {
          "title": {
            "type": "string",
            "maxLength": 255,
            "description": "Event template title.",
            "example": "My Event Template"
          },
          "event_type": {
            "$ref": "#/components/schemas/EventTypeEnum"
          }
        }
      },
      "SelfLink": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "url",
            "description": "Normalized link to the resource."
          }
        }
      },
      "ResourceLinks": {
        "type": "object",
        "description": "List of related links.",
        "allOf": [
          {
            "$ref": "#/components/schemas/SelfLink"
          }
        ]
      },
      "EventTemplateModel": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EventTemplateBase"
          },
          {
            "type": "object",
            "properties": {
              "attributes": {
                "$ref": "#/components/schemas/EventTemplateAttributes"
              },
              "links": {
                "$ref": "#/components/schemas/ResourceLinks"
              }
            }
          }
        ]
      },
      "EventStateEnum": {
        "type": "string",
        "readOnly": true,
        "enum": [
          "draft",
          "scheduled",
          "published",
          "live_editing",
          "closed",
          "canceled"
        ],
        "description": "Current event state.",
        "example": "draft"
      },
      "EventInputFilter": {
        "type": "object",
        "properties": {
          "updated_at_from": {
            "type": "string",
            "format": "date-time",
            "description": "Return events updated on or after the specified timestamp.",
            "example": "2019-10-29T21:28:46.790Z"
          },
          "updated_at_to": {
            "type": "string",
            "format": "date-time",
            "description": "Return events updated on or before the specified timestamp.",
            "example": "2019-10-29T21:28:46.790Z"
          },
          "title_contains": {
            "type": "string",
            "description": "Return events with title containing the specified string."
          },
          "title_not_contains": {
            "type": "string",
            "description": "Return events with title not containing the specified string."
          },
          "spend_category_id_equals": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Find events using the specified Spend Category IDs",
            "example": [
              1,
              2
            ]
          },
          "state_equals": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventStateEnum"
            },
            "description": "Find events with specified states.",
            "example": [
              "draft",
              "scheduled"
            ]
          },
          "event_type_equals": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventTypeEnum"
            },
            "description": "Find events with specified types.",
            "example": [
              "RFP",
              "AUCTION"
            ]
          },
          "request_type_equals": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Event request type.",
              "example": "RFQ"
            },
            "description": "Find events with specified request types.",
            "example": [
              "Rfp",
              "RFQ"
            ]
          },
          "supplier_rsvp_deadline_from": {
            "type": "string",
            "format": "date",
            "description": "Return events with supplier RSVP deadline on or after the specified date."
          },
          "supplier_rsvp_deadline_to": {
            "type": "string",
            "format": "date",
            "description": "Return events with supplier RSVP deadline on or before the specified date."
          },
          "supplier_rsvp_deadline_empty": {
            "type": "boolean",
            "description": "Return events with supplier RSVP deadline not set.",
            "example": true
          },
          "supplier_rsvp_deadline_not_empty": {
            "type": "boolean",
            "description": "Return events with supplier RSVP deadline set to a non-empty value.",
            "example": false
          },
          "supplier_question_deadline_from": {
            "type": "string",
            "format": "date",
            "description": "Return events with supplier questions deadline on or after the specified date."
          },
          "supplier_question_deadline_to": {
            "type": "string",
            "format": "date",
            "description": "Return events with supplier questions deadline on or before the specified date."
          },
          "supplier_question_deadline_empty": {
            "type": "boolean",
            "description": "Return events with supplier questions deadline not set.",
            "example": true
          },
          "supplier_question_deadline_not_empty": {
            "type": "boolean",
            "description": "Return events with supplier questions deadline set to a non-empty value.",
            "example": false
          },
          "bid_submission_deadline_from": {
            "type": "string",
            "format": "date",
            "description": "Return events with bid submission deadline on or after the specified date."
          },
          "bid_submission_deadline_to": {
            "type": "string",
            "format": "date",
            "description": "Return events with bid submission deadline on or before the specified date."
          },
          "bid_submission_deadline_empty": {
            "type": "boolean",
            "description": "Return events with bid submission deadline not set.",
            "example": true
          },
          "bid_submission_deadline_not_empty": {
            "type": "boolean",
            "description": "Return events with bid submission deadline set to a non-empty value.",
            "example": false
          },
          "created_at_from": {
            "type": "string",
            "format": "date",
            "description": "Return events created on or after the specified timestamp.",
            "example": "2019-10-29T21:28:46.790Z"
          },
          "created_at_to": {
            "type": "string",
            "format": "date",
            "description": "Return events created on or before the specified timestamp.",
            "example": "2019-10-29T21:28:46.790Z"
          },
          "published_at_from": {
            "type": "string",
            "format": "date",
            "description": "Return events published on or after the specified timestamp.",
            "example": "2019-10-29T21:28:46.790Z"
          },
          "published_at_to": {
            "type": "string",
            "format": "date",
            "description": "Return events published on or before the specified timestamp.",
            "example": "2019-10-29T21:28:46.790Z"
          },
          "published_at_empty": {
            "type": "boolean",
            "description": "Return events without published timestamp.",
            "example": true
          },
          "published_at_not_empty": {
            "type": "boolean",
            "description": "Return events with published timestamp.",
            "example": false
          },
          "closed_at_from": {
            "type": "string",
            "format": "date",
            "description": "Return events closed on or after the specified timestamp.",
            "example": "2019-10-29T21:28:46.790Z"
          },
          "closed_at_to": {
            "type": "string",
            "format": "date",
            "description": "Return events closed on or before the specified timestamp.",
            "example": "2019-10-29T21:28:46.790Z"
          },
          "closed_at_empty": {
            "type": "boolean",
            "description": "Return events without closed timestamp.",
            "example": true
          },
          "closed_at_not_empty": {
            "type": "boolean",
            "description": "Return events with closed timestamp.",
            "example": false
          },
          "spend_amount_from": {
            "type": "number",
            "format": "double",
            "description": "Return events with spend amount equal or greater than the specified amount."
          },
          "spend_amount_to": {
            "type": "number",
            "format": "double",
            "description": "Return events with spend amount equal or less than the specified amount."
          },
          "spend_amount_empty": {
            "type": "boolean",
            "description": "Return events with spend amount not set.",
            "example": true
          },
          "spend_amount_not_empty": {
            "type": "boolean",
            "description": "Return events with spend amount set to a non-empty value.",
            "example": false
          },
          "external_id_empty": {
            "type": "boolean",
            "description": "Return contracts with `external_id` blank.",
            "example": true
          },
          "external_id_not_empty": {
            "type": "boolean",
            "description": "Return contracts with non-blank `external_id`.",
            "example": false
          },
          "external_id_equals": {
            "type": "string",
            "description": "Find contracts by a specific external ID.",
            "example": "SUP-123"
          },
          "external_id_not_equals": {
            "type": "string",
            "description": "Find contracts excluding the one with the specified external ID.",
            "example": "SUP-123"
          }
        }
      },
      "PageInput": {
        "type": "object",
        "properties": {
          "size": {
            "type": "number",
            "format": "integer",
            "description": "The number of results returned per page. Default is `10` and max is `100`.",
            "example": "25"
          }
        }
      },
      "EventType": {
        "type": "string",
        "description": "Object type, should always be `events`.",
        "example": "events"
      },
      "EventId": {
        "type": "integer",
        "description": "Event identifier string.",
        "example": 1
      },
      "EventBase": {
        "title": "Event",
        "type": "object",
        "required": [
          "type",
          "id"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/EventType"
          },
          "id": {
            "$ref": "#/components/schemas/EventId"
          }
        }
      },
      "EventDuplicationStateEnum": {
        "type": "string",
        "enum": [
          "scheduled",
          "started",
          "finished",
          "failed"
        ],
        "description": "Event duplication state:\n  * `scheduled` - duplication is scheduled, but not yet started;\n  * `started` - duplication started, but not yet finished;\n  * `finished` - duplication completed;\n  * `failed` - there was an error duplicating relationships.\n",
        "example": "finished",
        "readOnly": true
      },
      "CustomFieldBase": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Custom field name.",
            "example": "My Custom Field"
          }
        }
      },
      "CustomFieldCheckbox": {
        "title": "Checkbox",
        "allOf": [
          {
            "$ref": "#/components/schemas/CustomFieldBase"
          },
          {
            "type": "object",
            "properties": {
              "value": {
                "type": "boolean",
                "example": true
              }
            }
          }
        ]
      },
      "CustomFieldShortText": {
        "title": "Short Text",
        "allOf": [
          {
            "$ref": "#/components/schemas/CustomFieldBase"
          },
          {
            "type": "object",
            "properties": {
              "value": {
                "type": "string",
                "description": "A short text (usually under 255 characters)."
              }
            }
          }
        ]
      },
      "CustomFieldParagraph": {
        "title": "Paragraph",
        "allOf": [
          {
            "$ref": "#/components/schemas/CustomFieldBase"
          },
          {
            "type": "object",
            "properties": {
              "value": {
                "type": "string",
                "description": "A longer text paragraph."
              }
            }
          }
        ]
      },
      "CustomFieldDate": {
        "title": "Date",
        "allOf": [
          {
            "$ref": "#/components/schemas/CustomFieldBase"
          },
          {
            "type": "object",
            "properties": {
              "value": {
                "type": "string",
                "format": "date",
                "description": "A date value."
              }
            }
          }
        ]
      },
      "CustomFieldInteger": {
        "title": "Integer",
        "allOf": [
          {
            "$ref": "#/components/schemas/CustomFieldBase"
          },
          {
            "type": "object",
            "properties": {
              "value": {
                "type": "integer",
                "description": "An integer value. The maximum value is 9,007,199,254,740,991."
              }
            }
          }
        ]
      },
      "CustomFieldCurrency": {
        "title": "Currency",
        "allOf": [
          {
            "$ref": "#/components/schemas/CustomFieldBase"
          },
          {
            "type": "object",
            "properties": {
              "value": {
                "format": "integer",
                "description": "A currency value represented as an integer. The maximum value is 9,007,199,254,740,991."
              }
            }
          }
        ]
      },
      "CustomFieldDecimal": {
        "title": "Decimal",
        "allOf": [
          {
            "$ref": "#/components/schemas/CustomFieldBase"
          },
          {
            "type": "object",
            "properties": {
              "value": {
                "type": "string",
                "format": "decimal",
                "description": "A decimal value represented as a number with floating point."
              }
            }
[...]
