{
  "openapi": "3.0.2",
  "info": {
    "title": "Workday Strategic Sourcing Spend Categories API",
    "version": "1.0",
    "description": "<span id=\"section/Authentication/api_key\" data-section-id=\"section/Authentication/api_key\"></span>\n<span id=\"section/Authentication/user_token\" data-section-id=\"section/Authentication/user_token\"></span>\n<span id=\"section/Authentication/user_email\" data-section-id=\"section/Authentication/user_email\"></span>\n"
  },
  "servers": [
    {
      "url": "https://api.us.workdayspend.com/services/spend_categories/v1",
      "description": "Production Server"
    },
    {
      "url": "https://api.sandbox.us.workdayspend.com/services/spend_categories/v1",
      "description": "Sandbox Server"
    }
  ],
  "security": [
    {
      "api_key": [],
      "user_token": [],
      "user_email": []
    }
  ],
  "tags": [
    {
      "name": "support",
      "x-displayName": "Customer Support",
      "description": "We've provided detailed documentation below to guide you. However, if you need additional assistance, here's how you can get the support you need:\n\n* __Community Discussions:__ Join the conversation on our Workday Community Discussion Boards (found under the \"Collaborate\" section in community). Connect with other users, share best practices, and get answers to your configuration questions.\n* __Expert Configuration Assistance (Professional Services):__ For tailored, hands-on support with your specific project, our Professional Services team is available.\n  * Looking for personalized guidance? Workday Success Plan customers can submit an \"Ask\" for expert insights on configuration and best practices.\n  * Need custom solutions? Consider Expert Assist, our consulting service for detailed changes and project support.\n* __Reporting System Issues:__ If you suspect a problem with the Workday system itself, please connect with our dedicated support team. Your company's Named Support Contact (NSC) can log a Product Support Defect case. We'll review the issue based on its impact and Workday's service level agreement (SLA).\n"
    },
    {
      "name": "servers",
      "x-displayName": "Servers",
      "description": "### US Region\n| Environment       | US region Base URI                                                   |\n|-------------------|----------------------------------------------------------------------|\n| **Production**    | https://api.us.workdayspend.com/services/spend_categories/v1         |\n| **Sandbox**       | https://api.sandbox.us.workdayspend.com/services/spend_categories/v1 |\n\n### EU Region\n| Environment       | EU region Base URI                                                |\n|-------------------|-------------------------------------------------------------------|\n| **Production**    | https://api.eu.workdayspend.com/services/spend_categories/v1          |\n| **Sandbox**       | https://api.sandbox.eu.workdayspend.com/services/spend_categories/v1  |\n\n### CA Region\n| Environment       | CA region Base URI                                                |\n|-------------------|-------------------------------------------------------------------|\n| **Production**    | https://api.ca.workdayspend.com/services/spend_categories/v1          |\n| **Sandbox**       | https://api.sandbox.ca.workdayspend.com/services/spend_categories/v1  |\n"
    },
    {
      "name": "api_specification",
      "x-displayName": "API Specification",
      "description": "The API conforms to the [JSON API Specification](https://jsonapi.org).\n\nThe current version of this service is indicated by the `X-Api-Version` header.\n\nSample version header: `X-Api-Version: 1.0`.\n"
    },
    {
      "name": "date_and_time_fields",
      "x-displayName": "Date and Time Fields",
      "description": "Our API adheres to the ISO 8601 standard when accepting and formatting Date and Time fields. All Date and Time fields returned by this API will be in the **UTC** timezone.\n\nDate and Time fields sent to this API can be in any timezone, provided they adhere to the ISO 8601 standard.\n"
    },
    {
      "name": "authentication",
      "x-displayName": "Authentication",
      "description": "The Workday Strategic Sourcing API uses API keys to authenticate requests. Every request\nwill require all 3 HTTP headers:\n\n| HTTP Header       | Description               |\n|-------------------|---------------------------|\n| **X-Api-Key**     | a company-wide API key    |\n| **X-User-Token**  | a user-specific API token |\n| **X-User-Email**  | user email                |\n\nYou can generate all of those from the _API tokens_ section of your _Profile_ page.\n\nYour API keys carry many privileges, so be sure to keep them secure! Do not share your secret API\nkeys in publicly accessible areas such as GitHub, client-side code, and so forth.\n\nAll API requests must be made over [HTTPS](http://en.wikipedia.org/wiki/HTTP_Secure). Calls made\nover plain HTTP will fail. API requests without authentication will also fail.\n"
    },
    {
      "name": "rate_limiting",
      "x-displayName": "Rate Limiting",
      "description": "Rate limit windows are per second and are shared by all API Keys for a company.\n\nThe rate limit is 5 requests per second.\n\nWhen request submissions exceed the limits, the limit-exceeding requests return `429 Too Many Requests` error responses to the client.\n\nUpon receiving a `429` response, it is recommended to retry the request in compliance with the rate limit. One example would be to add a sleep function for 1 second and retry.\n"
    },
    {
      "name": "filters",
      "x-displayName": "Filters",
      "description": "The results can be filtered to a subset of the total set of results using `filter` query parameters.\n\nEndpoints that support filtering will include usage details in the Query Parameters section for the resource.\n\nMost filters that end in `equals` support a Query Parameter array format to filter by multiple values.\n\nExample:\n```\n?filter[status_equals][]=submitted&filter[status_equals][]=resubmitted\n```\n"
    },
    {
      "name": "pagination",
      "x-displayName": "Pagination",
      "description": "Paginated endpoints may return a subset of the total results for a `GET` request that returns multiple resources. Endpoints that support pagination will include usage details in the Query Parameters section for the resource.\n\nThe paginated results can be configured using the `page` query parameter to configure the number of returned results. The default pagination size is 10 results and the maximum pagination size is 100 results per request.\n\nEndpoints that support pagination may return \"self\" and \"next\" sections within the \"links\" section that navigate to the current and next pages respectively.\n\n\n### Example Paginated Request\n\n#### Request Query Parameter Format\n```\n/projects?page[size]=25\n```\n\n#### Response Schema\nThe paginated response will also include the following schema\n\n<SchemaDefinition schemaRef=\"#/components/schemas/Pagination\" exampleRef=\"#/components/examples/Pagination\" />\n"
    },
    {
      "name": "external_ids",
      "x-displayName": "External Identifiers (IDs)",
      "description": "The `external_id` field exists on many of the Workday Strategic Sourcing resources. This optional and mutable extension is intended to store foreign keys of the corresponding resource from a third party system. **These IDs are not considered Sourcing Data and may be logged in external systems. Do not include any sensitive or personal data in IDs.**\n\nThe purpose of external IDs is to:\n\n* Prevent duplicate record creation\n* Allow resources in Workday Strategic Sourcing and a third party system to share the same identifier\n* Allow for records to be queried or updated without requiring knowledge of the Workday Strategic Sourcing generated IDs\n"
    },
    {
      "name": "spend_categories",
      "x-displayName": "Spend Categories",
      "description": "Use the Spend Categories API to create, update, and query the Spend Categories in Workday Strategic Sourcing.\n\nSpend Categories are used in both the project and contract resources. On POST and PATCH related endpoints for those resources a spend_category_id can be added to attach a spend category. The spend_category_id is a foreign key for the spend_categories resource's id.\n\n## Spend Category Object\n\n<SchemaDefinition schemaRef=\"#/components/schemas/SpendCategory\" showReadOnly={true} showWriteOnly={true} />\n"
    }
  ],
  "paths": {
    "/spend_categories": {
      "get": {
        "tags": [
          "spend_categories"
        ],
        "description": "Returns a list of spend categories.",
        "operationId": "List Spend Categories",
        "summary": "List Spend Categories",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SpendCategory"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/index_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/spend_categories/v1/spend_categories\"\n"
          }
        ]
      },
      "post": {
        "tags": [
          "spend_categories"
        ],
        "description": "Create a Spend Category with given parameters.\n",
        "operationId": "Create a Spend Category",
        "summary": "Create a Spend Category",
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/SpendCategoryCreate"
                  }
                }
              },
              "examples": {
                "success": {
                  "$ref": "#/components/examples/create_request"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SpendCategory"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/create_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":{\"type\":\"spend_categories\",\"attributes\":{\"name\":\"Spend Category\", \"external_id\": \"SP-1\"}}' \\\n     \"https://api.us.workdayspend.com/services/spend_categories/v1/spend_categories\"\n"
          }
        ]
      }
    },
    "/spend_categories/{id}": {
      "get": {
        "tags": [
          "spend_categories"
        ],
        "description": "Retrieves the details of an existing Spend Category.\n",
        "operationId": "Get a Spend Category",
        "summary": "Get a Spend Category",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique Spend Category identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SpendCategory"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/show_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/spend_categories/v1/spend_categories/1\"\n"
          }
        ]
      },
      "patch": {
        "tags": [
          "spend_categories"
        ],
        "description": "Updates the details of an existing Spend Category. You need to supply the unique\nidentifier that was returned upon Spend Category creation.\n\nPlease note, that request body must include an `id` attribute with the value of your Spend Category\nunique identifier (the same one you passed in the URL).\n",
        "operationId": "Update a Spend Category",
        "summary": "Update a Spend Category",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique Spend Category identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/SpendCategoryUpdate"
                  }
                }
              },
              "examples": {
                "success": {
                  "$ref": "#/components/examples/update_request"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SpendCategory"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/update_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                },
                "examples": {
                  "invalid_type": {
                    "summary": "Missing or invalid 'type' specified, expected 'spend_categories'",
                    "description": "Returns error due to invalid `type` parameter.\n",
                    "value": {
                      "errors": [
                        {
                          "detail": "Missing or invalid 'type' specified, expected 'spend_categories'"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"spend_categories\",\"id\":\"2\",\"attributes\":{\"name\":\"Updated Spend Category\"}}}' \\\n     \"https://api.us.workdayspend.com/services/spend_categories/v1/spend_categories/2\"\n"
          }
        ]
      },
      "delete": {
        "tags": [
          "spend_categories"
        ],
        "description": "Deletes a Spend Category. You need to supply the unique Spend Category\nidentifier that was returned upon Spend Category creation.\n",
        "operationId": "Delete a Spend Category",
        "summary": "Delete a Spend Category",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique Spend Category identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/spend_categories/v1/spend_categories/1\"\n"
          }
        ]
      }
    },
    "/spend_categories/{external_id}/external_id": {
      "get": {
        "tags": [
          "spend_categories"
        ],
        "description": "Retrieves the details of an existing Spend Category.\n",
        "operationId": "Get a Spend Category by External ID",
        "summary": "Get a Spend Category by External ID",
        "parameters": [
          {
            "name": "external_id",
            "in": "path",
            "description": "Unique Spend Category external identifier.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "SP"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SpendCategory"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/external_show_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/spend_categories/v1/spend_categories/SP/external_id\"\n"
          }
        ]
      },
      "patch": {
        "tags": [
          "spend_categories"
        ],
        "description": "Updates the details of an existing Spend Category. You need to supply the unique\nexternal identifier assigned to the Spend Category on creation.\n\nPlease note, that request body must include an `id` attribute with the value of your Spend Category\nunique identifier (the same one you passed in the URL).\n",
        "operationId": "Update a Spend Category by External ID",
        "summary": "Update a Spend Category by External ID",
        "parameters": [
          {
            "name": "external_id",
            "in": "path",
            "description": "Unique Spend Category external identifier.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "SP"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/SpendCategoryUpdate"
                  }
                }
              },
              "examples": {
                "success": {
                  "$ref": "#/components/examples/external_update_request"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SpendCategory"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/external_update_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"spend_categories\",\"id\":\"SP\",\"attributes\":{\"name\":\"Updated Spend Category\"}}}' \\\n     \"https://api.us.workdayspend.com/services/spend_categories/v1/spend_categories/SP/external_id\"\n"
          }
        ]
      },
      "delete": {
        "tags": [
          "spend_categories"
        ],
        "description": "Deletes a Spend Category. You need to supply the unique Spend Category\nexternal identifier assigned to the Spend Category on creation.\n",
        "operationId": "Delete a Spend Category by External ID",
        "summary": "Delete a Spend Category by External ID",
        "parameters": [
          {
            "name": "external_id",
            "in": "path",
            "description": "Unique Spend Category external identifier.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "SP"
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/spend_categories/v1/spend_categories/SP/external_id\"\n"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "SpendCategoryType": {
        "type": "string",
        "description": "Object type, should always be `spend_categories`.",
        "example": "spend_categories"
      },
      "SpendCategoryId": {
        "type": "integer",
        "description": "Spend category identifier string.",
        "example": 1
      },
      "SpendCategoryBase": {
        "title": "SpendCategory",
        "type": "object",
        "required": [
          "name",
          "id"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/SpendCategoryType"
          },
          "id": {
            "$ref": "#/components/schemas/SpendCategoryId"
          }
        }
      },
      "SpendCategoryName": {
        "type": "string",
        "maxLength": 255,
        "description": "Spend category name."
      },
      "SpendCategoryExternalId": {
        "type": "string",
        "maxLength": 255,
        "description": "Spend category external identifier string."
      },
      "SpendCategoryUsages": {
        "type": "array",
        "description": "Spend category usages. Only spend categories with `procurement` usage can be used for requisitions.",
        "items": {
          "type": "string",
          "enum": [
            "procurement",
            "expense",
            "ad_hoc_payment",
            "supplier_invoice"
          ]
        }
      },
      "SpendCategoryAttributes": {
        "type": "object",
        "description": "Spend category attributes.",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "$ref": "#/components/schemas/SpendCategoryName"
          },
          "external_id": {
            "$ref": "#/components/schemas/SpendCategoryExternalId"
          },
          "usages": {
            "$ref": "#/components/schemas/SpendCategoryUsages"
          }
        }
      },
      "SpendCategory": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SpendCategoryBase"
          },
          {
            "type": "object",
            "properties": {
              "attributes": {
                "$ref": "#/components/schemas/SpendCategoryAttributes"
              }
            }
          }
        ]
      },
      "SelfLink": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "url",
            "description": "Normalized link to the resource."
          }
        }
      },
      "NextPageLink": {
        "type": "object",
        "properties": {
          "next": {
            "type": "string",
            "format": "url",
            "description": "Link to the next results page.",
            "nullable": true
          }
        }
      },
      "PrevPageLink": {
        "type": "object",
        "properties": {
          "prev": {
            "type": "string",
            "format": "url",
            "description": "Link to the previous results page.",
            "nullable": true,
            "deprecated": true
          }
        }
      },
      "PaginationLinks": {
        "type": "object",
        "description": "List of related links.",
        "allOf": [
          {
            "$ref": "#/components/schemas/SelfLink"
          },
          {
            "$ref": "#/components/schemas/NextPageLink"
          },
          {
            "$ref": "#/components/schemas/PrevPageLink"
          }
        ]
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "description": "Result set metadata.",
            "properties": {
              "count": {
                "type": "integer",
                "description": "Number of pages in the result set."
              }
            }
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          }
        }
      },
      "SpendCategoryCreate": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/SpendCategoryType"
          },
          "attributes": {
            "$ref": "#/components/schemas/SpendCategoryAttributes"
          }
        }
      },
      "SpendCategoryUpdateAttributes": {
        "type": "object",
        "description": "Spend category update attributes.",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/SpendCategoryName"
          },
          "external_id": {
            "$ref": "#/components/schemas/SpendCategoryExternalId"
          },
          "usages": {
            "$ref": "#/components/schemas/SpendCategoryUsages"
          }
        }
      },
      "SpendCategoryUpdate": {
        "type": "object",
        "required": [
          "type",
          "id"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/SpendCategoryType"
          },
          "id": {
            "$ref": "#/components/schemas/SpendCategoryId"
          },
          "attributes": {
            "$ref": "#/components/schemas/SpendCategoryUpdateAttributes"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "description": "A human-readable explanation specific to this occurrence of the problem."
          }
        }
      },
      "Errors": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PageInput": {
        "type": "object",
        "properties": {
          "size": {
            "type": "number",
            "format": "integer",
            "description": "The number of results returned per page. Default is `10` and max is `100`.",
            "example": "25"
          }
        }
      }
    },
    "examples": {
      "index_response": {
        "value": {
          "meta": {
            "count": 2
          },
          "data": [
            {
              "type": "spend_categories",
              "id": "1",
              "attributes": {
                "name": "Spend Category #1",
                "external_id": "SP-1",
                "usages": [
                  "procurement"
                ]
              },
              "links": {
                "self": "https://api.us.workdayspend.com/services/spend_categories/v1/spend_categories/1"
              }
            },
            {
              "type": "spend_categories",
              "id": "2",
              "attributes": {
                "name": "Spend Category #2",
                "external_id": "SP-2",
                "usages": [
                  "procurement"
                ]
              },
              "links": {
                "self": "https://api.us.workdayspend.com/services/spend_categories/v1/spend_categories/2"
              }
            }
          ],
          "links": {
            "self": "https://api.us.workdayspend.com/services/spend_categories/v1/spend_categories?page%5Bsize%5D=10",
            "next": "https://api.us.workdayspend.com/services/spend_categories/v1/spend_categories?page%5Bcursor%5D=WzJd&page%5Bdirection%5D=next&page%5Bsize%5D=10",
            "prev": "https://api.us.workdayspend.com/services/spend_categories/v1/spend_categories?page%5Bcursor%5D=WzFd&page%5Bdirection%5D=prev&page%5Bsize%5D=10"
          }
        }
      },
      "create_request": {
        "value": {
          "data": {
            "type": "spend_categories",
            "attributes": {
              "name": "Spend Category #1",
              "external_id": "SP-1",
              "usages": [
                "procurement"
              ]
            }
          }
        }
      },
      "create_response": {
        "value": {
          "data": {
            "id": "1",
            "type": "spend_categories",
            "attributes": {
              "name": "Spend Category #1",
              "external_id": "SP-1",
              "usages": [
                "procurement"
              ]
            },
            "links": {
              "self": "https://api.us.workdayspend.com/services/spend_categories/v1/spend_categories/1"
            }
          }
        }
      },
      "show_response": {
        "value": {
          "data": {
            "id": "1",
            "type": "spend_categories",
            "attributes": {
              "name": "Spend Category",
              "external_id": "SP",
              "usages": [
                "procurement"
              ]
            },
            "links": {
              "self": "https://api.us.workdayspend.com/services/spend_categories/v1/spend_categories/1"
            }
          }
        }
      },
      "update_request": {
        "value": {
          "data": {
            "type": "spend_categories",
            "id": "1",
            "attributes": {
              "name": "Spend Category Updated",
              "external_id": "SP-UPD",
              "usages": [
                "procurement"
              ]
            }
          }
        }
      },
      "update_response": {
        "value": {
          "data": {
            "id": "1",
            "type": "spend_categories",
            "attributes": {
              "name": "Spend Category Updated",
              "external_id": "SP-UPD",
              "usages": [
                "procurement"
              ]
            },
            "links": {
              "self": "https://api.us.workdayspend.com/services/spend_categories/v1/spend_categories/1"
            }
          }
        }
      },
      "external_show_response": {
        "value": {
          "data": {
            "id": "1",
            "type": "spend_categories",
            "attributes": {
              "name": "Spend Category",
              "external_id": "SP",
              "usages": [
                "procurement"
              ]
            },
            "links": {
              "self": "https://api.us.workdayspend.com/services/spend_categories/v1/spend_categories/1"
            }
          }
        }
      },
      "external_update_request": {
        "value": {
          "data": {
            "type": "spend_categories",
            "id": "SP",
            "attributes": {
              "name": "Spend Category Updated",
              "external_id": "SP-UPD",
              "usages": [
                "procurement"
              ]
            }
          }
        }
      },
      "external_update_response": {
        "value": {
          "data": {
            "id": "1",
            "type": "spend_categories",
            "attributes": {
              "name": "Spend Category Updated",
              "external_id": "SP-UPD",
              "usages": [
                "procurement"
              ]
            },
            "links": {
              "self": "https://api.us.workdayspend.com/services/spend_categories/v1/spend_categories/1"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "X-Api-Key",
        "in": "header",
        "description": "Company API key."
      },
      "user_token": {
        "type": "apiKey",
        "name": "X-User-Token",
        "in": "header",
        "description": "User token."
      },
      "user_email": {
        "type": "apiKey",
        "name": "X-User-Email",
        "in": "header",
        "description": "User email."
      }
    }
  },
  "x-tagGroups": [
    {
      "name": "Getting Started",
      "tags": [
        "support",
        "servers",
        "api_specification",
        "date_and_time_fields",
        "authentication",
        "rate_limiting",
        "external_ids",
        "pagination",
        "filters"
      ]
    },
    {
      "name": "Spend Categories",
      "tags": [
        "spend_categories"
      ]
    }
  ]
}