{
  "openapi": "3.0.2",
  "info": {
    "title": "Workday Strategic Sourcing Supplier API",
    "version": "1.0",
    "description": "<span id=\"section/Authentication/api_key\" data-section-id=\"section/Authentication/api_key\"></span>\n<span id=\"section/Authentication/user_token\" data-section-id=\"section/Authentication/user_token\"></span>\n<span id=\"section/Authentication/user_email\" data-section-id=\"section/Authentication/user_email\"></span>\n"
  },
  "servers": [
    {
      "url": "https://api.us.workdayspend.com/services/suppliers/v1",
      "description": "Production Server"
    },
    {
      "url": "https://api.sandbox.us.workdayspend.com/services/suppliers/v1",
      "description": "Sandbox Server"
    }
  ],
  "security": [
    {
      "api_key": [],
      "user_token": [],
      "user_email": []
    }
  ],
  "tags": [
    {
      "name": "support",
      "x-displayName": "Customer Support",
      "description": "We've provided detailed documentation below to guide you. However, if you need additional assistance, here's how you can get the support you need:\n\n* __Community Discussions:__ Join the conversation on our Workday Community Discussion Boards (found under the \"Collaborate\" section in community). Connect with other users, share best practices, and get answers to your configuration questions.\n* __Expert Configuration Assistance (Professional Services):__ For tailored, hands-on support with your specific project, our Professional Services team is available.\n  * Looking for personalized guidance? Workday Success Plan customers can submit an \"Ask\" for expert insights on configuration and best practices.\n  * Need custom solutions? Consider Expert Assist, our consulting service for detailed changes and project support.\n* __Reporting System Issues:__ If you suspect a problem with the Workday system itself, please connect with our dedicated support team. Your company's Named Support Contact (NSC) can log a Product Support Defect case. We'll review the issue based on its impact and Workday's service level agreement (SLA).\n"
    },
    {
      "name": "servers",
      "x-displayName": "Servers",
      "description": "### US Region\n| Environment       | US region Base URI                                               |\n|-------------------|------------------------------------------------------------------|\n| **Production**    | https://api.us.workdayspend.com/services/suppliers/v1         |\n| **Sandbox**       | https://api.sandbox.us.workdayspend.com/services/suppliers/v1 |\n\n### EU Region\n| Environment       | EU region Base URI                                                |\n|-------------------|-------------------------------------------------------------------|\n| **Production**    | https://api.eu.workdayspend.com/services/suppliers/v1          |\n| **Sandbox**       | https://api.sandbox.eu.workdayspend.com/services/suppliers/v1  |\n\n### CA Region\n| Environment       | CA region Base URI                                                |\n|-------------------|-------------------------------------------------------------------|\n| **Production**    | https://api.ca.workdayspend.com/services/suppliers/v1          |\n| **Sandbox**       | https://api.sandbox.ca.workdayspend.com/services/suppliers/v1  |\n"
    },
    {
      "name": "api_specification",
      "x-displayName": "API Specification",
      "description": "The API conforms to the [JSON API Specification](https://jsonapi.org).\n\nThe current version of this service is indicated by the `X-Api-Version` header.\n\nSample version header: `X-Api-Version: 1.0`.\n"
    },
    {
      "name": "date_and_time_fields",
      "x-displayName": "Date and Time Fields",
      "description": "Our API adheres to the ISO 8601 standard when accepting and formatting Date and Time fields. All Date and Time fields returned by this API will be in the **UTC** timezone.\n\nDate and Time fields sent to this API can be in any timezone, provided they adhere to the ISO 8601 standard.\n"
    },
    {
      "name": "authentication",
      "x-displayName": "Authentication",
      "description": "The Workday Strategic Sourcing API uses API keys to authenticate requests. Every request\nwill require all 3 HTTP headers:\n\n| HTTP Header       | Description               |\n|-------------------|---------------------------|\n| **X-Api-Key**     | a company-wide API key    |\n| **X-User-Token**  | a user-specific API token |\n| **X-User-Email**  | user email                |\n\nYou can generate all of those from the _API tokens_ section of your _Profile_ page.\n\nYour API keys carry many privileges, so be sure to keep them secure! Do not share your secret API\nkeys in publicly accessible areas such as GitHub, client-side code, and so forth.\n\nAll API requests must be made over [HTTPS](http://en.wikipedia.org/wiki/HTTP_Secure). Calls made\nover plain HTTP will fail. API requests without authentication will also fail.\n"
    },
    {
      "name": "rate_limiting",
      "x-displayName": "Rate Limiting",
      "description": "Rate limit windows are per second and are shared by all API Keys for a company.\n\nThe rate limit is 5 requests per second.\n\nWhen request submissions exceed the limits, the limit-exceeding requests return `429 Too Many Requests` error responses to the client.\n\nUpon receiving a `429` response, it is recommended to retry the request in compliance with the rate limit. One example would be to add a sleep function for 1 second and retry.\n"
    },
    {
      "name": "filters",
      "x-displayName": "Filters",
      "description": "The results can be filtered to a subset of the total set of results using `filter` query parameters.\n\nEndpoints that support filtering will include usage details in the Query Parameters section for the resource.\n\nMost filters that end in `equals` support a Query Parameter array format to filter by multiple values.\n\nExample:\n```\n?filter[status_equals][]=submitted&filter[status_equals][]=resubmitted\n```\n"
    },
    {
      "name": "pagination",
      "x-displayName": "Pagination",
      "description": "Paginated endpoints may return a subset of the total results for a `GET` request that returns multiple resources. Endpoints that support pagination will include usage details in the Query Parameters section for the resource.\n\nThe paginated results can be configured using the `page` query parameter to configure the number of returned results. The default pagination size is 10 results and the maximum pagination size is 100 results per request.\n\nEndpoints that support pagination may return \"self\" and \"next\" sections within the \"links\" section that navigate to the current and next pages respectively.\n\n\n### Example Paginated Request\n\n#### Request Query Parameter Format\n```\n/projects?page[size]=25\n```\n\n#### Response Schema\nThe paginated response will also include the following schema\n\n<SchemaDefinition schemaRef=\"#/components/schemas/Pagination\" exampleRef=\"#/components/examples/Pagination\" />\n"
    },
    {
      "name": "external_ids",
      "x-displayName": "External Identifiers (IDs)",
      "description": "The `external_id` field exists on many of the Workday Strategic Sourcing resources. This optional and mutable extension is intended to store foreign keys of the corresponding resource from a third party system. **These IDs are not considered Sourcing Data and may be logged in external systems. Do not include any sensitive or personal data in IDs.**\n\nThe purpose of external IDs is to:\n\n* Prevent duplicate record creation\n* Allow resources in Workday Strategic Sourcing and a third party system to share the same identifier\n* Allow for records to be queried or updated without requiring knowledge of the Workday Strategic Sourcing generated IDs\n"
    },
    {
      "name": "supplier_companies",
      "x-displayName": "Supplier Companies",
      "description": "Use the supplier companies API to create, update, and query the suppliers in Workday Strategic Sourcing.\n\n## Supplier Company Object\n\n<SchemaDefinition schemaRef=\"#/components/schemas/SupplierCompany\" exampleRef=\"#/components/examples/SupplierCompany\" showReadOnly={true} showWriteOnly={true} />\n\n\n\n## Supplier Classification Value Object\n\n<SchemaDefinition schemaRef=\"#/components/schemas/SupplierClassificationValue\" exampleRef=\"#/components/examples/SupplierClassificationValue\" showReadOnly={true} showWriteOnly={true} />\n\n## Supplier Classification Field Value Object\n\n<SchemaDefinition schemaRef=\"#/components/schemas/SupplierClassificationFieldValue\" exampleRef=\"#/components/examples/SupplierClassificationFieldValue\" showReadOnly={true} showWriteOnly={true} />\n"
    },
    {
      "name": "supplier_contacts",
      "x-displayName": "Supplier Contacts",
      "description": "## Supplier Contact Object\n\n<SchemaDefinition schemaRef=\"#/components/schemas/SupplierContact\" exampleRef=\"#/components/examples/SupplierContact\" showReadOnly={true} showWriteOnly={true} />\n"
    },
    {
      "name": "supplier_classifications",
      "x-displayName": "Supplier Classifications",
      "description": "## Supplier Classification Object\n\n<SchemaDefinition schemaRef=\"#/components/schemas/SupplierClassification\" exampleRef=\"#/components/examples/SupplierClassification\" showReadOnly={true} showWriteOnly={true} />\n"
    },
    {
      "name": "supplier_company_segmentations",
      "x-displayName": "Supplier Company Segmentations",
      "description": "Use the supplier company segmentations API to create, update, and query the supplier company segmentations in Workday Strategic Sourcing.\n\n## Supplier Company Segmentation Object\n\n<SchemaDefinition schemaRef=\"#/components/schemas/SupplierCompanySegmentation\" showReadOnly={true} showWriteOnly={true} />\n"
    },
    {
      "name": "supplier_company_risks",
      "x-displayName": "Supplier Company Risks",
      "description": "Use the supplier company risks API to create, update, and query the supplier company risks in Workday Strategic Sourcing.\n\n## Supplier Company Risk Object\n\n<SchemaDefinition schemaRef=\"#/components/schemas/SupplierCompanyRisk\" showReadOnly={true} showWriteOnly={true} />\n"
    },
    {
      "name": "supplier_company_segmentation_statuses",
      "x-displayName": "Supplier Company Segmentation Statuses",
      "description": "Use the supplier company segmentation statuses API to create, update, and query the supplier company segmentation statuses in Workday Strategic Sourcing.\n\n## Supplier Company Segmentation Status Object\n\n<SchemaDefinition schemaRef=\"#/components/schemas/SupplierCompanySegmentationStatus\" showReadOnly={true} showWriteOnly={true} />\n"
    },
    {
      "name": "supplier_categories",
      "x-displayName": "Supplier Categories",
      "description": "Use the supplier categories API to create, update, and query the supplier categories in Workday Strategic Sourcing.\n\n## Supplier Category Object\n\n<SchemaDefinition schemaRef=\"#/components/schemas/SupplierCategory\" showReadOnly={true} showWriteOnly={true} />\n"
    },
    {
      "name": "supplier_groups",
      "x-displayName": "Supplier Groups",
      "description": "Use the supplier groups API to create, update, and query the supplier groups in Workday Strategic Sourcing.\n\n## Supplier Group Object\n\n<SchemaDefinition schemaRef=\"#/components/schemas/SupplierGroup\" showReadOnly={true} showWriteOnly={true} />\n"
    },
    {
      "name": "contact_types",
      "x-displayName": "Contact Types",
      "description": "Use the contact types API to create, update, and query the contact types in Workday Strategic Sourcing.\n\n## ContactType Object\n\n<SchemaDefinition schemaRef=\"#/components/schemas/ContactType\" showReadOnly={true} showWriteOnly={true} />\n"
    }
  ],
  "paths": {
    "/supplier_companies": {
      "get": {
        "tags": [
          "supplier_companies"
        ],
        "description": "Returns a list of supplier companies for the specified criteria.",
        "operationId": "List Supplier Companies",
        "summary": "List Supplier Companies",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter supplier companies by multiple criteria. Only one filter per attribute is supported.\nFor best performance, we recommend 5 or less filters.\n",
            "schema": {
              "$ref": "#/components/schemas/SupplierCompanyInputFilter"
            }
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SupplierCompanyRelatedResources"
            },
            "description": "To reduce the number of HTTP requests, related resources can be requested along with the\nrequested primary resources. Such responses are called \"compound documents\". In a compound\ndocument, all included resources will be represented as an array of resource objects in a\ntop-level `included` member.\n\nThe value of the `include` parameter must be a comma-separated list of relationships from\nthe list of available relationships.\n\n\n\n```\n/supplier_companies?include=payment_types,default_payment_type\n```\n\nIn the response, relationships will be represented as normal linkage objects (containing\n`id` and `type`), and full related resource details will be presented in the `included`\nsection as resource objects (with `attributes`, `links`, and potentially `relationships`).\n"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Customize pagination results with `size`.\n",
            "schema": {
              "$ref": "#/components/schemas/PageInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SupplierCompany"
                          }
                        },
                        "included": {
                          "$ref": "#/components/schemas/SupplierCompanyIncludedResources"
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                },
                "examples": {
                  "default response": {
                    "$ref": "#/components/examples/index_response"
                  },
                  "compound document": {
                    "$ref": "#/components/examples/index_compound_response"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                },
                "examples": {
                  "include_not_supported": {
                    "summary": "'include' parameter is not supported",
                    "description": "Returns error due to unsupported [parameter `include`](https://jsonapi.org/format/#fetching-includes).\n",
                    "value": {
                      "errors": [
                        {
                          "detail": "'include' parameter does not support following values: [\"comments\"]"
                        }
                      ]
                    }
                  },
                  "sort_not_supported": {
                    "summary": "'sort' parameter is not supported",
                    "description": "Returns error due to unsupported [parameter `sort`](https://jsonapi.org/format/#fetching-sorting).\n",
                    "value": {
                      "errors": [
                        {
                          "detail": "'sort' parameter is not supported"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_companies\"\n"
          }
        ]
      },
      "post": {
        "tags": [
          "supplier_companies"
        ],
        "description": "Create a supplier company with given attributes, relationships, and related complex resources.\n\nWhen creating a supplier company with relationships, keep in mind that there are two kinds of\nrelationships: linked resources and composite resources.\n\n## Linked Resources\n\nThese are normal relationship resources managed outside of primary resource (supplier company).\nFor example, payment currencies exist on their own, and can be assigned to one or many supplier\ncompanies, contracts, etc. These resources usually have their own API management endpoints.\n\nAll related objects should exist prior to being linked to the supplier company. They can be\nreferenced by Workday Strategic Sourcing identifier, or by external ID; in the latter case, the relationship\nname is used with prefix `external_`. For example, a payment currency with Workday Strategic Sourcing ID `\"1\"` and\nexternal ID `\"C$EUR\"` can be used to initialize `default_payment_currency`:\n\n```json\n{\n  \"default_payment_currency\": {\n    \"data\" {\n      \"id\": \"1\",\n      \"type\": \"payment_currencies\"\n    }\n  }\n}\n```\n\n```json\n{\n  \"external_default_payment_currency\": {\n    \"data\" {\n      \"id\": \"C$EUR\",\n      \"type\": \"payment_currencies\"\n    }\n  }\n}\n```\n\nWhen `external_` prefix is applied to a \"many\" relationship, like `external_payment_currencies`,\nall of the identifiers will be treated as external IDs.\n\n\n",
        "operationId": "Create a Supplier Company",
        "summary": "Create a Supplier Company",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SupplierCompanyRelatedResources"
            },
            "description": "Use the `include` parameter to request related resources along with the primary resource.\n(see \"List Supplier Companies\" for more details).\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/SupplierCompanyCreate"
                  }
                }
              },
              "examples": {
                "simple request": {
                  "$ref": "#/components/examples/create_request"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SupplierCompany"
                    }
                  }
                },
                "examples": {
                  "default response": {
                    "$ref": "#/components/examples/create_response"
                  },
                  "compound response": {
                    "$ref": "#/components/examples/create_compound_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":{\"type\":\"supplier_companies\",\"attributes\":{\"name\":\"My Supplier\"}}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_companies\"\n"
          }
        ]
      }
    },
    "/supplier_companies/{id}": {
      "get": {
        "tags": [
          "supplier_companies"
        ],
        "description": "Retrieves the details of an existing supplier company. You need to supply the unique supplier\ncompany identifier that was returned upon supplier company creation.\n",
        "operationId": "Get a Supplier Company",
        "summary": "Get a Supplier Company",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique Supplier Company identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SupplierCompanyRelatedResources"
            },
            "description": "Use the `include` parameter to request related resources along with the primary resource.\n(see \"List Supplier Companies\" for more details).\n"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SupplierCompany"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/show_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_companies/1\"\n"
          }
        ]
      },
      "patch": {
        "tags": [
          "supplier_companies"
        ],
        "description": "Updates the details of an existing supplier company. You need to supply the unique supplier\ncompany identifier that was returned upon supplier company creation.\n\nPlease note, that request body must include an `id` attribute with the value of your supplier\nunique identifier (the same one you passed in the URL).\n\n## Linked Resources\n\nWhen updating relationships on a supplier company resource, keep in mind the whole relationship\nwill be replaced the new values. For example, if a supplier company has currencies with IDs\n`\"1\"` and `\"2\"`, and in update request payload `payment_currencies` relationship is specified\nwith ID `\"3\"`, the only payment currency associated after the request succeeded will be `\"3\"`.\n\n\n",
        "operationId": "Update a Supplier Company",
        "summary": "Update a Supplier Company",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique Supplier Company identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SupplierCompanyRelatedResources"
            },
            "description": "Use the `include` parameter to request related resources along with the primary resource.\n(see \"List Supplier Companies\" for more details).\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/SupplierCompanyUpdate"
                  }
                }
              },
              "examples": {
                "simple request": {
                  "$ref": "#/components/examples/update_request"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SupplierCompany"
                    }
                  }
                },
                "examples": {
                  "default response": {
                    "$ref": "#/components/examples/update_response"
                  },
                  "compound response": {
                    "$ref": "#/components/examples/update_compound_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                },
                "examples": {
                  "invalid_type": {
                    "summary": "Missing or invalid 'type' specified, expected 'supplier_companies'",
                    "description": "Returns error due to invalid `type` parameter.\n",
                    "value": {
                      "errors": [
                        {
                          "detail": "Missing or invalid 'type' specified, expected 'supplier_companies'"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"supplier_companies\",\"id\":\"1\",\"attributes\":{\"segmentation_status\": \"out_of_compliance\"}}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_companies/1\"\n"
          }
        ]
      },
      "delete": {
        "tags": [
          "supplier_companies"
        ],
        "description": "Deletes a supplier company. You need to supply the unique supplier\ncompany identifier that was returned upon supplier company creation.\n",
        "operationId": "Delete a Supplier Company",
        "summary": "Delete a Supplier Company",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique Supplier Company identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_companies/1\"\n"
          }
        ]
      }
    },
    "/supplier_companies/{external_id}/external_id": {
      "get": {
        "tags": [
          "supplier_companies"
        ],
        "description": "Retrieves the details of an existing supplier company. You need to supply the unique supplier\ncompany external identifier (the one you used when created the supplier company).\n",
        "operationId": "Get a Supplier Company by External ID",
        "summary": "Get a Supplier Company by External ID",
        "parameters": [
          {
            "name": "external_id",
            "in": "path",
            "description": "Supplier company external identifier.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1234-5678-abcd-efgh"
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SupplierCompanyRelatedResources"
            },
            "description": "Use the `include` parameter to request related resources along with the primary resource.\n(see \"List Supplier Companies\" for more details).\n"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SupplierCompany"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/external_show_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_companies/SUP-1234/external_id\"\n"
          }
        ]
      },
      "patch": {
        "tags": [
          "supplier_companies"
        ],
        "description": "Updates the details of an existing supplier company. You need to supply the unique supplier\ncompany external identifier (the one you used when created the supplier company).\n\nPlease note, that request body must include an `id` attribute with the value of your supplier\nexternal identifier (the same one you passed in the URL).\n",
        "operationId": "Update a Supplier Company by External ID",
        "summary": "Update a Supplier Company by External ID",
        "parameters": [
          {
            "name": "external_id",
            "in": "path",
            "description": "Supplier company external identifier.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1234-5678-abcd-efgh"
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SupplierCompanyRelatedResources"
            },
            "description": "Use the `include` parameter to request related resources along with the primary resource.\n(see \"List Supplier Companies\" for more details).\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/SupplierCompanyUpdate"
                  }
                }
              },
              "examples": {
                "success": {
                  "$ref": "#/components/examples/external_update_request"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SupplierCompany"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/external_update_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"supplier_companies\",\"id\":\"SUP-1234\",attributes\":{\"segmentation_status\": \"out_of_compliance\"}}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_companies/SUP-1234/external_id\"\n"
          }
        ]
      },
      "delete": {
        "tags": [
          "supplier_companies"
        ],
        "description": "Deletes a supplier company. You need to supply the unique supplier\ncompany external identifier (the one you used when created the supplier company).\n",
        "operationId": "Delete a Supplier Company by External ID",
        "summary": "Delete a Supplier Company by External ID",
        "parameters": [
          {
            "name": "external_id",
            "in": "path",
            "description": "Supplier company external identifier.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1234-5678-abcd-efgh"
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_companies/SUP-1234/external_id\"\n"
          }
        ]
      }
    },
    "/supplier_companies/{company_id}/supplier_contacts": {
      "get": {
        "tags": [
          "supplier_contacts"
        ],
        "description": "Retrieves the list of contacts for an existing supplier company.\n",
        "operationId": "List Supplier Contacts",
        "summary": "List Supplier Contacts",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "Unique supplier company identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SupplierContactRelatedResources"
            },
            "description": "To reduce the number of HTTP requests, related resources can be requested along with the\nrequested primary resources. Such responses are called \"compound documents\". In a compound\ndocument, all included resources will be represented as an array of resource objects in a\ntop-level `included` member.\n\nThe value of the `include` parameter must be a comma-separated list of relationships from\nthe list of available relationships.\n\n\n\n```\n/supplier_contacts?include=supplier_company\n```\n\nIn the response, relationships will be represented as normal linkage objects (containing\n`id` and `type`), and related resource details will be presented in the `included`\nsection as resource objects (with `attributes` that have a corresponding `external_id`).\n"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter supplier contacts by multiple criteria. Only one filter per attribute is supported.\nFor best performance, we recommend 5 or less filters.\n",
            "schema": {
              "$ref": "#/components/schemas/SupplierContactInputFilter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SupplierContact"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                },
                "examples": {
                  "default response": {
                    "$ref": "#/components/examples/index_response-2"
                  },
                  "compound response": {
                    "$ref": "#/components/examples/index_compound_response-2"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_companies/1/supplier_contacts\"\n"
          }
        ]
      }
    },
    "/supplier_companies/describe": {
      "get": {
        "tags": [
          "supplier_companies"
        ],
        "description": "Returns a list of fields for the supplier company object.",
        "operationId": "Describe Supplier Company object",
        "summary": "Describe Supplier Company object",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SupplierCompanyFieldModel"
                          }
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/describe_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_companies/describe\"\n"
          }
        ]
      }
    },
    "/supplier_contacts": {
      "post": {
        "tags": [
          "supplier_contacts"
        ],
        "description": "Create a supplier contact with given attributes.\n\n## Linked Resources\n\nThe supplier company should exist prior to being linked to the supplier contact. It can be\nreferenced by Workday Strategic Sourcing identifier, or by external ID; in the latter case, the relationship\nname is used with prefix `external_`. For example, a supplier company with Workday Strategic Sourcing ID `\"1\"` and\nexternal ID `\"SCM-1\"` can be used to initialize `supplier_company`:\n\n```json\n{\n  \"supplier_company\": {\n    \"data\" {\n      \"id\": \"1\",\n      \"type\": \"supplier_companies\"\n    }\n  }\n}\n```\n\n```json\n{\n  \"external_supplier_company\": {\n    \"data\" {\n      \"id\": \"SCM-1\",\n      \"type\": \"supplier_companies\"\n    }\n  }\n}\n```\n",
        "operationId": "Create a Supplier Contact",
        "summary": "Create a Supplier Contact",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SupplierContactRelatedResources"
            },
            "description": "Use the `include` parameter to request a primary resource `supplier company`.\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/SupplierContactCreate"
                  }
                }
              },
              "examples": {
                "with_supplier_company": {
                  "$ref": "#/components/examples/create_with_supplier_company_request"
                },
                "with_external_supplier_company": {
                  "$ref": "#/components/examples/create_with_external_supplier_company_request"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SupplierContact"
                    }
                  }
                },
                "examples": {
                  "default response": {
                    "$ref": "#/components/examples/create_response-2"
                  },
                  "compound response": {
                    "$ref": "#/components/examples/create_compound_response-2"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":{\"type\":\"supplier_contacts\",\"attributes\":{\"name\":\"My Supplier\"}}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_contacts\"\n"
          }
        ]
      }
    },
    "/supplier_contacts/{id}": {
      "get": {
        "tags": [
          "supplier_contacts"
        ],
        "description": "Retrieves the details of an existing supplier contact.\n",
        "operationId": "Get a Supplier Contact",
        "summary": "Get a Supplier Contact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique supplier contact identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SupplierContactRelatedResources"
            },
            "description": "Use the `include` parameter to request a primary resource `supplier company`.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SupplierContact"
                    }
                  }
                },
                "examples": {
                  "default response": {
                    "$ref": "#/components/examples/show_response-2"
                  },
                  "compound response": {
                    "$ref": "#/components/examples/show_compound_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_contacts/1\"\n"
          }
        ]
      },
      "patch": {
        "tags": [
          "supplier_contacts"
        ],
        "description": "Updates the details of an existing supplier contact. You need to supply the unique supplier\ncompany and contact identifiers.\n\nPlease note, that request body must include an `id` attribute with the value of your supplier\ncontact unique identifier (the same one you passed in the URL).\n",
        "operationId": "Update a Supplier Contact",
        "summary": "Update a Supplier Contact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique supplier contact identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SupplierContactRelatedResources"
            },
            "description": "Use the `include` parameter to request a primary resource `supplier company`.\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/SupplierContactUpdate"
                  }
                }
              },
              "examples": {
                "success": {
                  "$ref": "#/components/examples/update_request-2"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SupplierContact"
                    }
                  }
                },
                "examples": {
                  "default response": {
                    "$ref": "#/components/examples/update_response-2"
                  },
                  "compound response": {
                    "$ref": "#/components/examples/update_compound_response-2"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                },
                "examples": {
                  "invalid_type": {
                    "summary": "Missing or invalid 'type' specified, expected 'supplier_contacts'",
                    "description": "Returns error due to invalid `type` parameter.\n",
                    "value": {
                      "errors": [
                        {
                          "detail": "Missing or invalid 'type' specified, expected 'supplier_contacts'"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"supplier_contacts\",\"id\":\"1\",\"attributes\":{\"segmentation_status\": \"out_of_compliance\"}}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_contacts/1\"\n"
          }
        ]
      },
      "delete": {
        "tags": [
          "supplier_contacts"
        ],
        "description": "Deletes a supplier contact.\n",
        "operationId": "Delete a Supplier Contact",
        "summary": "Delete a Supplier Contact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique supplier contact identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_contacts/1/external_id\"\n"
          }
        ]
      }
    },
    "/supplier_companies/{external_id}/supplier_contacts/external_id": {
      "get": {
        "tags": [
          "supplier_contacts"
        ],
        "description": "Retrieves the list of contacts for an existing supplier company by Supplier Company External ID.\n",
        "operationId": "List Supplier Contacts by Supplier Company External ID",
        "summary": "List Supplier Contacts by Supplier Company External ID",
        "parameters": [
          {
            "name": "external_id",
            "in": "path",
            "description": "Supplier company external identifier.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1234-5678-abcd-efgh"
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SupplierContactRelatedResources"
            },
            "description": "To reduce the number of HTTP requests, related resources can be requested along with the\nrequested primary resources. Such responses are called \"compound documents\". In a compound\ndocument, all included resources will be represented as an array of resource objects in a\ntop-level `included` member.\n\nThe value of the `include` parameter must be a comma-separated list of relationships from\nthe list of available relationships.\n\n\n\n```\n/supplier_contacts?include=supplier_company\n```\n\nIn the response, relationships will be represented as normal linkage objects (containing\n`id` and `type`), and related resource details will be presented in the `included`\nsection as resource objects (with `attributes` that have a corresponding `external_id`).\n"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter supplier contacts by multiple criteria. Only one filter per attribute is supported.\nFor best performance, we recommend 5 or less filters.\n",
            "schema": {
              "$ref": "#/components/schemas/SupplierContactInputFilter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SupplierContact"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                },
                "examples": {
                  "default response": {
                    "$ref": "#/components/examples/external_index_response"
                  },
                  "compound response": {
                    "$ref": "#/components/examples/external_index_compound_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_companies/1234-5678-abcd-efgh/supplier_contacts/external_id\"\n"
          }
        ]
      }
    },
    "/supplier_contacts/{external_id}/external_id": {
      "get": {
        "tags": [
          "supplier_contacts"
        ],
        "description": "Retrieves the details of an existing supplier contact by Supplier Contact External ID.\n",
        "operationId": "Get a Supplier Contact by External ID",
        "summary": "Get a Supplier Contact by External ID",
        "parameters": [
          {
            "name": "external_id",
            "in": "path",
            "description": "Unique supplier contact identifier.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CNT-17"
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SupplierContactRelatedResources"
            },
            "description": "Use the `include` parameter to request a primary resource `supplier company`.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SupplierContact"
                    }
                  }
                },
                "examples": {
                  "default response": {
                    "$ref": "#/components/examples/external_show_response-2"
                  },
                  "compound response": {
                    "$ref": "#/components/examples/external_show_compound_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_contacts/CNT-17/external_id\"\n"
          }
        ]
      },
      "patch": {
        "tags": [
          "supplier_contacts"
        ],
        "description": "Updates the details of an existing supplier contact by Supplir Contact External ID.\n\nPlease note, that request body must include an `id` attribute with the value of your supplier\ncontact unique identifier (the same one you passed in the URL).\n",
        "operationId": "Update a Supplier Contact by External ID",
        "summary": "Update a Supplier Contact by External ID",
        "parameters": [
          {
            "name": "external_id",
            "in": "path",
            "description": "Unique supplier contact external identifier.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CNT-17"
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SupplierContactRelatedResources"
            },
            "description": "Use the `include` parameter to request a primary resource `supplier company`.\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/SupplierContactUpdate"
                  }
                }
              },
              "examples": {
                "success": {
                  "$ref": "#/components/examples/external_update_request-2"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SupplierContact"
                    }
                  }
                },
                "examples": {
                  "default response": {
                    "$ref": "#/components/examples/external_update_response-2"
                  },
                  "compound response": {
                    "$ref": "#/components/examples/external_update_compound_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"supplier_contacts\",\"id\":\"1\",\"attributes\":{\"segmentation_status\": \"out_of_compliance\"}}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_contacts/CNT-17/external_id\"\n"
          }
        ]
      },
      "delete": {
        "tags": [
          "supplier_contacts"
        ],
        "description": "Deletes a supplier contact by Supplier Contact External ID.\n",
        "operationId": "Delete a Supplier Contact by External ID",
        "summary": "Delete a Supplier Contact by External ID",
        "parameters": [
          {
            "name": "external_id",
            "in": "path",
            "description": "Unique supplier contact identifier.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CNT-17"
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_contacts/CNT-17/external_id\"\n"
          }
        ]
      }
    },
    "/contact_types": {
      "get": {
        "tags": [
          "contact_types"
        ],
        "description": "Returns a list of contact types.",
        "operationId": "List Contact Types",
        "summary": "List Contact Types",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ContactType"
                      }
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/index_response-3"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/contact_types\"\n"
          }
        ]
      },
      "post": {
        "tags": [
          "contact_types"
        ],
        "description": "Create a contact type with given parameters.\n",
        "operationId": "Create a Contact Type",
        "summary": "Create a Contact Type",
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/ContactTypeCreate"
                  }
                }
              },
              "examples": {
                "success": {
                  "$ref": "#/components/examples/create_request-2"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ContactType"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/create_response-3"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":{\"type\":\"contact_types\",\"attributes\":{\"name\":\"Contact Type\"}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/contact_types\"\n"
          }
        ]
      }
    },
    "/contact_types/{id}": {
      "patch": {
        "tags": [
          "contact_types"
        ],
        "description": "Updates the details of an existing contact type. You need to supply the unique\nidentifier that was returned upon contact type creation.\n\nPlease note, that request body must include an `id` attribute with the value of your contact type\nunique identifier (the same one you passed in the URL).\n",
        "operationId": "Update a Contact Type",
        "summary": "Update a Contact Type",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique contact type identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/ContactTypeUpdate"
                  }
                }
              },
              "examples": {
                "success": {
                  "$ref": "#/components/examples/update_request-3"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ContactType"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/update_response-3"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                },
                "examples": {
                  "invalid_type": {
                    "summary": "Missing or invalid 'type' specified, expected 'contact_types'",
                    "description": "Returns error due to invalid `type` parameter.\n",
                    "value": {
                      "errors": [
                        {
                          "detail": "Missing or invalid 'type' specified, expected 'contact_types'"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"contact_types\",\"id\":\"2\",\"attributes\":{\"name\":\"Updated Field Contact Type\"}}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/contact_types/2\"\n"
          }
        ]
      },
      "delete": {
        "tags": [
          "contact_types"
        ],
        "description": "Deletes a contact type. You need to supply the unique contact type\nidentifier that was returned upon contact type creation.\n",
        "operationId": "Delete a Contact Type",
        "summary": "Delete a Contact Type",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique contact type identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/contact_types/1\"\n"
          }
        ]
      }
    },
    "/contact_types/{external_id}/external_id": {
      "patch": {
        "tags": [
          "contact_types"
        ],
        "description": "Updates the details of an existing contact type. You need to supply the unique\nexternal identifier assigned to the contact type on creation.\n\nPlease note, that request body must include an `id` attribute with the value of your contact type\nunique identifier (the same one you passed in the URL).\n",
        "operationId": "Update a Contact Type by External ID",
        "summary": "Update a Contact Type by External ID",
        "parameters": [
          {
            "name": "external_id",
            "in": "path",
            "description": "Unique contact type external identifier.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CTYPE"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/ContactTypeUpdate"
                  }
                }
              },
              "examples": {
                "success": {
                  "$ref": "#/components/examples/external_update_request-3"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ContactType"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/external_update_response-3"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"contact_types\",\"id\":\"CTYPE\",\"attributes\":{\"name\":\"Updated Field Contact Type\"}}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/contact_types/CTYPE/external_id\"\n"
          }
        ]
      },
      "delete": {
        "tags": [
          "contact_types"
        ],
        "description": "Deletes a contact type. You need to supply the unique contact type\nexternal identifier assigned to the contact type on creation.\n",
        "operationId": "Delete a Contact Type by External ID",
        "summary": "Delete a Contact Type by External ID",
        "parameters": [
          {
            "name": "external_id",
            "in": "path",
            "description": "Unique contact type external identifier.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CTYPE"
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/contact_types/CTYPE/external_id\"\n"
          }
        ]
      }
    },
    "/supplier_company_segmentations": {
      "get": {
        "tags": [
          "supplier_company_segmentations"
        ],
        "description": "Returns a list of supplier company segmentations.",
        "operationId": "List Supplier Company Segmentations",
        "summary": "List Supplier Company Segmentations",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SupplierCompanySegmentation"
                      }
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/index_response-5"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_company_segmentations\"\n"
          }
        ]
      },
      "post": {
        "tags": [
          "supplier_company_segmentations"
        ],
        "description": "Create a supplier company segmentation with given parameters.\n",
        "operationId": "Create a Supplier Company Segmentation",
        "summary": "Create a Supplier Company Segmentation",
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/SupplierCompanySegmentationCreate"
                  }
                }
              },
              "examples": {
                "without_slug": {
                  "$ref": "#/components/examples/create_request-4"
                },
                "with_slug": {
                  "$ref": "#/components/examples/create_with_slug_request"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SupplierCompanySegmentation"
                    }
                  }
                },
                "examples": {
                  "without_slug": {
                    "$ref": "#/components/examples/create_response-5"
                  },
                  "with_slug": {
                    "$ref": "#/components/examples/create_with_slug_response"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                },
                "examples": {
                  "invalid_type": {
                    "summary": "Missing or invalid 'type' specified, expected 'supplier_company_segmentations'",
                    "description": "Returns error due to invalid `type` parameter.\n",
                    "value": {
                      "errors": [
                        {
                          "detail": "Missing or invalid 'type' specified, expected 'supplier_company_segmentations'"
                        }
                      ]
                    }
                  },
                  "duplicate_label": {
                    "summary": "Duplicate `label` value provided",
                    "description": "Returns error due to already taken `label` attribute.\n",
                    "value": {
                      "errors": [
                        {
                          "source": {
                            "pointer": "/data/attributes/label"
                          },
                          "title": "Validation Error",
                          "detail": "label has already been taken"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl without slug",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":{\"type\":\"supplier_company_segmentations\",\"attributes\":{\"label\":\"Tier 5\",\"order\":5}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_company_segmentations\"\n"
          },
          {
            "label": "Curl with slug",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":{\"type\":\"supplier_company_segmentations\",\"attributes\":{\"label\":\"Tier 5\",\"order\":5,\"slug\":\"tier_5\"}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_company_segmentations\"\n"
          }
        ]
      }
    },
    "/supplier_company_segmentations/{id}": {
      "patch": {
        "tags": [
          "supplier_company_segmentations"
        ],
        "description": "Updates the details of an existing supplier company segmentation. You need to supply the unique\nidentifier that was returned upon supplier company segmentation creation.\n\nPlease note, that request body must include an `id` attribute with the value of your supplier company segmentation\nunique identifier (the same one you passed in the URL).\n",
        "operationId": "Update a Supplier Company Segmentation",
        "summary": "Update a Supplier Company Segmentation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique supplier company segmentation identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/SupplierCompanySegmentationUpdate"
                  }
                }
              },
              "examples": {
                "success": {
                  "$ref": "#/components/examples/update_request-5"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SupplierCompanySegmentation"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/update_response-5"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                },
                "examples": {
                  "invalid_type": {
                    "summary": "Missing or invalid 'type' specified, expected 'supplier_company_segmentations'",
                    "description": "Returns error due to invalid `type` parameter.\n",
                    "value": {
                      "errors": [
                        {
                          "detail": "Missing or invalid 'type' specified, expected 'supplier_company_segmentations'"
                        }
                      ]
                    }
                  },
                  "duplicate_label": {
                    "summary": "Duplicate `label` value provided",
                    "description": "Returns error due to already taken `label` attribute.\n",
                    "value": {
                      "errors": [
                        {
                          "source": {
                            "pointer": "/data/attributes/label"
                          },
                          "title": "Validation Error",
                          "detail": "label has already been taken"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"supplier_company_segmentations\",\"id\":\"2\",\"attributes\":{\"name\":\"Updated Field Supplier Company Segmentation\"}}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_company_segmentations/2\"\n"
          }
        ]
      },
      "delete": {
        "tags": [
          "supplier_company_segmentations"
        ],
        "description": "Deletes a supplier company segmentation. You need to supply the unique supplier company segmentation\nidentifier that was returned upon supplier company segmentation creation.\n",
        "operationId": "Delete a Supplier Company Segmentation",
        "summary": "Delete a Supplier Company Segmentation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique supplier company segmentation identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_company_segmentations/1\"\n"
          }
        ]
      }
    },
    "/supplier_company_risks": {
      "get": {
        "tags": [
          "supplier_company_risks"
        ],
        "description": "Returns a list of supplier company risks.",
        "operationId": "List Supplier Company Risks",
        "summary": "List Supplier Company Risks",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SupplierCompanyRisk"
                      }
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/index_response-6"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_company_risks\"\n"
          }
        ]
      },
      "post": {
        "tags": [
          "supplier_company_risks"
        ],
        "description": "Create a supplier company risk with given parameters.\n",
        "operationId": "Create a Supplier Company Risk",
        "summary": "Create a Supplier Company Risk",
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/SupplierCompanyRiskCreate"
                  }
                }
              },
              "examples": {
                "general": {
                  "$ref": "#/components/examples/create_request-5"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SupplierCompanyRisk"
                    }
                  }
                },
                "examples": {
                  "general": {
                    "$ref": "#/components/examples/create_response-6"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                },
                "examples": {
                  "invalid_type": {
                    "summary": "Missing or invalid 'type' specified, expected 'supplier_company_risks'",
                    "description": "Returns error due to invalid `type` parameter.\n",
                    "value": {
                      "errors": [
                        {
                          "detail": "Missing or invalid 'type' specified, expected 'supplier_company_risks'"
                        }
                      ]
                    }
                  },
                  "duplicate_label": {
                    "summary": "Duplicate `label` value provided",
                    "description": "Returns error due to already taken `label` attribute.\n",
                    "value": {
                      "errors": [
                        {
                          "source": {
                            "pointer": "/data/attributes/label"
                          },
                          "title": "Validation Error",
                          "detail": "label has already been taken"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":{\"type\":\"supplier_company_risks\",\"attributes\":{\"label\":\"Super High!\",\"color\": \"red\",\"order\":4}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_company_risks\"\n"
          }
        ]
      }
    },
    "/supplier_company_risks/{id}": {
      "patch": {
        "tags": [
          "supplier_company_risks"
        ],
        "description": "Updates the details of an existing supplier company risk. You need to supply the unique\nidentifier that was returned upon supplier company risk creation.\n\nPlease note, that request body must include an `id` attribute with the value of your supplier company risk\nunique identifier (the same one you passed in the URL).\n",
        "operationId": "Update a Supplier Company Risk",
        "summary": "Update a Supplier Company Risk",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique supplier company risk identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/SupplierCompanyRiskUpdate"
                  }
                }
              },
              "examples": {
                "success": {
                  "$ref": "#/components/examples/update_request-6"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SupplierCompanyRisk"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/update_response-6"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                },
                "examples": {
                  "invalid_type": {
                    "summary": "Missing or invalid 'type' specified, expected 'supplier_company_risks'",
                    "description": "Returns error due to invalid `type` parameter.\n",
                    "value": {
                      "errors": [
                        {
                          "detail": "Missing or invalid 'type' specified, expected 'supplier_company_risks'"
                        }
                      ]
                    }
                  },
                  "duplicate_label": {
                    "summary": "Duplicate `label` value provided",
                    "description": "Returns error due to already taken `label` attribute.\n",
                    "value": {
                      "errors": [
                        {
                          "source": {
                            "pointer": "/data/attributes/label"
                          },
                          "title": "Validation Error",
                          "detail": "label has already been taken"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"supplier_company_risks\",\"id\":\"2\",\"attributes\":{\"label\":\"Very High\",\"color\":\"red\",\"order\":1}}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_company_risks/2\"\n"
          }
        ]
      },
      "delete": {
        "tags": [
          "supplier_company_risks"
        ],
        "description": "Deletes a supplier company risk. You need to supply the unique supplier company risk\nidentifier that was returned upon supplier company risk creation.\n",
        "operationId": "Delete a Supplier Company Risk",
        "summary": "Delete a Supplier Company Risk",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique supplier company risk identifier.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_company_risks/1\"\n"
          }
        ]
      }
    },
    "/supplier_company_segmentation_statuses": {
      "get": {
        "tags": [
          "supplier_company_segmentation_statuses"
        ],
        "description": "Returns a list of supplier company segmentation_statuses.",
        "operationId": "List Supplier Company segmentation_statuses",
        "summary": "List Supplier Company segmentation_statuses",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SupplierCompanySegmentationStatus"
                      }
                    }
                  }
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/index_response-7"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_company_segmentation_statuses\"\n"
          }
        ]
      },
      "post": {
        "tags": [
          "supplier_company_segmentation_statuses"
        ],
        "description": "Create a supplier company segmentation status with given parameters.\n",
        "operationId": "Create a Supplier Company Segmentation Status",
        "summary": "Create a Supplier Company Segmentation Status",
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/SupplierCompanySegmentationStatusCreate"
                  }
                }
              },
              "examples": {
                "general": {
                  "$ref": "#/components/examples/create_request-6"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SupplierCompanySegmentationStatus"
                    }
                  }
                },
                "examples": {
                  "general": {
[...]
